<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"><i class="icon-pencil icon m-r"></i>Edit Task <a ng-href='#/app/task/{{task_data.task.slug}}'  class="m-l small">(View task)</a>
  <a  class="small m-l text-danger" ng-show="current_user.id == task_data.task.user_id" ng-click="deleteTask();">(Delete) </a>
  </h1>
</div>
<div class="wrapper-md bg-white-only">
  <!-- toaster directive -->
    <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
  <!-- / toaster directive -->
  <div class="row">
    <div class="col-md-12 horizontal">  
      <div>
          <span ng-show='errors.title' class="help-block pomo">{{ errors.title[0] }}</span>
          <input type="text"  placeholder="What needs to be done? Give it a Title" required class="form-control input-lg" ng-model='task_data.task.title' />
      </div>
      <div class="line line-dashed b-b line-lg pull-in"></div>
      <div class="m-t">
         <span ng-show='errors.title' class="help-block pomo">{{ errors.summary[0] }}</span>
         <div lazy-load="textAngular">
          <div text-angular ng-model="task_data.task.summary" required placeholder='How about explaining it a little more?' class="btn-groups"></div>
        </div>
      </div>
      <div class="line line-dashed b-b line-lg pull-in"></div> 
      <label class="h4 font-thin m-b">Skills </label>
      <div class="input-group add-on col-sm-6 col-xs-12" >

        <tags-input ng-model="new_skill" placeholder="Enter a skill"  on-tag-added='addSkill();' >
          <auto-complete source="loadSkills($query)"></auto-complete>
        </tags-input>
      </div>
      <button class="btn m-r m-t btn-sm btn-default btn-addon" ng-repeat='skill in task_data.skills'><i class="fa fa-minus pull-right color-danger" ng-click="removeSkill(skill.id, skill.tag_type);"></i>{{skill.tag}}</button>

      <span  ng-show="task_data.skills.length == 0">
          <p>
            <img src='images/user_page/no_skills.svg' height="100">
          </p>
          <p> You haven't added any skills. Please add some skills so that people near you can find your task when they search with the skills you mention.</p>
          
      </span>
      <div class="line line-dashed b-b line-lg pull-in"></div> 

      <div class="form-group ">
        <label class="col-sm-4 control-label">Would you like someone to assist personally?</label>
        <div class="col-sm-8">
          <label class="i-switch i-switch-md bg-info">
            <input type="checkbox" ng-model="task_data.task.assistance">
            <i></i>
          </label>
        </div>
      </div>  
      <div class="line line-dashed b-b line-lg pull-in"></div> 
      <button class="btn btn-success col-sm-6 col-sm-offset-3" ng-click="updateTask()">Save</button>

    </div>
  </div>
  </div>


