<div class="bg-light lter wrapper-md">
  <h1 class="m-n font-thin h3">All Tasks</h1>
</div>

  <div class="row">
        <div class="col-md-12">
          <tabset class="tab-container bg-white-only">
            <ul class="nav nav-tabs" style="border-bottom: none;">
              <li class="active"><a href data-toggle="tab" data-target="#tab_1">My Tasks <span class="badge bg-danger badge-sm m-l-xs">{{my_tasks.length}}</span></a></li>
              <li><a href data-toggle="tab" data-target="#tab_2">Handling Tasks <span class="badge bg-info badge-sm m-l-xs">{{handling_tasks.length}}</span></a></li>
              <li><a href data-toggle="tab" data-target="#tab_3">Solved Tasks <span class="badge bg-success badge-sm m-l-xs">{{resolved_tasks.length}}</span></a></li>
            </ul>
            <div class="tab-content" >
              <div class="tab-pane active" id="tab_1">
                 <ul class="list-group no-borders list-group-alt pull-in m-b-none" ng-show="my_tasks.length > 0">
                  <li class="list-group-item" ng-repeat="task in my_tasks">
                    <a ng-href="#/app/task/{{task.slug}}" class="h4 text-primary m-b-sm m-t-sm block">{{task.title}} </a>
                    <p ng-bind-html="task.summary"></p>
                    <p> <a href class="btn btn-default btn-sm m-r-sm" ng-repeat='skill in task.skills'>{{skill.tag}}</a> 
                    </p>
                  </li>
                </ul>
                  
                <!-- If there are no tasks -->
                <div ng-show="my_tasks.length === 0">
                  <div class='row'>
                    <div class="col-md-12 text-center m-t">
                      <img src='/images/messages/no_message.svg' style="width:150px;">
                    </div>

                    <div class="col-md-12 text-center m-t">
                      You haven't created any Tasks yet. <br><a class="text-info h3 m-t" ng-href='#/app/new-task'> Create Task +</a>
                    </div>
                  </div>
                </div>


              </div>
              <div class="tab-pane" id="tab_2">
                <ul class="list-group no-borders list-group-alt pull-in m-b-none">
                  <li class="list-group-item" ng-repeat="task in handling_tasks">
                    <a ng-href="#/app/task/{{task.slug}}" class="h4 text-primary m-b-sm m-t-sm block">{{task.title}} </a>
                    <p ng-bind-html="task.summary"></p>
                    <p> <a href class="btn btn-default btn-sm m-r-sm" ng-repeat='skill in task.skills'>{{skill.tag}}</a> 
                    </p>
                  </li>
                </ul>

                <div ng-show="handling_tasks.length === 0">
                  <div class='row'>
                    <div class="col-md-12 text-center m-t">
                      <img src='/images/messages/no_message.svg' style="width:150px;">
                    </div>

                    <div class="col-md-12 text-center m-t">
                      You aren't handling any Task.
                    </div>
                  </div>

                  <div class="clearfix" ng-show="tasks_nearby.length != 0">
                    <h3 class="font-thin">Tasks you might be interested in</h3>
                  
                    <ul class="list-group no-borders list-group-alt pull-in m-b-none">
                      <li class="list-group-item" ng-repeat="task in tasks_nearby">
                        <a ng-href="#/app/task/{{task.slug}}" class="h4 text-primary m-b-sm m-t-sm block">{{task.title}} </a>
                        <p ng-bind-html="task.summary"></p>
                        <p> <a href class="btn btn-default btn-sm m-r-sm" ng-repeat='skill in task.skills'>{{skill.tag}}</a> 
                        </p>
                      </li>
                    </ul>
                  </div>

                </div>

              </div>

              <div class="tab-pane" id="tab_3">
                <ul class="list-group no-borders list-group-alt pull-in m-b-none">
                  <li class="list-group-item" ng-repeat="task in resolved_tasks">
                    <a ng-href="#/app/task/{{task.slug}}" class="h4 text-primary m-b-sm m-t-sm block">{{task.title}} </a>
                    <p ng-bind-html="task.summary"></p>
                    <p><a href class="btn btn-default btn-sm m-r-sm" ng-repeat='skill in task.skills'>{{skill.tag}}</a> 
                    </p>
                  </li>
                </ul>

                <div ng-show="resolved_tasks.length === 0">
                  <div class='row'>
                    <div class="col-md-12 text-center m-t">
                      <img src='/images/messages/no_message.svg' style="width:150px;">
                    </div>

                    <div class="col-md-12 text-center m-t">
                      You havent't solved any Task.
                    </div>
                  </div>

                  <div class="clearfix" ng-show="tasks_nearby.length != 0">
                    <h3 class="font-thin">Tasks you might be interested in</h3>
                  
                    <ul class="list-group no-borders list-group-alt pull-in m-b-none">
                      <li class="list-group-item" ng-repeat="task in tasks_nearby">
                        <a ng-href="#/app/task/{{task.slug}}" class="h4 text-primary m-b-sm m-t-sm block">{{task.title}} </a>
                        <p ng-bind-html="task.summary"></p>
                        <p><a href class="btn btn-default btn-sm m-r-sm" ng-repeat='skill in task.skills'>{{skill.tag}}</a> 
                        </p>
                      </li>
                    </ul>
                  </div>
                  
                </div>

              </div>
              
            </div>
          </tabset>
        </div>
  </div>
