<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"><i class="icon-plus icon m-r"></i>New Task</h1>
</div>
<div class="wrapper-md bg-white-only" ng-controller="newTaskCtrl">
  <!-- toaster directive -->
    <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
  <!-- / toaster directive -->
  <div class="row">
    <div class="col-md-12 horizontal">  
      <div>
          <input placeholder="What needs to be done? Give it a Title" required ng-model="new_task.title" autofocus class="form-control input-lg">
      </div>
      <div class="line line-dashed b-b line-lg pull-in"></div>
      <div class="m-t">
         <div lazy-load="textAngular">
          <div text-angular ng-model="new_task.summary" required placeholder='How about explaining it a little more?' class="btn-groups"></div>
        </div>
      </div>
      <div class="line line-dashed b-b line-lg pull-in"></div> 
      <div class="form-group ">
        <label class="col-sm-4 control-label">Would you like someone to assist personally?</label>
        <div class="col-sm-8">
          <label class="i-switch i-switch-md bg-info">
            <input type="checkbox" ng-model="new_task.assistance">
            <i></i>
          </label>
        </div>
      </div>  
      <div class="line line-dashed b-b line-lg pull-in"></div> 
      <button class="btn btn-success col-sm-6 col-sm-offset-3" ng-click="createTask()">Create</button>

    </div>
  </div>
  </div>


