<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Task <a  class="small m-l" ng-href='#/app/edit-task/{{task_data.task.slug}}' ng-show="current_user.id == task_data.task.user_id">(Edit) </a>
   </h1>
</div>
<div class="wrapper-md bg-white-only">
  
  <div class="row">
    <div class="col-md-12">
      <h3 class="font-thin"> {{task_data.task.title}} [{{task_data.task.status}}]</h3>
      <div class="line line-dashed b-b line-lg pull-in"></div>
      <div ng-bind-html="task_data.task.summary"></div>
      <div class="line line-dashed b-b line-lg pull-in"></div>
      <div>
        <span class="btn btn-default m-r" ng-repeat="skill in task_data.skills">{{skill.tag}}</span> 
         <div ng-show="task_data.skills.length == 0">No skills added.</div>
      </div>

      <div class="m-t">
         <button class="btn m-b-xs btn-md btn-default btn-addon"><i class="fa fa-map-marker"></i>{{task_data.place.formatted_address}}</button>
      </div>


        <div ng-show="task_data.task.assistance && task_data.task.status == 'unresolved' && task_data.uid && current_user.id != task_data.task.user_id">

          <span ng-show='task_data.handle_approved === true'>
                  <a href="" class="btn btn-sm btn-success ">Currently handling&nbsp;&nbsp;<span class="fa fa-thumbs-up"></span></a>
                  <a ng-click="showCancelHandleForm();" class="btn btn-sm btn-warning ">Cancel</a>
                  
          </span>       

          <span ng-show='task_data.awating_approval === true'>
                  <a class="btn btn-sm btn-default">Awaiting approval</a>
                  <a ng-click="cancelAwaitingApproval()" class="btn btn-sm btn-warning">Cancel</a>
          </span>

          <span ng-show="task_data.handle_cancelled">
                  Your previous handle has been cancelled.
          </span>
          <span ng-show="!task_data.awating_approval && !task_data.handle_approved && !task_data.handle_cancelled">
                  <a href="" ng-click="showHandleForm();" class="btn btn-md btn-success">Handle this Task&nbsp;&nbsp;<span class="fa fa-thumbs-up"></span></a>
          </span>
        </div>

        <div  ng-show="task_data.task.status == 'resolved'">
        Solved by {{task_data.solved_by.name}}
        </div>

        <div  ng-show="current_user.id == task_data.task.user_id && task_data.task.assistance && task_data.task.status == 'unresolved'">
            <div class="col-me-12" ng-show='task_data.handle_requests.length > 0'>
              <h3> Handle Requests</h3>
            </div>
            <div class="row">
              <!-- Handle Request Start -->
              <div class="col-sm-4" ng-repeat="hr in task_data.handle_requests" ng-if="!(hr.status > 1)">
                <div class="panel b-a">
                  <div class="panel-heading no-border wrapper-md" ng-class="{'bg-success lter' : hr.status == 1, 'bg-light dk'  : !hr.status}">
                    <button ng-show='!hr.status' ng-click="rejectHandleRequest(hr.id)" class="btn btn-sm btn-icon btn-rounded bg-white-only text-dark  pull-right m-r"><i class="fa fa-thumbs-down"></i></button>
                    <button ng-show='!hr.status' ng-click="acceptHandleRequest(hr.id)"  class="btn btn-sm btn-icon btn-rounded bg-white-only text-dark  m-l"><i class="fa fa-thumbs-up"></i></button>

                    <span ng-show='hr.status == 1' class="bg-light dk m-l "></span>
                    <button ng-show='hr.status == 1' ng-click="showCancelHandleForm()" class="btn btn-sm btn-icon btn-rounded bg-white-only text-dark pull-right"><i class="fa fa-close"></i></button>
                  </div>
                  <div class="text-center m-b clearfix">
                    <div class="thumb-lg avatar m-t-n-xxl">
                      <img ng-src="{{hr.user.image_url}}"  alt="{{hr.user.name}}" class="b b-3x b-white">
                      <div class="h4 font-thin m-t-sm">{{hr.user.name}}</div>
                    </div>
                    <div class="font-thin m-t-sm" ng-bind-html="hr.message"></div>
                  </div>
                  <div class="padder-v b-t b-light row text-center no-gutter">
                    <div class="col-xs-6">
                      <div>Tasks Handled</div>
                      <div class="inline m-t-sm">
                        <div ui-jq="easyPieChart" ui-options="{
                            percent: 100,
                            lineWidth: 3,
                            trackColor: '#e8eff0',
                            barColor: '#7266ba',
                            scaleColor: false,
                            color: '#fff',
                            size: 65,
                            lineCap: 'butt',
                            rotate: 45,
                            animate: 1000
                          }" class="easyPieChart" style="width: 65px; height: 65px; line-height: 65px;">
                          <div>
                            <span class="step">{{hr.user.total_tasks_count}}</span>
                          </div>
                        <canvas width="65" height="65"></canvas></div>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div>Solved</div>
                      <div class="inline m-t-sm">
                        <div ui-jq="easyPieChart" ui-options="{
                            percent: {{hr.user.solved_percent}},
                            lineWidth: 3,
                            trackColor: '#e8eff0',
                            barColor: '#23b7e5',
                            scaleColor: false,
                            color: '#fff',
                            size: 65,
                            lineCap: 'butt',
                            rotate: 90,
                            animate: 1000
                          }" class="easyPieChart" style="width: 65px; height: 65px; line-height: 65px;">
                          <div>
                            <span class="step">{{hr.user.solved_tasks_count}}</span>
                          </div>
                        <canvas width="65" height="65"></canvas></div>
                      </div>
                    </div>
                  </div>
                  <div class="hbox text-center b-t b-light">          
                    <a href="" class="col padder-v text-muted b-r b-light">
                      <div class="h4">{{hr.user.task_comments}}</div>
                      <span>Comments</span>
                    </a>
                    <a href="" class="col padder-v text-muted">
                      <div class="h4">{{hr.user.rating}}</i></div>
                      <span>Rating</span>
                    </a>
                  </div>
                </div>
              </div>
              <!-- Handle requests End -->
            </div>
          <div  ng-show="current_user.id == task_data.task.user_id && task_data.task.assistance && handle_requests.length == 0">
            Waiting for response
          </div>
        </div>

        <div  ng-show="current_user.id != task_data.task.user_id && !task_data.task.assistance">
          Personal assistance not required
        </div>

      <div class="line line-dashed b-b line-lg pull-in"></div>
      <div class="panel m-t">
        <div class="panel-heading ">
          <div class="clearfix">
            <a ng-href="#/app/user/{{task_data.user.username}}" class="pull-left thumb-md avatar b-1x m-r">
              <img ng-src="{{task_data.user.image_url}}" alt="...">
            </a>
            <div class="clear">
              <div class="h4 m-t-xs m-b-xs">
                {{task_data.user.name}}
              </div>
              <small class="text-muted">{{task_data.user.place.formatted_address}}</small>
            </div>
          </div>
        </div>
        <div class="list-group no-radius alt">
          <a class="list-group-item" href="">
            <span class="badge bg-success">{{task_data.comments.length}}</span>
            <i class="fa fa-comment fa-fw text-muted"></i> 
            Comments
          </a>
          <a class="list-group-item" href="">
            <span class="badge bg-danger">{{task_data.task.status}}</span>
            <i class="fa fa-info fa-fw text-muted"></i> 
            Status
          </a>
          
        </div>
      </div>

      
      <div class="line line-dashed b-b line-lg pull-in"></div>

      <!-- .comment-list -->
      <div class="m-b m-t b-l m-l-md streamline">
        <div class="task_comment" ng-repeat='comment in task_data.comments'>  
          <div>
            <a ng-href="#/app/user/{{comment.user.username}}" class="pull-left thumb-sm avatar m-l-n-md">
              <img ng-src="{{comment.user.image_url}}" class="img-circle" alt="...">
            </a>
            <div class="m-l-lg panel b-a">
              <div class="panel-heading pos-rlt b-b b-light">
                <span class="arrow left"></span>
                <a ng-href="#/app/user/{{comment.user.username}}">{{comment.user.name}}</a>
                <!-- <button class="btn m-l-xs btn-xs btn-info btn-addon"><i class="fa fa-map-marker"></i>{{comment.user.place.formatted_address}}</button> -->
                <span class="text-muted m-l-sm pull-right">
                  <i class="fa fa-clock-o"></i>
                  {{comment.created_at}}
                </span>
              </div>
              <div class="panel-body">
                <div ng-bind-html="comment.comment"></div>
                <div class="m-t-sm">
                  <a href='' class='m' ng-click="showReplyBox(comment.id)">
                    <i class="fa fa-reply text-info"></i>
                  </a>

                  <a href="" ng-show="comment.user_id == task_data.uid" ng-click="showEditCommentBox(comment.comment, comment.id)">
                    <i class="fa fa-edit text-warning"></i>
                  </a>

                  <a href="" class='m' ng-show="comment.user_id == task_data.uid" ng-click="removeComment(comment.id)">
                    <i class="fa fa-minus-circle text-danger"></i>
                  </a>

                  <a ng-show='comment.user_id != task_data.uid && !comment.current_user_set_helpful && task_data.uid'  class="btn btn-info btn-xs" ng-click='markHelpful(comment.id)'><span class="fa fa-thumbs-up" aria-hidden="true"></span>&nbsp;Say Thanks</a>
                  <div class="clear text-success">
                    <span ng-show='comment.current_user_set_helpful && comment.helpful_count == 1 && task_data.uid'>You have marked this as helpful</span>
                    <span ng-show='comment.current_user_set_helpful && comment.helpful_count == 2 && task_data.uid'>You and {{comment.helpful_count}} other person found this comment helpful</span>
                    <span ng-show='comment.current_user_set_helpful && comment.helpful_count > 2 && task_data.uid' >You and {{comment.helpful_count}} others found this comment helpful</span>
                    <span ng-show='!comment.current_user_set_helpful && comment.helpful_count == 1'>One person found this comment helpful</span>
                    <span ng-show='!comment.current_user_set_helpful && comment.helpful_count > 1' >{{comment.helpful_count}} people found this comment helpful</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .comment-reply -->
          <div class="m-l-lg" ng-repeat="reply in comment.replies">
            <a ng-href="#/app/user/{{reply.user.username}}" class="pull-left thumb-sm avatar">
              <img ng-src="{{reply.user.image_url}}" alt="...">
            </a>          
            <div class="m-l-xxl panel b-a">
              <div class="panel-heading pos-rlt">
                <span class="arrow left pull-up"></span>
                <span class="text-muted m-l-sm pull-right">
                  <i class="fa fa-clock-o"></i>
                  {{reply.created_at}}
                </span>
                <a ng-href="#/app/user/{{reply.user.username}}">{{reply.user.name}}</a> 
                
              </div>
              <div class="panel-body">
                  <span ng-bind-html="reply.comment"></span>      

                  <div class="m-t-sm">

                    <a  href='' class='m' ng-click="showReplyBox(comment.id)">
                      <i class="fa fa-reply text-info"></i>
                    </a>
                    <a href="" ng-show='reply.user.id == task_data.uid' ng-click="showEditReplyBox(reply.comment, reply.id)">
                      <i class="fa fa-edit text-warning"></i>                      
                    </a>

                    <a href="" class='m'  ng-show='reply.user.id == task_data.uid' ng-click="removeReply(reply.id)">
                      <i class="fa fa-minus-circle text-danger"></i>
                    </a>
                </div>                    
              </div>
            </div>
          </div>
          <!-- / .comment-reply -->
        </div>
        
      </div>
      <div class="clearfix m-b-lg">
        <a class="pull-left thumb-sm avatar"><img ng-src="{{current_user.image_url}}" alt="..."></a>
        <div class="m-l-xxl">
          <form class="m-b-none">
            <div>
              <div lazy-load="textAngular">
                <div text-angular ng-model="new_comment" placeholder='Add your comment' class="btn-groups"></div>
              </div>
            </div>
            <span class="input-group-btn">
              <button class="m btn btn-info btn-md pull-right col-md-2" ng-click="addComment(new_comment)" type="button">Add</button>
            </span>
          </form>
        </div>
      </div>

      <div class="line line-dashed b-b line-lg pull-in"></div>
      <div class="clearfix" ng-show="task_data.similar_tasks.length != 0">
      <h3 class="font-thin">Other tasks you might be interested in</h3>
      
        <ul class="list-group no-borders list-group-alt pull-in m-b-none">
          <li class="list-group-item" ng-repeat="task in task_data.similar_tasks">
            <a ng-href="#/app/task/{{task.slug}}" class="h4 text-primary m-b-sm m-t-sm block">{{task.title}} </a>
            <p ng-bind-html="task.summary"></p>
            <p> <a href class="btn btn-default btn-sm m-r-sm" ng-repeat='skill in task.skills'>{{skill.tag}}</a> 
            </p>
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>


<script type="text/ng-template" id="template_reply">
    <form class="form-horizontal m" id="message_form" role="form" method="POST">
        <div class="form-group">
            <div class="col-md-12">
              <div lazy-load="textAngular">
                <div text-angular ng-model="new_reply" autofocus placeholder='Add your comment' class="btn-groups" required></div>
              </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" ng-click="postReply(new_reply, reply_comment_id)" class="btn btn-success pull-right">
                    Reply
                </button>
            </div>
        </div>
    </form>
</script>

<script type="text/ng-template" id="template_edit_reply">
    <form class="form-horizontal m" id="message_form" role="form" method="POST">
        <div class="form-group">
            <div class="col-md-12">
              <div lazy-load="textAngular">
                <div text-angular ng-model="current_edit_reply" autofocus placeholder='Edit your comment' class="btn-groups" required></div>
              </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" ng-click="postEditReply(current_edit_reply, current_reply_id)" class="btn btn-info">
                    Update
                </button>
            </div>
        </div>
    </form>
</script>

<script type="text/ng-template" id="template_edit_comment">
    <form class="form-horizontal m" id="message_form" role="form" method="POST">
        <div class="form-group">
            <div class="col-md-12">
                <div lazy-load="textAngular">
                  <div text-angular ng-model="current_edit_comment" autofocus placeholder='Edit your comment' class="btn-groups" required></div>
                </div>
              
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" ng-click="postEditComment(current_edit_comment, current_comment_id)" class="btn btn-info">
                    Update
                </button>
            </div>
        </div>
    </form>
</script>

<script type="text/ng-template" id="template_send_handle_request">
    <form class="form-horizontal m" id="handle_form" role="form" method="POST" >
        <div class="form-group">
            <div class="col-md-12">
              <div class="font-thin h3 m-b"> Let {{task_data.user.name}} know why you wanted to handle this Task.</div>
            </div>
            <div class="col-md-12">
                <textarea class="form-control" rows=10 ng-model="task_handle_message" >I would like to help you with this Task</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" ng-click='sendHandleRequest(task_handle_message)' class="btn btn-success pull-right">
                    Send
                </button>
            </div>
        </div>
    </form>
</script>

<script type="text/ng-template" id="template_cancel_task_handling_form">
    <form class="form-horizontal m" id="cancel_handle_form" role="form" method="POST" >
        <div class="form-group">
            <div class="col-md-12">
              <div class="font-thin h3 m-b"> Let {{task_data.user.name}} know why you wanted to cancel.</div>
            </div>
            <div class="col-md-12">
                <textarea class="form-control" ng-model="task_handle_cancel_message" ></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" ng-click='cancelTaskHandling()' class="btn btn-warning pull-right">
                    Send
                </button>
            </div>
        </div>
    </form>
</script>

 
  
</div>
