<link rel="stylesheet" href="js/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
<div id="edit_program" class="edit_program open-project page-id-7 page-template page-template-template-members page-template-template-members-php logged-in admin-bar no-customize-support  single-post st_classic menustyle_classic headstyle_classic transparentmenu_no head_stickyonscroll_no footerstyle_light subheaderbg_undermenu ">
  <div ng-include="'views/templates/header.html'" ng-controller="AuthController"></div>

<div  data-h="555" class="edit_program heading_blog parallax-window"  data-image="http://freelance.vioo.ru/wp-content/uploads/2015/11/points_cubes_background_light_91691_1920x10801.jpg">
  <div class="bg_fon ">
    <div class="container">
      <div class="row">
        <div class="col-md-12 clearfix">

          <div class="nav_a_l">
            <a ng-href="#/profile">
              New:

            </a>
            <a class="active">Program</a>
          </div>
          
          
        </div>

      </div>

    </div>

  </div>

</div>

<!--  bg_fon -->

<div class="shop_head open_items_block full-page">

  

  <div class="middle_content user_latest">
    <div class="container">
      <div class="row">
          
          <div class="col-md-12 marg_b_20">
            <div class="row">
              <div class="col-lg-12">
                <h3 class='edited programs_solutions'>Create program</h3>
              </div>
              <div class="search_block" >
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                          
                          <div class="col-sm-12 col-md-12 marg_b_20">
                            <label class='edited' id='edited_skills'>Title</label>   <span ng-show='errors.title' class="help-block pomo">{{ errors.title[0] }}</span>
                            
                            <input type="text"  placeholder='What is this workshop for?' class='text_field' ng-model='new_program.title' />

                          </div>
                          <div class="col-sm-12 col-md-12 marg_b_20">

                            <div class="submit_location">
                              <label class='edited' for='edited_labelalocation'>Summary</label>   <span ng-show='errors.summary' class="help-block pomo">{{ errors.summary[0] }}</span>
                              <textarea class="e-mail_in program_edit_summary" placeholder='What will the attendees benefit?' cols="50" id="summary" name="summary" ng-model='new_program.summary'></textarea>

                              <!-- Help -->
                              <div class="submit_add_message animated">
                                <p></p>
                              </div>
                              <!-- / Help --> </div>

                          </div>
                          
                          <div class="col-sm-12 col-md-12 marg_b_20">
                            <label class='edited' id='edited_skills'>Maximum Attendees</label>   <span ng-show='errors.max_attendees' class="help-block pomo">{{ errors.max_attendees[0] }}</span>
                            
                            <input type="text"  placeholder='0 - 1000' class='text_field' ng-model='new_program.max_attendees' />
                          </div>

                          <div class="col-sm-12 col-md-12 marg_b_20">
                            <label class='edited' id='edited_skills'>Fee</label>   <span ng-show='errors.fee' class="help-block pomo">{{ errors.fee[0] }}</span>
                            
                            <input type="text"  placeholder='5 / 10 / Free' class='text_field' ng-model='new_program.fee' />
                          </div>

                          <div class="col-sm-12 col-md-8 marg_b_20">
                              <label class='edited' for='edited_labelalocation'>Would you like to conduct a poll to decide on the timings ?</label>
                              <span class="feature_value">
                              
                                <div class="switch_rating">
                                  <input type="checkbox" class="checkbox" ng-model="new_program.poll" value='true' id="checkbox_poll" >
                                  <label for="checkbox_poll"></label>
                                </div>
                              </span>
                          </div>

                          <div class="col-sm-12 col-md-12 marg_b_20" ng-show="new_program.poll">
                            <div id="workshop_poll" >
                                <div class="col-md-9 col-md-offset-3">
                                    <h4>You can enter upto 4 different timings</h4>
                                </div>

                                <div class="form-group required clear">
                                    <label class="col-md-3 control-label label_padding">Date and time option 1</label>
                                    <div class="col-md-5">
                                        <div class='input-group date label_padding'>
                                            <input type="text" id="fdate" data-container="body" class="form-control"  placeholder="date" uib-datepicker-popup="{{format}}" datepicker-options="dateOptions" ng-model='new_program.option1_1'  ng-click='create_date1_1 = !create_date1_1' is-open="create_date1_1" >
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        </div>
                                        <span ng-show='errors.option1_1 || errors.option1_2 || errors.option1_3' class="help-block pomo">Please correct the Date / Time.</span>

                                    </div>
                                    <div class="col-md-2">
                                        <div class='input-group date'>
                                            <uib-timepicker ng-model="new_program.option1_2" hour-step="1" minute-step="15" show-meridian="true"></uib-timepicker>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class='input-group date'>
                                            <uib-timepicker ng-model="new_program.option1_3" hour-step="1" minute-step="15" show-meridian="true"></uib-timepicker>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group clear">
                                    <label class="col-md-3 control-label label_padding">Date and time option 2</label>
                                    <div class="col-md-5">
                                        <div class='input-group date label_padding'>
                                            <input type="text" id="fdate" data-container="body" class="form-control"  placeholder="date" uib-datepicker-popup="{{format}}" datepicker-options="dateOptions" ng-model='new_program.option2_1'  ng-click='create_date2_1 = !create_date2_1' is-open="create_date2_1" >
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        </div>
                                        <span ng-show='errors.option2_1 || errors.option2_2 || errors.option2_3' class="help-block pomo">Please correct the Date / Time.</span>

                                    </div>
                                    <div class="col-md-2">
                                        <div class='input-group date'>
                                            <uib-timepicker ng-model="new_program.option2_2" hour-step="1" minute-step="15" show-meridian="true"></uib-timepicker>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class='input-group date'>
                                            <uib-timepicker ng-model="new_program.option2_3" hour-step="1" minute-step="15" show-meridian="true"></uib-timepicker>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group clear">
                                    <label class="col-md-3 control-label label_padding">Date and time option 3</label>
                                    <div class="col-md-5">
                                        <div class='input-group date label_padding'>
                                            <input type="text" id="fdate" data-container="body" class="form-control"  placeholder="date" uib-datepicker-popup="{{format}}" datepicker-options="dateOptions" ng-model='new_program.option3_1'  ng-click='create_date3_1 = !create_date3_1' is-open="create_date3_1" >
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        </div>
                                        <span ng-show='errors.option3_1 || errors.option3_2 || errors.option3_3' class="help-block pomo">Please correct the Date / Time.</span>

                                    </div>
                                    <div class="col-md-2">
                                        <div class='input-group date'>
                                            <uib-timepicker ng-model="new_program.option3_2" hour-step="1" minute-step="15" show-meridian="true"></uib-timepicker>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class='input-group date'>
                                            <uib-timepicker ng-model="new_program.option3_3" hour-step="1" minute-step="15" show-meridian="true"></uib-timepicker>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group clear">
                                    <label class="col-md-3 control-label label_padding">Date and time option 4</label>
                                    <div class="col-md-5">
                                        <div class='input-group date label_padding'>
                                            <input type="text" id="fdate" data-container="body" class="form-control"  placeholder="date" uib-datepicker-popup="{{format}}" datepicker-options="dateOptions" ng-model='new_program.option4_1'  ng-click='create_date4_1 = !create_date4_1' is-open="create_date4_1" >
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        </div>
                                        <span ng-show='errors.option4_1 || errors.option4_2 || errors.option4_3' class="help-block pomo">Please correct the Date / Time.</span>

                                    </div>
                                    <div class="col-md-2">
                                        <div class='input-group date'>
                                            <uib-timepicker ng-model="new_program.option4_2" hour-step="1" minute-step="15" show-meridian="true"></uib-timepicker>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class='input-group date'>
                                            <uib-timepicker ng-model="new_program.option4_3" hour-step="1" minute-step="15" show-meridian="true"></uib-timepicker>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                          </div>

                          <div class="col-sm-12 col-md-12 marg_b_20" ng-show="!new_program.poll">
                            <div class="form-group row">
                                <label class="col-md-3 control-label label_padding">Date and time</label>
                                <div class="col-md-4">
                                    <span ng-show='errors.date' class="help-block pomo">{{ errors.date[0] }}</span>
                                    <div class='input-group date label_padding'>
                                        <input type="text" id="fdate" data-container="body" class="form-control datetime datetime0_1"  placeholder="date" uib-datepicker-popup="{{format}}" datepicker-options="dateOptions" ng-model='new_program.date'  ng-click='create_date = !create_date' is-open="create_date" >
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <span ng-show='errors.time_start' class="help-block pomo">{{ errors.time_start[0] }}</span>
                                    <div class='input-group date'>
                                        <uib-timepicker ng-model="new_program.time_start" hour-step="1" minute-step="15" show-meridian="true"></uib-timepicker>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <span ng-show='errors.time_end' class="help-block pomo">{{ errors.time_end[0] }}</span>
                                    <div class='input-group date'>
                                        <uib-timepicker ng-model="new_program.time_end" hour-step="1" minute-step="15" show-meridian="true"></uib-timepicker>
                                    </div>
                                </div>
                            </div>
                          </div>

                          <div class="col-sm-12 col-md-12 submit_location marg_b_20 clear">
                            <label class='edited' for='edited_labelalocation'>Venue</label>   <span ng-show='errors.venue' class="help-block pomo">{{ errors.venue[0] }}</span>
                            <textarea class="e-mail_in program_edit_summary" cols="50" id="summary" name="summary" ng-model='new_program.venue'></textarea>
                          </div>
  
                        
                          
                        <div class="col-sm-12 col-md-6 marg_b_20">
                            <label class='edited' for='edited_labelalocation'>Would you like to use your contact details?</label>
                            <span class="feature_value">
                            
                              <div class="switch_rating">
                                <input type="checkbox" class="checkbox" ng-model="new_program.new_contact" value='true' id="checkbox_contact" >
                                <label for="checkbox_contact"></label>
                              </div>
                            </span>
                        </div>

                        <div class="col-sm-12 col-md-12 marg_b_20" ng-show="!new_program.new_contact">
                          <div class="col-md-12">
                              <h4>Contact details of the organizer.</h4>
                          </div>
                          <div class=" marg_b_20">
                                <input type="text" class="text_field" placeholder="Name" ng-model="new_program.name" value='{{new_program.name}}' >
                          </div>

                          <div class=" marg_b_20">
                                <input type="text" class=" text_field" placeholder="Email" ng-model="new_program.email" value='{{new_program.email}}'>
                          </div>
                          <div class=" marg_b_20">
                                <input type="text" class="text_field" placeholder="Phone" ng-model="new_program.phone" value='{{new_program.phone}}'>
                          </div>
                        </div>

                        <div class="col-sm-12 col-md-12 marg_b_20">
                          <label class='edited' id='edited_skills'>Place</label> <span ng-show='errors.place' class="help-block pomo">{{ errors.place[0] }}</span>
                          
                          <input type="text"  class='text_field' ng-model='new_program.place' />

                        </div>
                      </div>

                    </div>
                    <div class="col-md-12 text-right">
                      <button class="btn btn-success min_width_150" id='save_button' ng-click="createProgram()">Create</button>
                      <br>
                        <span ng-show='errors' class="help-block pomo">Please correct the errors.</span>
                    </div>
                    <div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>

<script type='text/javascript' src='js/jquery/jquery.js'></script>
<script type='text/javascript' src='js/ion.rangeSlider.js'></script>
<script type='text/javascript' src='js/bootstrap.min.js'></script>
<script type='text/javascript' src='js/bootstrap-tagsinput.min.js'></script>
<script type='text/javascript' src='js/jquery.masonry.js'></script>
<script type='text/javascript' src='js/ladda.min.js'></script>
<script type='text/javascript' src='js/owl.carousel.min.js'></script>
<script type='text/javascript' src='js/bootstrap-select.js'></script>
<script type='text/javascript' src='js/bootstrap-tokenfield.min.js'></script>
<script type='text/javascript' src='js/common.js'></script>

</div>