<div id="edit_program" class="edit_program open-project page-id-7 page-template page-template-template-members page-template-template-members-php logged-in admin-bar no-customize-support  single-post st_classic menustyle_classic headstyle_classic transparentmenu_no head_stickyonscroll_no footerstyle_light subheaderbg_undermenu ">
  <div ng-include="'views/templates/header.html'" ng-controller="AuthController"></div>

<div  data-h="555" class="heading_blog parallax-window"  data-image="http://freelance.vioo.ru/wp-content/uploads/2015/11/points_cubes_background_light_91691_1920x10801.jpg">
  <div class="bg_fon ">
    <div class="container">
      <div class="row">
        <div class="col-md-12 clearfix">

          <div class="nav_a_l">
            <a ng-href="#/profile">
              Home
              <i class="fa fa-angle-right"></i>
            </a>
            <a class="active">Program</a>
          </div>
          <div class="user_btn pull-right user_head min_width_150" ng-show="user_data.currentUid == user_data.uid">
            <a ng-href="#/program/{{program_data.program.slug}}" data-style="zoom-out" data-name="follow" class="btn btn-success btn-add_friends ladda btn-follow ladda-button ladda-primary edited" id="edited_addopr454">
              <span class="ladda-label">View program</span>
              <span class="ladda-spinner"></span>
            </a>
          </div>
          
        </div>

      </div>

    </div>

  </div>

</div>

<!--  bg_fon -->

<div class="shop_head open_items_block full-page">

  

  <div class="middle_content user_latest">
    <div class="container">
      <div class="row">
          
          <div class="col-md-12 marg_b_20">
            <div class="row">
              <div class="col-lg-12">
                <h3 class='edited programs_solutions'>Edit program</h3>
              </div>
              <div class="search_block" >
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                          
                          <div class="col-sm-12 col-md-12 marg_b_20">
                            <label class='edited' id='edited_skills'>Title</label>   <span ng-show='errors.title' class="help-block pomo">{{ errors.title[0] }}</span>
                            
                            <input type="text"  class='text_field' ng-model='program_data.program.title' />

                          </div>
                          <div class="col-sm-12 col-md-12 marg_b_20">

                            <div class="submit_location">
                              <label class='edited' for='edited_labelalocation'>Summary</label>
                              <textarea class="e-mail_in program_edit_summary" cols="50" id="summary" name="summary" ng-model='program_data.program.summary'></textarea>

                              <!-- Help -->
                              <div class="submit_add_message animated">
                                <p></p>
                              </div>
                              <!-- / Help --> </div>

                          </div>
                          
                          <div class="col-sm-12 col-md-12 marg_b_20">
                            <label class='edited' id='edited_skills'>Maximum Attendees</label>   <span ng-show='errors.max_attendees' class="help-block pomo">{{ errors.max_attendees[0] }}</span>
                            
                            <input type="text"  class='text_field' ng-model='program_data.program.max_attendees' />

                          </div>

                          <div class="col-sm-12 col-md-12 marg_b_20">
                            <label class='edited' id='edited_skills'>Fee</label>   <span ng-show='errors.fee' class="help-block pomo">{{ errors.fee[0] }}</span>
                            
                            <input type="text"  class='text_field' ng-model='program_data.program.fee' />

                          </div>

                          <div class="col-sm-12 col-md-12 marg_b_20">
                            <div class="form-group row">
                                <label class="col-md-2 control-label label_padding">Date and time</label>
                                <div class="col-md-4">
                                    <span ng-show='errors.date' class="help-block pomo">{{ errors.date[0] }}</span>
                                    <div class='input-group date label_padding'>
                                        <input type="text" id="fdate" data-container="body" class="form-control datetime"  placeholder="date"  uib-datepicker-popup="{{format}}" datepicker-options="dateOptions" ng-model='program_data.program.date'  ng-click='update_date1_1 = !update_date1_1' is-open="update_date1_1" name="date">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <span ng-show='errors.time_start' class="help-block pomo">{{ errors.time_start[0] }}</span>
                                    <div class='input-group date'>
                                        <uib-timepicker ng-model="program_data.program.time_start" hour-step="1" minute-step="15" show-meridian="true"></uib-timepicker>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <span ng-show='errors.time_end' class="help-block pomo">{{ errors.time_end[0] }}</span>
                                    <div class='input-group date'>
                                        <uib-timepicker ng-model="program_data.program.time_end" hour-step="1" minute-step="15" show-meridian="true"></uib-timepicker>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="col-sm-12 col-md-12 submit_location marg_b_20 clear">
                            <label class='edited' for='edited_labelalocation'>Venue</label>   <span ng-show='errors.venue' class="help-block pomo">{{ errors.venue[0] }}</span>
                            <textarea class="e-mail_in program_edit_summary" cols="50" id="summary" name="summary" ng-model='program_data.program.venue'></textarea>
                          </div>

                          <div class="col-sm-12 col-md-12 marg_b_20">

                            <div class="submit_location">
                              <div class="col-md-6">
                                  <div class="clearfix">
                                    <label class='edited'>Places</label> <span class="small text-muted pointer_cursor padding_l_20" ng-click="show_add_place_form = !show_add_place_form"> Add +</span>
                                  </div>
                                  <div class="marg_b_20 marg_t_20 col-md-10 clearfix" ng-show="show_add_place_form" id="add_place_form">
                                    <div class="input-group add-on">
                                      <input type="text" class="form-control" ng-enter="addPlace()" placeholder="Place" ng-model='new_place' required>
                                      <div class="input-group-btn">
                                        <button class="btn btn-default"   ng-click="addPlace()" type="submit"><i class="fa fa-map-marker"></i></button>
                                      </div>
                                    </div>
                                 </div>
                                  <div class="col-md-12" ng-repeat="p in program_data.places">
                                    <span class="place_holder">
                                      <span class="map_icon">
                                        <i class="fa fa-map-marker"></i>
                                      </span>
                                    <span class="place_address" editable-text="p.address" onaftersave="updatePlace(p.id, p.address)">{{p.address}}</span> <a ng-show="!p.primary" class="small remove_cross" ng-click="removePlace(p.id);">&times;</a>
                                    </span>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="clearfix clear">
                                    <label class='edited' id='edited_skills'>Skills</label> <span class="small text-muted pointer_cursor padding_l_20" ng-click="show_add_skill_form = !show_add_skill_form"> Add +</span>
                                  </div>
                                  <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                        <div class="marg_b_20" ng-show="show_add_skill_form" id="add_skill_form">
                                          <div class="input-group add-on">
                                            <input type="text" class="form-control" ng-enter="addSkill()" placeholder="Skill" ng-model='new_skill' required>
                                            <div class="input-group-btn">
                                              <button class="btn btn-default" ng-click="addSkill()" type="submit"><i class="fa fa-plus"></i></button>
                                            </div>
                                          </div>
                                          <select ng-options="level.value as level.text for level in skill_levels" class="full_width" ng-model="new_skill_level">
                                            
                                          </select>
                                       </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 friend-item padding_l_20 clear" ng-repeat='skill in program_data.skills'>
                                        {{skill.tag}} <a class="small remove_cross" ng-click="removeSkill(skill.id);">&times;</a>
                                        <a class="small pull-right" href="#" editable-select="skill.level" onaftersave="updateSkill(skill.id, skill.level)" e-ng-options="s.value as s.text for s in skill_levels">
                                          {{ showSkillLevel(skill.level) }}
                                        </a>
                                    </div>
                                  </div>
                              </div> <!-- SKILLS END -->
                            </div>
                          </div>
  
                        </div>
                          
                        <div class="col-sm-12 col-md-6 marg_b_20">
                            <label class='edited' for='edited_labelalocation'>Would you like to use your contact details?</label>
                            <span class="feature_value">
                            
                              <div class="switch_rating">
                                <input type="checkbox" class="checkbox" ng-model="program_data.program.new_contact" value='1' id="checkbox" >
                                <label for="checkbox"></label>
                              </div>
                            </span>
                        </div>

                        <div class="col-sm-12 col-md-12 marg_b_20" ng-show="program_data.program.new_contact">
                          <div class="col-md-12">
                              <h4>Contact details of the organizer.</h4>
                          </div>
                          <div class=" marg_b_20">
                                <input type="text" class="text_field" placeholder="Name" ng-model="program_data.program.name" value='{{program_data.program.name}}' >
                          </div>

                          <div class=" marg_b_20">
                                <input type="text" class=" text_field" placeholder="Email" ng-model="program_data.program.email" value='{{program_data.program.email}}'>
                          </div>
                          <div class=" marg_b_20">
                                <input type="text" class="text_field" placeholder="Phone" ng-model="program_data.program.phone" value='{{program_data.program.phone}}'>
                          </div>
                      </div>


                    </div>
                    <div class="col-md-12 text-right">
                      <button class="btn btn-success min_width_150" id='save_button' ng-click="updateProgram()">Save</button>
                      <br>
                        <span ng-show='errors' class="help-block pomo">Please correct the errors.</span>
                    </div>
                    <div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>



<script type="text/ng-template" id="template_reply">
      <form class="form-horizontal marg_t_20" id="message_form" role="form" method="POST">
          <div class="form-group">
              <div class="col-md-12">
                  <textarea class="form-control" autofocus autocomplete="off" placeholder="Write your Comment" ng-model="new_reply" required></textarea>
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-12">
                  <button type="submit" ng-click="postReply(new_reply, reply_comment_id)" class="btn btn-success">
                      Reply
                  </button>
              </div>
          </div>
      </form>
</script>

<script type="text/ng-template" id="template_edit_reply">
      <form class="form-horizontal marg_t_20" id="message_form" role="form" method="POST">
          <div class="form-group">
              <div class="col-md-12">
                  <textarea class="form-control" autofocus autocomplete="off" placeholder="Write your Comment" ng-model="current_edit_reply" required>{{current_edit_reply}}</textarea>
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-12">
                  <button type="submit" ng-click="postEditReply(current_edit_reply, current_reply_id)" class="btn btn-info">
                      Update
                  </button>
              </div>
          </div>
      </form>
</script>

<script type="text/ng-template" id="template_edit_comment">
      <form class="form-horizontal marg_t_20" id="message_form" role="form" method="POST">
          <div class="form-group">
              <div class="col-md-12">
                  <textarea class="form-control" autofocus autocomplete="off" placeholder="Write your Comment" ng-model="current_edit_comment" required>{{current_edit_comment}}</textarea>
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-12">
                  <button type="submit" ng-click="postEditComment(current_edit_comment, current_comment_id)" class="btn btn-info">
                      Update
                  </button>
              </div>
          </div>
      </form>
</script>

<script type='text/javascript' src='js/jquery/jquery.js'></script>



<script type='text/javascript' src='js/ion.rangeSlider.js'></script>
<script type='text/javascript' src='js/bootstrap.min.js'></script>
<script type='text/javascript' src='js/bootstrap-tagsinput.min.js'></script>
<script type='text/javascript' src='js/jquery.masonry.js'></script>
<script type='text/javascript' src='js/ladda.min.js'></script>
<script type='text/javascript' src='js/owl.carousel.min.js'></script>
<script type='text/javascript' src='js/bootstrap-select.js'></script>
<script type='text/javascript' src='js/bootstrap-tokenfield.min.js'></script>
<script type='text/javascript' src='js/common.js'></script>

</div>