<div id="myid" class="Profile page-id-7 page-template page-template-template-members page-template-template-members-php logged-in admin-bar no-customize-support  single-post st_classic menustyle_classic headstyle_classic transparentmenu_no head_stickyonscroll_no footerstyle_light subheaderbg_undermenu  page-members page-profile">
  <div ng-include="'views/templates/header.html'" ng-controller="AuthController"></div>

  <div  data-h="555" class="heading_blog parallax-window"  style='background: url("{{program_data.program.cover_image}}");' >
    <div class="bg_fon "  style='background: rgba(0,0,0,.2) !important;' >
      <div class="container">
        <div class="row">
          <div class="col-md-12 clearfix">

            <div class="nav_a_l">
              <a href="index.html">
                Program:
              </a>
              <a class="active">{{program_data.program.title}}</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  bg_fon -->

  <div class="user_wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="user_container">
            <div class="user_head">
              <div class="col-sm-3 col-md-3">
                <div class="user_avatar">

                  <form class="col-md-4" method="post" enctype="multipart/form-data">
                    <div class="input-file-row-1">
                      <div class="my-button2"></div>
                      <div class="upload-file-container">
                        <img id="image" ng-src="{{program_data.program.main_image}}"  alt="">
                      </div>
                    </div>
                  </form>

                </div>
              </div>
              <div class="col-sm-7 col-md-7">
                <div class="user_information">
                  <p class="user_loc">
                    <span class="edited" id="editer_profileglobe">
                      <i class="fa fa-globe"></i>
                    </span>
                    {{program_data.primary_place}}
                  </p>
                </div>
              </div>

              <div class="col-sm-2 col-md-2">
                <div class="user_btn" ng-show="program_data.program.user_id != program_data.uid && program_data.uid && !program_data.current_user_is_attending">
                  <a ng-click="attendProgram()" data-style="zoom-out" data-name="follow" class="btn btn-success btn-add_friends ladda btn-follow ladda-button ladda-primary edited" id="connect_button">
                    <span class="ladda-label">Attend </span>
                    <span class="ladda-spinner"></span>
                  </a>
                </div>
                
                <div class="user_btn" ng-show="program_data.uid == program_data.program.user_id">
                  <a ng-href="#/program/edit/{{program_data.program.slug}}" data-style="zoom-out" data-name="follow" class="btn btn-add_friends ladda btn-follow ladda-button ladda-primary edited" id="edited_addopr454">
                    <span class="ladda-label">Edit Program</span>
                    <span class="ladda-spinner"></span>
                  </a>
                </div>

              </div>


            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="user_photo "></div>
  <div class="user_properties">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="user_friends">

                <span ng-show="program_data.currentVote && !program_data.program.date">
                  <h3 class="grey-bottom">Timings</h3>
                  <div class="row">
                      <div class="col-md-12">
                          <p>Waiting to finalize </p>

                          <h4>Given timings</h4>{{program_data.option[0]}}
                          <span class="c_pomo fa fa-heart{{(program_data.currentVote.option1 ? '' : '-empty c_gray' )}} "></span> {{program_data.program.poll.option1_1 + ' ' + program_data.program.poll.option1_2 + ' to ' + program_data.program.poll.option1_3}} <span class="badge pull-right">{{program_data.option[0].length}}</span> <br>
                          <span ng-show="program_data.poll.option2_1" > <span class="c_pomo fa fa-heart{{(program_data.currentVote.option2 ? '' : '-empty c_gray' )}} "></span> {{program_data.program.poll.option2_1 + ' ' + program_data.program.poll.option2_2 + ' to ' + program_data.program.poll.option2_3}} <span class="badge pull-right">{{program_data.option[1].length}}</span><br></span>
                          <span ng-show="program_data.poll.option3_1" > <span class="c_pomo fa fa-heart{{(program_data.currentVote.option3 ? '' : '-empty c_gray' )}} "></span> {{program_data.program.poll.option3_1 + ' ' + program_data.program.poll.option3_2 + ' to ' + program_data.program.poll.option3_3}} <span class="badge pull-right">{{program_data.option[2].length}}</span><br>
                          <span ng-show="program_data.poll.option4_1" > <span class="c_pomo fa fa-heart{{(program_data.currentVote.option4 ? '' : '-empty c_gray' )}} "></span> {{program_data.program.poll.option4_1 + ' ' + program_data.program.poll.option4_2 + ' to ' + program_data.program.poll.option4_3}} <span class="badge pull-right">{{program_data.option[3].length}}</span> <br>

                      </div>
                  </div>
                </span>
                <span ng-show="!program_data.program.date && program_data.uid == program_data.program.user_id">
                  <h3 class="grey-bottom">Finalize timings</h3>


                      <form class="form-horizontal" id="reply_form"role="form"
                            method="POST">
                          <input type="hidden" name="_token" value="{{ csrf_token() }}">
                          <div class="form-group">
                              <div class="col-md-11 col-md-offset-1">
                                  <p>Please select the timings and submit once you have finalized.</p>

                                  <label class="radio grey-bottom" >
                                      <input type="radio" ng-model="final_option" value="1" checked onclick="$('#option_1_users').toggle(300);$('#option_2_users').hide();$('#option_3_users').hide();$('#option_4_users').hide();">{{program_data.program.poll.option1_1 + ' ' + program_data.program.poll.option1_2 + ' to ' + program_data.program.poll.option1_3}} <span class="badge pull-right">{{program_data.option[0].length}}</span>
                                  </label>

                                  <div class="row option-users" id="option_1_users"  ng-show='program_data.option[0]' style="display:none; margin-top: 20px;">


                                      <div class=" program media" ng-repeat='opt in program_data.option[0]'>
                                          <div class="media-left">
                                              <a href="/user/{{opt.username}}">
                                                  <img class="media-object" ng-src="{{opt.image_url}}" alt="...">
                                              </a>
                                          </div>
                                          <div class="media-body">
                                              <a ng-href="#/user/{{opt.username}}" class="media-heading">{{opt.first_name+' '+opt.last_name}}</a>
                                          </div>
                                      </div>

                                  </div>

                                  <span ng-show="program_data.program.poll.option2_1">
                                    <label class="radio grey-bottom">
                                        <input type="radio" ng-model="final_option"  value="2"  onclick="$('#option_2_users').toggle(300);$('#option_1_users').hide();$('#option_3_users').hide();$('#option_4_users').hide();">{{program_data.program.poll.option2_1 + ' ' + program_data.program.poll.option2_2 + ' to ' + program_data.program.poll.option2_3}} <span class="badge  pull-right">{{program_data.option[1].length}}</span>
                                    </label>
                                  </span>


                                  <div class="row option-users" id="option_2_users"  ng-show='program_data.option[1]' style="display:none; margin-top: 20px;">


                                      <div class="media" ng-repeat='opt in program_data.option[1]'>
                                          <div class="media-left">
                                              <a href="/user/{{opt.username}}">
                                                  <img class="media-object" ng-src="{{opt.image_url}}" alt="...">
                                              </a>
                                          </div>
                                          <div class="media-body">
                                              <h4 class="media-heading">{{opt.first_name+' '+opt.last_name}}</h4>
                                          </div>
                                      </div>

                                  </div>

                                  <span ng-show="program_data.program.poll.option3_1">
                                    <label class="radio grey-bottom">
                                        <input type="radio" ng-model="final_option"  value="3"  onclick="$('#option_3_users').toggle(300);$('#option_2_users').hide();$('#option_1_users').hide();$('#option_4_users').hide();">{{program_data.program.poll.option3_1 + ' ' + program_data.program.poll.option3_2 + ' to ' + program_data.program.poll.option3_3}} <span class="badge  pull-right">{{program_data.option[2].length}}</span>
                                    </label>
                                  </span>


                                  <div class="row option-users" id="option_3_users"  ng-show='program_data.option[2]' style="display:none; margin-top: 20px;">


                                      <div class="media" ng-repeat='opt in program_data.option[2]'>
                                          <div class="media-left">
                                              <a href="/user/{{opt.username}}">
                                                  <img class="media-object" ng-src="{{opt.image_url}}" alt="...">
                                              </a>
                                          </div>
                                          <div class="media-body">
                                              <h4 class="media-heading">{{opt.first_name+' '+opt.last_name}}</h4>
                                          </div>
                                      </div>

                                  </div>

                                  <span ng-show="program_data.program.poll.option4_1">
                                    <label class="radio grey-bottom">
                                        <input type="radio" ng-model="final_option"  value="4"  onclick="$('#option_4_users').toggle(300);$('#option_1_users').hide();$('#option_2_users').hide();$('#option_3_users').hide();">{{program_data.program.poll.option4_1 + ' ' + program_data.program.poll.option4_2 + ' to ' + program_data.program.poll.option4_3}} <span class="badge  pull-right">{{program_data.option[3].length}}</span>
                                    </label>
                                  </span>


                                  <div class="row option-users" id="option_4_users"  ng-show='program_data.option[3]' style="display:none; margin-top: 20px;">


                                      <div class="media" ng-repeat='opt in program_data.option[3]'>
                                          <div class="media-left">
                                              <a href="/user/{{opt.username}}">
                                                  <img class="media-object" ng-src="{{opt.image_url}}" alt="...">
                                              </a>
                                          </div>
                                          <div class="media-body">
                                              <h4 class="media-heading">{{opt.first_name+' '+opt.last_name}}</h4>
                                          </div>
                                      </div>

                                  </div>

                              </div>
                          </div>

                          <div class="form-group">
                              <div class="col-md-11 col-md-offset-1">
                                  <button type="submit" ng-click='finalizePoll()' class="btn btn-success">
                                      Finalize
                                  </button>
                              </div>
                          </div>
                      </form>

                </span>

                <span ng-show="!program_data.currentVote && !program_data.program.date && program_data.uid != program_data.program.user_id">
                  <h3 class="grey-bottom">Available timings</h3>

                    <form class="form-horizontal" id="reply_form"role="form" method="POST" >

                        <div class="form-group">
                          <div class="col-md-12 ">
                              <p>Please select the timings that would be convenient for you.</p>

                              <div class="switch_rating">
                                <input type="checkbox" class="checkbox" ng-model="poll_option1" id="checkbox1" >
                                <label for="checkbox1"> {{program_data.program.poll.option1_1 + ' ' + program_data.program.poll.option1_2 + ' to ' + program_data.program.poll.option1_3}} <span class="badge pull-right">{{program_data.option[0].length}}</span></label>
                              </div>

                              <div class="switch_rating" ng-show="program_data.program.poll.option2_1">
                                <input type="checkbox" class="checkbox" ng-model="poll_option2" id="checkbox2" >
                                <label for="checkbox2"> {{program_data.program.poll.option2_1 + ' ' + program_data.program.poll.option2_2 + ' to ' + program_data.program.poll.option2_3}} <span class="badge  pull-right">{{program_data.option[1].length}}</span></label>
                              </div>

                              <div class="switch_rating" ng-show="program_data.program.poll.option3_1">
                                <input type="checkbox" class="checkbox" ng-model="poll_option3" id="checkbox3" >
                                <label for="checkbox3"> {{program_data.program.poll.option3_1 + ' ' + program_data.program.poll.option3_2 + ' to ' + program_data.program.poll.option3_3}} <span class="badge  pull-right">{{program_data.option[2].length}}</span></label>
                              </div>

                              <div class="switch_rating" ng-show="program_data.program.poll.option3_1">
                                <input type="checkbox" class="checkbox" ng-model="poll_option4" id="checkbox4" >
                                <label for="checkbox4"> {{program_data.program.poll.option4_1 + ' ' + program_data.program.poll.option4_2 + ' to ' + program_data.program.poll.option4_3}} <span class="badge pull-right">{{program_data.option[3].length}}</span></label>
                              </div>


                          </div>
                        </div>

                      <div class="form-group">
                          <div class="col-md-12">
                              <button type="submit" ng-click='takePoll()' class="btn btn-success">
                                  Submit
                              </button>
                          </div>
                      </div>
                      </form>

                </span>

               <span ng-show="program_data.program.date && program_data.future_program">
                  <h3 class="grey-bottom"><span class="fa fa-calendar vista"></span> &nbsp;Date and Time</h3>
                    {{program_data.program.date + ' ' + program_data.program.time_start + ' to ' + program_data.program.time_end}}
                    
                    <p>{{program_data.seatsLeft}} seats left!</p>

                    <span ng-show="program_data.current_user_is_attending">
                      <p>You are attending this workshop <span class="fa fa-thumbs-up"></span></p>
                      <a href="/program/cancel-attend/{{program_data.program.slug}}" class="btn btn-danger btn-xs">cancel <span class="fa fa-thumbs-down"></span></a>
                    </span>


                    <span ng-show='program_data.seatsLeft > 0 && program_data.uid != program_data.program.user_id'>
                      <a href="/program/attend/{{program_data.program.slug}}" class="btn btn-success btn-block">Attend <span class="fa fa-thumbs-up"></span></a>
                    </span>

                    <h3 class="grey-bottom">Participants</h3>

                    <div class="row">
                      <div class="col-md-12">
                        <table ng-show="program_data.attendees.length > 0">
                          <tr  class="member_holder" ng-repeat="attendee in program_data.attendees">
                            <td class='member_image'>
                                 <img ng-src="{{attendee.user.image_url}}" alt="{{attendee.user.first_name}}" />
                            </td>
                            <td class="member_name">
                                <a ng-href='#user/{{attendee.user.username}}'>{{ attendee.user.first_name + ' ' + attendee.user.last_name }}</a>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>

                    <span ng-show="program_data.attendees.length == 0">
                      <p>No attendees yet.</p>
                    </span>

                </span>

                <span ng-show="program_data.program.date && !program_data.future_program">
                  <h3 class="grey-bottom"><span class="fa fa-calendar vista"></span> &nbsp;Date and Time</h3>
                  {{program_data.program.date  + ' ' + program_data.program.time_start + ' to ' + program_data.program.time_end}}

                  <h3 class="grey-bottom"><span class="fa fa-list c_cal"></span> &nbsp;Attendees ({{program_data.attendees.length}})</h3>
                  <div class="row">
                      <div class="col-md-12">
                        <table ng-show="program_data.attendees.length > 0">
                          <tr  class="member_holder" ng-repeat="attendee in program_data.attendees">
                            <td class='member_image'>
                                 <img ng-src="{{attendee.user.image_url}}" alt="{{attendee.user.first_name}}" />
                            </td>
                            <td class="member_name">
                                <a ng-href='#user/{{attendee.user.username}}'>{{ attendee.user.first_name + ' ' + attendee.user.last_name }}</a>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>

                  <span ng-show="program_data.attendees.length == 0">
                    <p>No attendees yet.</p>
                  </span>

                </span>
            
          </div>


          <div class="user_friends">
            <h3>
              Skills
            </h3>
            <div class="row">
              <div class="col-md-12" ng-show='program_data.skills.length == 0'>
                 No Skills added.
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 friend-item" ng-repeat='skill in program_data.skills'>
                  {{skill.tag}} 
                  <a class="small pull-right" href="" >
                    {{ showSkillLevel(skill.level) }}
                  </a>
              </div>
              
            </div>

          </div>

          <div class="user_friends" ng-show="program_data.program.venue">
            <h3>
              Venue
            </h3>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12" >
                  {{program_data.program.venue}} 
              </div>
              
            </div>

          </div>

          <div class="user_friends" ng-show="program_data.program.venue">
            <h3>
              Organizer 
            </h3>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12" ng-show="program_data.uid && program_data.program.new_contact">
                  <div class="clear" ng-show="program_data.program.name">
                    {{program_data.program.name}}
                  </div>
                  <div class="clear" ng-show="program_data.program.phone">
                    {{program_data.program.phone}}
                  </div>
                  <div class="clear" ng-show="program_data.program.email">
                    {{program_data.program.email}}
                  </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12" ng-show="program_data.uid && program_data.program.new_contact == 0">
                  <div class="clear" ng-show="program_data.program.user.first_name">
                    {{program_data.program.user.first_name}}
                  </div>
                  <div class="clear" ng-show="program_data.program.user.phone">
                    {{program_data.program.user.phone}}
                  </div>
                  <div class="clear" ng-show="program_data.program.user.email">
                    {{program_data.program.user.email}}
                  </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12" ng-show="!program_data.uid">
                Login to view the organizer details.
              </div>
            </div>

          </div>

        </div> <!-- End of col-3 -->
        <div class="col-md-8 user_latest">
          <div class="user_question">
            <h3>Summary </h3>
              <div class="row">
                <div class="marg_b_20 col-md-12" ng-bind-html="program_data.program.summary">
                 </div>

            </div>
          </div> <!-- End Of Places Holder -->
          <div class="user_question">
            <h3>Places </h3>
              <div class="row">
                <div class="marg_b_20 col-md-12" ng-show="show_add_place_form" id="add_place_form">
                    <div class="input-group add-on">
                      <input type="text" class="form-control" placeholder="Place" ng-model='new_place'>
                      <div class="input-group-btn">
                        <button class="btn btn-default" ng-click="addPlace()" type="submit"><i class="fa fa-map-marker"></i></button>
                      </div>
                    </div>
                 </div>

                <div class="col-md-12" ng-repeat="p in program_data.places">
                  <span class="place_holder">
                    <span class="map_icon">
                      <i class="fa fa-map-marker"></i>
                    </span>
                    <span class="place_address">{{p.address}}</span>
                  </span>
                </div>
            </div>
          </div> <!-- End Of Places Holder -->

          <div class="user_question">
            <h3>Comments </h3>
            <div class="row">
              <div class="proposals-list" >
                <div class='col-md-12' ng-show='program_data.comments.length == 0'>No comments yet.</div>
                  <div class="user_message clearfix" ng-repeat="comment in program_data.comments">
                    <div class="col-lg-12">
                      <div class="clearfix">
                        <div class="open-answer-date pull-left">
                          <a ng-href="#/user/{{comment.user.username}}">
                            <img  ng-src="{{comment.user.image_url}}"  alt="" />
                          </a>
                          <div class="open-answer-date-inf">
                            <a ng-href="#/user/{{comment.user.username}}">{{coment.user.first_name + ' ' + comment.user.last_name}}</a>
                            <p>{{comment.created_at}}</p>
                          </div>
                        </div>
                        <ul class="user_message_options pull-right">
                          <li>
                            <a href='' ng-click="showReplyBox(comment.id)">
                              <i class="fa fa-reply vista"></i>
                              
                            </a>
                          </li>
                          <li ng-show="comment.user_id == program_data.uid">
                            <a href="" ng-click="showEditCommentBox(comment.comment, comment.id)">
                              <i class="fa fa-edit sin"></i>
                              
                            </a>
                          </li>
                          <li ng-show="comment.user_id == program_data.uid">
                            <a ng-click="removeComment(comment.id)">
                              <i class="fa fa-minus-circle pomo"></i>
                              
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="us_line"></div>
                      <div class="us_content">
                        <p ng-bind-html="comment.comment"></p>
                      </div>
                    </div>
                    <!-- Replies -->
                    <div class="col-md-10 col-md-offset-2 col-sm-11 col-sm-offset-1">
                      <div class="user_message grey_comment clearfix" ng-repeat="reply in comment.replies">
                        <div class="col-lg-12">
                          <div class="clearfix">
                            <div class="open-answer-date pull-left">
                              <a href="#">
                                <img ng-src="{{reply.user.image_url}}"  alt="" />
                              </a>
                              <div class="open-answer-date-inf">
                                <a ng-href="#/user/{{reply.user.username}}">{{reply.user.first_name + ' ' + reply.user.last_name}}</a>
                                <p>{{reply.created_at}}</p>
                              </div>
                            </div>
                            <ul class="user_message_options pull-right">
                              <li>
                                <a  href='' ng-click="showReplyBox(comment.id)">
                                  <i class="fa fa-reply vista"></i>
                                  
                                </a>
                              </li>
                              <li ng-show='reply.user.id == program_data.uid'>
                                <a href="" ng-click="showEditReplyBox(reply.comment, reply.id)">
                                  <i class="fa fa-edit sin"></i>
                                  
                                </a>
                              </li>
                              <li ng-show='reply.user.id == program_data.uid'>
                                <a href="" ng-click="removeReply(reply.id)">
                                  <i class="fa fa-minus-circle pomo"></i>
                                  
                                </a>
                              </li>
                            </ul>
                          </div>
                          <div class="us_line"></div>
                          <div class="us_content">
                            <p ng-bind-html="reply.comment">
                              
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="write-your-answer clearfix">
                  <form id="newcomment" method="post">

                    <div class="col-lg-12">

                      <h3 class='edited' id='edited_single-Write-your-answer'>Write your comment</h3>
                    </div>

                    <div class="col-md-12 write-input">
                      <textarea class="e-mail_in" ng-model="new_comment"></textarea>
                    </div>
                  </form>

                  <div class=" col-md-12">
                      <a ng-click="addComment(new_comment)" data-style="zoom-out" data-name="follow" class="btn btn-success btn-add_friends ladda btn-follow ladda-button ladda-primary edited" id="review_button">
                        <span class="ladda-label">Add</span>
                        <span class="ladda-spinner"></span>
                      </a>
                  </div>
                </div>
            </div>
        </div>

        </div> <!-- End of Col-9 -->

      </div>
    </div>
  </div> <!-- End of User Properties -->

<!-- Custom TEmplate Scripts -->

<script type="text/ng-template" id="template_reply">
      <form class="form-horizontal marg_t_20" id="message_form" role="form" method="POST">
          <div class="form-group">
              <div class="col-md-12">
                  <textarea class="form-control" autofocus autocomplete="off" placeholder="Write your Comment" ng-model="new_reply" required></textarea>
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-12">
                  <button type="submit" ng-click="postReply(new_reply, reply_comment_id)" class="btn btn-success">
                      Reply
                  </button>
              </div>
          </div>
      </form>
</script>

<script type="text/ng-template" id="template_edit_reply">
      <form class="form-horizontal marg_t_20" id="message_form" role="form" method="POST">
          <div class="form-group">
              <div class="col-md-12">
                  <textarea class="form-control" autofocus autocomplete="off" placeholder="Write your Comment" ng-model="current_edit_reply" required>{{current_edit_reply}}</textarea>
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-12">
                  <button type="submit" ng-click="postEditReply(current_edit_reply, current_reply_id)" class="btn btn-info">
                      Update
                  </button>
              </div>
          </div>
      </form>
</script>

<script type="text/ng-template" id="template_edit_comment">
      <form class="form-horizontal marg_t_20" id="message_form" role="form" method="POST">
          <div class="form-group">
              <div class="col-md-12">
                  <textarea class="form-control" autofocus autocomplete="off" placeholder="Write your Comment" ng-model="current_edit_comment" required>{{current_edit_comment}}</textarea>
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-12">
                  <button type="submit" ng-click="postEditComment(current_edit_comment, current_comment_id)" class="btn btn-info">
                      Update
                  </button>
              </div>
          </div>
      </form>
</script>


<!-- Templates end -->
<script type='text/javascript' src='js/lightcase.js'></script>
<script type='text/javascript' src='js/common.js'></script>
<script type='text/javascript' src='js/ion.rangeSlider.js'></script>
<script type='text/javascript' src='js/bootstrap.min.js'></script>
<script type='text/javascript' src='js/bootstrap-tagsinput.min.js'></script>
<script type='text/javascript' src='js/jquery.masonry.js'></script>
<script type='text/javascript' src='js/ladda.min.js'></script>
<script type='text/javascript' src='js/owl.carousel.min.js'></script>
<script type='text/javascript' src='js/bootstrap-select.js'></script>
<script type='text/javascript' src='js/bootstrap-tokenfield.min.js'></script>
<script type='text/javascript' src='js/common.js'></script>

<script src="js/plugins/rateit/jquery.rateit.js" type="text/javascript"></script>

  <script type="text/javascript">
	jQuery(document).ready(function($) {
		if( typeof  window.lightcase == "object") { 
            $('a[data-rel^=lightcase]').lightcase
            ({
                transition: 'scrollHorizontal',
                showSequenceInfo: false,
                showTitle: true,
                swipe: true
            });

        }
	});
  </script>

  <script type="text/javascript">
      // User Star Rating initializer
      // initialize with defaults
      $("#user_rating_star").rateit();

      // with plugin options
      $("#user_rating_star").rateit({min:1, max:5, step:1, size:'l'});
  
  </script>
</div>
