<div class="hbox hbox-auto-xs hbox-auto-sm" >
  <!-- main -->
  <div class="col">
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">{{group_data.skill.tag}}  <span class="small">({{ group_data.place.formatted_address}})</span></h1>
        </div>

      </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-xs bg-light lter">
      <tabset class="tab-container bg-white-only">
        <ul class="nav nav-tabs" style="border-bottom: none;">
          <li class="active"><a href data-toggle="tab" data-target="#tab_1">Tasks <span class="badge bg-danger badge-sm m-l-xs">{{tasks.length}}</span></a></li>
          <li><a href data-toggle="tab" data-target="#tab_2">Members <span class="badge bg-info badge-sm m-l-xs">{{members.length}}</span></a></li>
        </ul>
        <div class="tab-content" >
          <div class="tab-pane active" id="tab_1">
             <ul class="list-group no-borders list-group-alt pull-in m-b-none" ng-show="tasks.length > 0">
              <li class="list-group-item" ng-repeat="task in tasks">
                <a ng-href="#/app/task/{{task.slug}}" class="h4 text-primary m-b-sm m-t-sm block">{{task.title}} </a>
                <p ng-bind-html="task.summary"></p>
                <p> <a href class="btn btn-default btn-sm m-r-sm" ng-repeat='skill in task.skills'>{{skill.tag}}</a> 
                </p>
              </li>
            </ul>
              
            <!-- If there are no tasks -->
            <div ng-show="tasks.length === 0">
              <div class='row'>
                <div class="col-md-12 text-center m-t">
                  <img src='/images/messages/no_message.svg' style="width:150px;">
                </div>

                <div class="col-md-12 text-center m-t">
                  No Tasks yet. <br><a class="text-info h3 m-t" ng-href='#/app/new-task'> Create Task +</a>
                </div>
              </div>
            </div>

          </div>
          <div class="tab-pane" id="tab_2">
            <ul class="list-group list-group-alt list-group-lg no-borders pull-in m-b-none">
              <li class="list-group-item" ng-repeat="user in members">
                <a ng-href="#/app/user/{{user.username}}" class="pull-left thumb-md m-r">
                  <img ng-src="{{user.image_url}}" alt="..." class="img-circle">
                </a>
                <div class="clear">
                  <a ng-href="#/app/user/{{user.username}}" class="h4 text-primary m-b-sm block">{{user.name}}</a>
                  <div >
                    <p> <a href class="btn btn-default btn-sm m-r-sm" ng-repeat='skill in user.skills'>{{skill.tag}}</a> </p>
                  </div>
                  <div ng-show="user.learns.length > 0">
                    <p> <a href class="btn btn-danger btn-sm m-r-sm" ng-repeat='learn in user.learns'>{{learn.tag}}</a> </p>
                  </div>
                </div>
              </li>
              
            </ul>

            <div ng-show="members.length === 0">
              <div class='row'>
                <div class="col-md-12 text-center m-t">
                  <img src='/images/messages/no_message.svg' style="width:150px;">
                </div>

                <div class="col-md-12 text-center m-t">
                  No members yet!
                </div>
              </div>

              <div class="clearfix" ng-show="tasks_nearby.length != 0">
                <h3 class="font-thin">Tasks you might be interested in</h3>
              
                <ul class="list-group no-borders list-group-alt pull-in m-b-none">
                  <li class="list-group-item" ng-repeat="task in tasks_nearby">
                    <a ng-href="#/app/task/{{task.slug}}" class="h4 text-primary m-b-sm m-t-sm block">{{task.title}} </a>
                    <p ng-bind-html="task.summary"></p>
                    <p> <a href class="btn btn-default btn-sm m-r-sm" ng-repeat='skill in task.skills'>{{skill.tag}}</a> 
                    </p>
                  </li>
                </ul>
              </div>

            </div>

          </div>
          
        </div>
      </tabset>
    </div>
  <!-- / main -->
  
</div>
