<div class="hbox hbox-auto-xs hbox-auto-sm" >
  <!-- main -->
  <div class="col">
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">Groups</h1>
        </div>

      </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md bg-white-only">
      <p>
      Groups are automatically created based on your skills and the location you have added to your profile.
      </p>
      <ul class="list-group list-group-alt list-group-lg no-borders pull-in m-b-none">
        <li class="list-group-item" ng-repeat="group in groups">
          
          <div class="clear">
            <a ng-href="#/app/group/{{place.id}}-{{group[1]}}" class="h4 text-primary m-b-sm block">{{group[0]}}</a>
            <div class='small text-muted'>
              {{place.formatted_address}}
            </div>
            
          </div>
        </li>
        
      </ul>
    </div>

  <!-- / main -->
  
</div>
