<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Edit Profile</h1>
</div>
<div class="wrapper-md" ng-controller="editProfileCtrl">
  <!-- toaster directive -->
  <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
  <!-- / toaster directive -->
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading font-thin h4">Skills </div>
        <div class="panel-body">
          <div class="user_friends">
              
            <div class="row">
              <div class="col-md-12 ">
                  <div class="marg_b_20" id="add_skill_form">
                    <div class="input-group add-on">
                      <input type="text" class="form-control" placeholder="Skill" ng-model='new_skill'>
                      <div class="input-group-btn">
                        <button class="btn btn-default" ng-click="addSkill()" type="submit"><i class="fa fa-plus"></i></button>
                      </div>
                    </div>
                 </div>
              </div>

              <button class="btn m btn-sm btn-default btn-addon" ng-repeat='skill in user_data.skills'><i class="fa fa-minus pull-right color-danger" ng-click="removeSkill(skill.id, skill.tag_type);"></i>{{skill.tag}}</button>
              <span class="col-md-12" ng-show="user_data.skills.length == 0">
                  <p>
                    <img src='images/user_page/no_skills.svg' height="100">
                  </p>
                  <p> You haven't added any skills. Please add some skills so that people near you can find you when they search for your skills.</p>
                  
              </span>
              
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading font-thin h4">Want to Learn</div>
        <div class="panel-body">
          <div class="user_friends">
              
            <div class="row">
              <div class="col-md-12 ">
                  <div class="marg_b_20" id="add_learn_form">
                    <div class="input-group add-on">
                      <input type="text" class="form-control" placeholder="Skill" ng-model='new_learn'>
                      <div class="input-group-btn">
                        <button class="btn btn-default" ng-click="addLearn()" type="submit"><i class="fa fa-plus"></i></button>
                      </div>
                    </div>
                 </div>
              </div>

              <button class="btn m btn-sm btn-default btn-addon" ng-repeat='learn in user_data.learns'><i class="fa fa-minus pull-right " ng-click="removeSkill(learn.id, learn.tag_type);"></i>{{learn.tag}}</button>
              <span class="col-md-12" ng-show="user_data.learns.length == 0">
                  <p>
                    <img src='images/user_page/no_skills.svg' height="100">
                  </p>
                  <p> You haven't added what you want to learn. Please add some tags so that we can help you find someone near you who can teach you.</p>
                  
              </span>
              
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">             
    <div class="panel-heading font-thin h4">Place</div>
    <div class="panel-body">
      <form role="form">
        <div class="form-group" ng-class="{ 'has-error': errors.place}">
          <input type="text" class="form-control" ng-model='user_data.primary_place.formatted_address' placeholder="Enter a Place">
        </div>
        <button type="submit" class="btn btn-info col-sm-3 col-sm-offset-9" ng-click="updatePlace(user_data.primary_place.id, user_data.primary_place.formatted_address)">Update</button>
      </form>
    </div>

  </div>

   <div class="panel panel-default">             
    <div class="panel-heading font-thin h4">General</div>
    <div class="panel-body">
      <form role="form" class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label" ng-class="{ 'has-error': errors.name}">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model='user_data.user.name' placeholder="Name">
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Phone</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model='user_data.user.phone' placeholder="Phone">
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Newsletter</label>
          <div class="col-sm-10">
            <label class="i-switch i-switch-md bg-info">
              <input type="checkbox" ng-model="user_data.user.newsletter">
              <i></i>
            </label>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Can Meet</label>
          <div class="col-sm-10">
            <label class="i-switch i-switch-md bg-info">
              <input type="checkbox" ng-model="user_data.user.available_to_meet">
              <i></i>
            </label>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
      </form>

      <button type="submit" class="btn btn-info col-sm-3 col-sm-offset-9" ng-click="updateUser()">Save</button>
    </div>
  </div>
  
</div>
