
<div class="app-content-body app-content-full fade-in-up ng-scope" >


  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col w-lg bg-light dk b-r bg-auto">
      
      <div class="vbox hidden-xs">
        <input type="text"  placeholder='Search' class='text_field' ng-model="search" ng-show="!no_threads" style='position:static;top:0;width: 100%;height: 56px;font-size: 20px;border: none;padding-left: 5px;background-color: rgb(240, 243, 244);'/>
        <div class="row-row bg-white-only">
          <div class="cell">

            <div class="scrollable  hidden-sm hidden-xs " id="email-menu" style="max-height: 80vh;">
              
              <div class="panel" ng-show="!no_threads">
                <ul class="list-group list-group-lg auto"  ng-click='selectThread(thread.user)'  ng-repeat="thread in message_data.threads | filter:search">
                  <li class="list-group-item clearfix" ng-class="{'bg-light lter text-default':thread.user.id == selected_user.id}" >
                    <span class="pull-left thumb-sm avatar m-r">
                      <img ng-src="{{thread.user.image_url}}" alt="{{thread.user.name}}" />
                      <!-- <i class="on b-white bottom"></i> -->
                    </span>
                    <span class="clear">
                      <span>{{ thread.user.name}}</span>
                      <!-- <small class="text-muted clear text-ellipsis">What's up, buddy</small> -->
                    </span>
                  </li>
                </ul>

              </div>  

              <div ng-show="no_threads" class="col-md-12">
                
                  <div class='row'>
                    <div class="col-md-12 text-center m-t">
                      <img src='/images/messages/no_message.svg' style="width:50%;">
                    </div>

                    <div class="col-md-12 text-center m-t">
                      You do not have any messages.
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" >
      <div class="vbox" >
      <!-- header -->
        <div class="wrapper bg-light lter b-b" style='position:static;top:0;'>
          
          <span class="font-thin h3">{{selected_user.name}}</span>
          <span class="font-thin h3" ng-show="no_threads"> No Conversations. </span>
          <button ng-click="showNewMessageBox()" class="btn m-b-xs btn-sm btn-primary btn-addon pull-right"><i class="fa fa-plus"></i>New Message</button>

        </div>
        <!-- / header -->

        <!-- chat -->
          <div class="panel panel-default row-row" id='messages_panel' >
            <div class="panel-body cell" id='messages_list' schroll-bottom="message_data.messages" style="padding-top:0px;max-height: 75vh;">
                <div ng-repeat="message in message_data.messages | toArray | filter:search" >
                      <!-- Other User -->
                      <div class="m-b pull-left" ng-show="message.sender == '0'">
                        <a href class="pull-left thumb-sm avatar"><img ng-src="{{message.message_from.image_url}}"  alt="..."></a>
                        <div class="m-l-xxl">
                          <div class="pos-rlt wrapper b b-light r r-2x">
                            <span class="arrow left pull-up"></span>
                            <p class="m-b-none">{{message.message}}</p>
                          </div>
                          <small class="text-muted"><i class="fa fa-ok text-success"></i> {{message.created_at}}</small>
                        </div>
                      </div>
                      
                      <!-- This user -->
                      <div class="m-b pull-right" ng-show="message.sender == '1'">
                        <a href class="pull-right thumb-sm avatar"><img ng-src="{{message.message_from.image_url}}" class="img-circle" alt="..."></a>
                        <div class="m-r-xxl">
                          <div class="pos-rlt wrapper b b-light r r-2x">
                            <span class="arrow right pull-up "></span>
                            <p class="m-b-none">{{message.message}}</p>
                          </div>
                          <small class="text-muted">{{message.created_at}}</small>
                        </div>
                      </div>    


                      <div class="line line-dashed b-b line-lg pull-in clearfix"></div>   
                </div>   
           
            </div>
            
          </div>

          <footer class="panel-footer" ng-show="!no_threads">
              <!-- chat form -->
              <div>
                <a class="pull-left thumb-xs avatar"><img ng-src="{{current_user.image_url}}" class="img-circle" alt="..."></a>
                <form class="m-b-none m-l-xl">
                  <div class="input-group">
                    <input type="text" class="form-control" ng-enter='postMessage(new_message)' ng-model='new_message' placeholder="Send Message">
                    <span class="input-group-btn">
                      <button class="btn btn-default" ng-click='postMessage(new_message)' type="button">SEND</button>
                    </span>
                  </div>
                </form>
              </div>
            </footer>
        <!-- /chat -->  
      </div> 
    </div>
  </div>



  <script type="text/ng-template" id="template_new_message">
    <input type="text"  placeholder='Search Connections' class='text_field' ng-model="new_search" ng-show="message_data.threads.length > 0" style='position:static;top:0;width: 100%;height: 50px;font-size: 20px;border: none;padding-left: 5px;background-color: rgb(240, 243, 244);'/>
    <button ng-click="new_message_dialog.close()" class="btn btn-rounded btn-lg btn-icon btn-danger m-r" style="z-index:50;position: fixed;top: 5px;right:5px;"><i class="fa fa-close"></i></button>
    <div class="col bg-light dk b-r bg-auto" style="max-height: 90vh;overflow-y: scroll;">
    
      <div class="panel vbox scrollable"  id="email-menu" ng-show="!no_connections">
        <ul class="list-group list-group-lg auto"  ng-click='newThread(user)'  ng-repeat="user in message_data.connections | toArray | filter:new_search">
          <li class="list-group-item clearfix" >
            <span class="pull-left thumb-sm avatar m-r">
              <img ng-src="{{user.image_url}}" alt="{{user.name}}" />
              <!-- <i class="on b-white bottom"></i> -->
            </span>
            <span class="clear">
              <span>{{ user.name }}</span>
              <!-- <small class="text-muted clear text-ellipsis">What's up, buddy</small> -->
            </span>
          </li>
        </ul>
      </div>

      <div ng-show="no_connections">
        <div class="col-md-12 text-center m-t">
          <img src='/images/user_page/no_connections.svg' style="width:30%;">
        </div>

        <div class="col-md-12 text-center m-t m-b"> You do not have any connections yet.</div>
      </div>
    </div>

  </script>


  <script type="text/ng-template" id="template_select_thread">
    
      <input type="text"  placeholder='Search' class='text_field' ng-model="search" ng-show="message_data.threads.length > 0" style='position:static;top:0;width: 100%;height: 50px;font-size: 20px;border: none;padding-left: 5px;background-color: rgb(240, 243, 244);'/>

        <div class="message_thread_list" ng-show="message_data.threads.length > 0">
          <table>
          <tr  class="chat_member_holder"  ng-click='selectThread(thread.user)'  ng-repeat="thread in message_data.threads | filter:search">
            <td class='member_image'>
                 <img ng-src="{{thread.user.image_url}}" alt="{{thread.user.first_name}}" />
            </td>
            <td class="member_name">
                <span>{{ thread.user.name }}</span>
            </td>
          </tr>
        </table>
    </div>

  </script>

</div>