
<div class="app-content-body app-content-full fade-in-up ng-scope">
  
  <div class="col bg-light dk b-r bg-auto visible-xs" style="height: 100vh;margin-bottom: -100px;">
    <div class="vbox">
      <input type="text"  placeholder='Search Conversations' class='text_field' ng-model="search" ng-show="message_data_mobile.threads.length > 0" style='position:static;top:0;width: 100%;height: 50px;font-size: 20px;border: none;padding-left: 5px;background-color: rgb(240, 243, 244);'/>
      <button ng-click="showNewMessageBoxMobile()" class="btn btn-rounded btn-lg btn-icon btn-primary pull-right m-r" style="z-index:50;position: fixed;bottom: 100px;right:10px;"><i class="fa fa-users"></i></button>

      <div class="row-row ">
        <div class="cell">

          <div class="scrollable" id="email-menu">
            
            <div class="panel" ng-show="message_data_mobile.threads.length > 0">
              <ul class="list-group list-group-lg auto"  ng-click='selectThreadMobile(thread.user)'  ng-repeat="thread in message_data_mobile.threads | filter:search">
                <li class="list-group-item clearfix" >
                  <span class="pull-left thumb-sm avatar m-r">
                    <img ng-src="{{thread.user.image_url}}" alt="{{thread.user.first_name}}" />
                    <!-- <i class="on b-white bottom"></i> -->
                  </span>
                  <span class="clear">
                    <span>{{ thread.user.name }}</span>
                    <!-- <small class="text-muted clear text-ellipsis">What's up, buddy</small> -->
                  </span>
                </li>
              </ul>

            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/ng-template" id="mobile_conversation_panel">
    <!-- header -->
    <div class="wrapper bg-light lter b-b" style='position:static;top:0;'>
      
      <span class="font-thin h3">{{selected_user.name}}</span>
      <button class="btn btn-rounded btn-md btn-icon btn-danger pull-right" ng-click="closeMobileConversation()"><i class="fa fa-close"></i></button>
      <!-- <button class="btn btn-rounded btn-md btn-icon btn-primary pull-right m-r"><i class="fa fa-users"></i></button> -->
      

    </div>
    <!-- / header -->
    <div class="visible-xs" style="min-height: 90vh;max-height: 90vh;overflow-y: scroll;">
    <!-- chat -->
      <div class="panel panel-default row-row" schroll-bottom="message_data_mobile.messages" style="min-height: 90vh;max-height: 90vh;margin-bottom:-50px;overflow-y: scroll">
        <div class="panel-body cell" >
            <div ng-repeat="message in message_data_mobile.messages | toArray | filter:search">
                  <!-- Other User -->
                  <div class="m-b pull-left" ng-show="message.sender == '0'">
                    <a href class="pull-left thumb-sm avatar"><img ng-src="{{message.message_from.image_url}}"  alt="..."></a>
                    <div class="m-l-xxl">
                      <div class="pos-rlt wrapper b b-light r r-2x">
                        <span class="arrow left pull-up"></span>
                        <p class="m-b-none">{{message.message}}</p>
                      </div>
                      <small class="text-muted"><i class="fa fa-ok text-success"></i> {{message.created_at}}</small>
                    </div>
                  </div>
                  
                  <!-- This user -->
                  <div class="m-b pull-right" ng-show="message.sender == '1'">
                    <a href class="pull-right thumb-sm avatar"><img ng-src="{{message.message_from.image_url}}" class="img-circle" alt="..."></a>
                    <div class="m-r-xxl">
                      <div class="pos-rlt wrapper b b-light r r-2x">
                        <span class="arrow right pull-up "></span>
                        <p class="m-b-none">{{message.message}}</p>
                      </div>
                      <small class="text-muted">{{message.created_at}}</small>
                    </div>
                  </div>    


                  <div class="line line-dashed b-b line-lg pull-in clearfix"></div>   
            </div>   
       
        </div>
        
      </div>

      <footer class="panel-footer" style='position:static;bottom:0;'>
          <!-- chat form -->
          <div>
            <a class="pull-left thumb-xs avatar"><img ng-src="{{current_user.image_url}}" class="img-circle" alt="..."></a>
            <form class="m-b-none m-l-xl">
              <div class="input-group">
                <input type="text" class="form-control" ng-enter='postMessage(new_message);new_message = "";' ng-model='new_message' placeholder="Send Message">
                <span class="input-group-btn">
                  <button class="btn btn-default" ng-click='postMessage(new_message); new_message = ""'; type="button">SEND</button>
                </span>
              </div>
            </form>
          </div>
        </footer>
    <!-- /chat -->     
    </div>

  </script>

  <script type="text/ng-template" id="template_new_message">
    <input type="text"  placeholder='Search Connections' class='text_field' ng-model="new_search" ng-show="message_data_mobile.threads.length > 0" style='position:static;top:0;width: 100%;height: 50px;font-size: 20px;border: none;padding-left: 5px;background-color: rgb(240, 243, 244);'/>
    <button ng-click="closeNewMessageBox()" class="btn btn-rounded btn-lg btn-icon btn-danger m-r" style="z-index:50;position: fixed;top: 5px;right:5px;"><i class="fa fa-close"></i></button>
    <div class="col bg-light dk b-r bg-auto" style="max-height: 90vh;overflow-y: scroll;">
    
      <div class="panel vbox scrollable"  id="email-menu">
        
          <ul class="list-group list-group-lg auto"  ng-click='newThread(user)'  ng-repeat="user in message_data_mobile.connections | toArray | filter:new_search">
            <li class="list-group-item clearfix" >
              <span class="pull-left thumb-sm avatar m-r">
                <img ng-src="{{user.image_url}}" alt="{{user.name}}" />
                <!-- <i class="on b-white bottom"></i> -->
              </span>
              <span class="clear">
                <span>{{ user.name }}</span>
                <!-- <small class="text-muted clear text-ellipsis">What's up, buddy</small> -->
              </span>
            </li>
          </ul>
        </div>
    </div>

  </script>

  <script type="text/ng-template" id="template_new_message_mobile">
    <input type="text"  placeholder='Search Connections' class='text_field' ng-model="new_search" ng-show="message_data_mobile.connections.length > 0" style='position:static;top:0;width: 100%;height: 50px;font-size: 20px;border: none;padding-left: 5px;background-color: rgb(240, 243, 244);'/>
    <button ng-click="closeNewMessageBox()" class="btn btn-rounded btn-lg btn-icon btn-danger m-r" style="z-index:50;position: fixed;top: 5px;right:5px;"><i class="fa fa-close"></i></button>
    <div class="col bg-light dk b-r bg-auto visible-xs" style="max-height: 90vh;overflow-y: scroll;">
    
      <div class="panel vbox scrollable"  id="email-menu">
        
          <ul class="list-group list-group-lg auto"  ng-click='newThreadMobile(user)'  ng-repeat="user in message_data_mobile.connections | toArray | filter:new_search">
            <li class="list-group-item clearfix" >
              <span class="pull-left thumb-sm avatar m-r">
                <img ng-src="{{user.image_url}}" alt="{{user.name}}" />
                <!-- <i class="on b-white bottom"></i> -->
              </span>
              <span class="clear">
                <span>{{ user.name }}</span>
                <!-- <small class="text-muted clear text-ellipsis">What's up, buddy</small> -->
              </span>
            </li>
          </ul>
        </div>
    </div>

  </script>



</div>