<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Notifications</h1>
</div>
<div class="wrapper-md" ng-controller="notificationCtrl">
    <div class="col">
    <div class="wrapper">
      <ul class="timeline">
        <li class="tl-header">
          <div class="btn btn-info">Now</div>
        </li>
        <!-- Notifications start -->

        <span ng-repeat="notification in notifications">
          <li class="tl-item">
            <div class="tl-wrap b-info">
              <span class="tl-date">5s ago</span>
              <div class="tl-content">
                Just a title
              </div>
            </div>
          </li>
          <li class="tl-item">
            <div class="tl-wrap">
              <span class="tl-date">2h ago</span>
              <div class="tl-content panel padder b-a">
                <span class="arrow left pull-up"></span>
                <div>Content in a panel</div>
              </div>
            </div>
          </li>
          <li class="tl-item tl-left">
            <div class="tl-wrap b-success">
              <span class="tl-date">7:30 am</span>
              <div class="tl-content panel bg-success padder">
                <span class="arrow arrow-success left pull-up hidden-left"></span>
                <span class="arrow arrow-success right pull-up visible-left"></span>
                <div class="text-lt">Oh! Colorful</div>
              </div>
            </div>
          </li>
          <li class="tl-item">
            <div class="tl-wrap b-primary">
              <span class="tl-date">04.2014</span>
              <div class="tl-content panel padder b-a w-md w-auto-xs">
                <span class="arrow left pull-up"></span>
                <div class="text-lt m-b-sm">New User</div>
                <div class="panel-body pull-in b-t b-light">
                  <a href="" class="thumb pull-right m-l m-t-xs avatar">
                    <img src="img/a4.jpg" alt="...">
                    <i class="on md b-white bottom"></i>
                  </a>
                  <div class="clear">
                    <a href="" class="text-primary block m-b-xs">@Mike Mcalidek <i class="icon-twitter"></i></a>
                    <a href="" class="btn btn-addon btn-sm btn-info m-t-xs"><i class="fa fa-map-marker"></i> Leicester</a>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="tl-header">
            <div class="btn btn-sm btn-default btn-rounded">2014</div>
          </li>
          <li class="tl-item">
            <div class="tl-wrap">
              <span class="tl-date">10.08.2013</span>
              <div class="tl-content panel padder b-a">
                <span class="arrow left pull-up hidden-left"></span>
                <span class="arrow right pull-up visible-left"></span>
                <div class="text-lt">A good story to hear.</div>
              </div>
            </div>
          </li>
          <li class="tl-header">
            <div class="btn btn-icon btn-rounded btn-default"><i class="fa fa-twitter"></i></div>
          </li>
          <li class="tl-item tl-left">
            <div class="tl-wrap b-white">
              <span class="tl-date">5.07.2013</span>
              <div class="tl-content panel padder b-a">
                <span class="arrow left pull-up hidden-left"></span>
                <span class="arrow right pull-up visible-left"></span>
                <div class="text-lt">Yesterday is History</div>
              </div>
            </div>
          </li>
        </span>
        <!-- Notifications items end -->

        <li class="tl-header">
          <div class="btn btn-sm btn-default btn-rounded">more</div>
        </li>
      </ul>
    </div>
  </div>
</div>
