<div class="hbox hbox-auto-xs hbox-auto-sm">
  <div class="col">
    <div style="background-size:cover;background-position:center;background-image: url('{{user.image_url}}')">
      <div class="wrapper-lg"  style="background: rgba(0, 0, 0, .4);height: 220px;">
        <div class="row m-t">
          <div class="col-sm-7">
            <a href class="thumb-lg pull-left m-r">
              <img ng-src="{{user.image_url}}" class="img-circle">
            </a>
            <div class="clear m-b">
              <div class="m-b m-t-sm">
                <span class="h3 text-white">{{user.name}}</span>
                <small class="m-l text-white">{{primary_place.formatted_address}}</small>
              </div>
              <!-- <p class="m-b">
                <a href class="btn btn-sm btn-bg  btn-default btn-icon"><i class="fa fa-facebook"></i></a>
                <a href class="btn btn-sm btn-bg  btn-default btn-icon"><i class="fa fa-google-plus"></i></a>
              </p> -->
              <a href class="btn btn-sm btn-default " ng-click="clickUpload()" ng-show="current_user.id == user.id">Change Image</a>
              <input type="file" id='new_user_image' ng-model='new_user_image' nv-file-select="uploadUserImage($file)" uploader="uploader" accept="image/*"  class="photo hidden">
              <a href class="btn btn-sm btn-default " ng-href='#/app/home/edit-profile' ng-show="current_user.id == user.id">Edit Profile</a>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="pull-right pull-none-xs text-center">
              <a href class="m-b-md inline m text-white">
                <span class="h3 block font-bold">{{average_rating}} <i class="fa fa-star"></i></span>
                <small>Based on {{ratings.length}} reviews</small>
              </a>
              <a href class="m-b-md inline m text-white">
                <span class="h3 block font-bold">{{connections.length}}</span>
                <small>Connections</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <tabset class="tab-container bg-white-only">
    <ul class="nav nav-tabs">
      <li class="active"><a href data-toggle="tab" data-target="#tab_1">Profile </a></li>
      <li><a href data-toggle="tab" data-target="#tab_2">Tasks <span class="badge bg-danger badge-sm m-l-xs">{{my_tasks.length}}</span></a></li>
      <li><a href data-toggle="tab" data-target="#tab_3">Connection Requests <span class="badge bg-danger badge-sm m-l-xs">{{my_tasks.length}}</span></a></li>
    </ul>
    <div class="tab-content" style="border:none;">
      <div class="tab-pane active" id="tab_1">
         <h3> Place </h3>
         <div id='user_learn'>
           <button class="btn m-b-xs btn-md btn-info btn-addon"><i class="fa fa-map-marker"></i>{{primary_place.formatted_address}}</button>
         </div>

         <h3> Skills </h3>
         <div id='user_skills'>
           <span class="btn btn-default m-r" ng-repeat="skill in skills">{{skill.tag}}</span> 
           <div ng-show="skills.length == 0">No skills added.</div>
         </div>

         <h3> Wants to learn </h3>
         <div id='user_learn'>
           <span class="btn btn-default m-r" ng-repeat="learn in learns">{{learn.tag}}</span> 
           <div ng-show="learns.length == 0">No skills added.</div>
         </div>

         <h3> Reviews </h3>
         <div id='user_reviews'>
              <!-- .review-list -->
              <div class="m-b b-l m-l-md streamline" ng-repeat="rating in ratings">
                <div>
                  <a ng-href='#/app/user/{{rating.from_user.username}}' class="pull-left thumb-sm avatar m-l-n-md">
                    <img ng-src="{{rating.from_user.image_url}}" class="img-circle" alt="...">
                  </a>
                  <div class="m-l-lg panel b-a">
                    <div class="panel-heading pos-rlt b-b b-light">
                      <span class="arrow left"></span>
                      <span class="m-r">{{rating.from_user.name}}</span>
                      <rating ng-model="rating.rating" max="5" readonly="isReadonly"></rating>
                      <span class="text-muted m-l-sm pull-right">
                        <i class="fa fa-clock-o"></i>
                        {{rating.created_at}}
                      </span>
                    </div>
                    <div class="panel-body">
                      <div>{{rating.comment}}</div>
                      
                    </div>
                  </div>
                </div>

              </div>
              <div class="clearfix m-b-lg" ng-show="current_user.id != user.id && !current_user_reviewed">
                <a class="pull-left thumb-sm avatar"><img ng-src="{{user.image_url}}" alt="..."></a>
                <div class="m-l-xxl">
                <span class="m hbox">
                  <rating ng-init='new_rate = 5' ng-model="new_rate" max="5" ></rating>
                </span>
                  <form class="m-b-none">
                    <div>
                      <textarea class="form-control input-lg" placeholder="Add your review"></textarea>
                    </div>
                    <span class="input-group-btn">
                      <button class="m btn btn-info btn-md  pull-right" type="button">Add</button>
                    </span>
                  </form>
                </div>
              </div>

              <span ng-show='ratings.length === 0'> You do not have any reviews yet. Start handling tasks to get more reviews.</span>

         </div>
        
      </div>
      <div class="tab-pane" id="tab_2">
        <ul class="list-group no-borders list-group-alt pull-in m-b-none">
          <li class="list-group-item" ng-repeat="task in my_tasks">
            <a ng-href="#/app/task/{{task.slug}}" class="h4 text-primary m-b-sm m-t-sm block">{{task.title}} </a>
            <p ng-bind-html="task.summary"></p>
            <p><span class="label bg-dark pos-rlt m-r inline wrapper-sm"><i class="arrow right arrow-dark"></i> Skills:</span> <a href class="btn btn-default btn-sm m-r-sm" ng-repeat='skill in task.skills'>{{skill.tag}}</a> 
            </p>
          </li>
        </ul>
      </div>

      <div class="tab-pane" id="tab_3">
        <ul class="list-group list-group-alt list-group-lg no-borders pull-in m-b-none">
          <li class="list-group-item" ng-repeat="cr in connection_requests">
            <a href="#" class="pull-left thumb-md m-r">
              <img ng-src="{{cr.user.image_url}}" alt="..." >
            </a>
            <div class="clear">
              <a ng-href="#/app/user/{{cr.user.username}}" class="h4 text-primary m-b-sm block">{{cr.user.name}}</a>
              <div>
                {{cr.message}}

              </div>
              <!-- <div >
                <p><a href class="btn btn-default btn-sm m-r-sm" ng-repeat='skill in user.skills'>{{skill.tag}}</a> </p>
              </div>
              <div ng-show="user.learns.length > 0">
                <p> <a href class="btn btn-danger btn-sm m-r-sm" ng-repeat='learn in user.learns'>{{learn.tag}}</a> </p>
              </div> -->
            </div>
          </li>
          
        </ul>
      </div>
      
    </div>
  </tabset>

  </div>
  <div class="col w-lg bg-light lter b-l bg-auto">
    <div class="wrapper">
      <div class="">
        <h4 class="m-t-xs m-b-xs">Similar Members Nearby</h4>
        <ul class="list-group no-bg no-borders pull-in">
          <li class="list-group-item clearfix" ng-repeat="member in members_nearby">
            <a ng-href='#/app/user/{{member.username}}' class="pull-left thumb-sm  m-r">
              <img ng-src="{{member.image_url}}" alt="">
            </a>
            <div class="clear">
              <div><a href>{{member.name}}</a></div>
              <small class="text-muted">{{member.skill_set}}</small>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>