<div class="hbox hbox-auto-xs hbox-auto-sm">
  <div class="col">
    <div style="background-size:cover;background-position:center;background-image: url('{{user.image_url}}')">
      <div class="wrapper-lg"  style="background: rgba(0, 0, 0, .4);height: 220px;">
        <div class="row m-t">
          <div class="col-sm-7">
            <a href class="thumb-lg pull-left m-r">
              <img ng-src="{{user.image_url}}" class="img-circle">
            </a>
            <div class="clear m-b ">
              <div class="m-b m-t-sm">
                <span class="h3 text-white">{{user.name}}</span>
                <small class="m-l text-white">{{primary_place}}</small>
              </div>
              <!-- <p class="m-b">
                <a href class="btn btn-sm btn-bg  btn-default btn-icon"><i class="fa fa-twitter"></i></a>
                <a href class="btn btn-sm btn-bg  btn-default btn-icon"><i class="fa fa-facebook"></i></a>
                <a href class="btn btn-sm btn-bg  btn-default btn-icon"><i class="fa fa-google-plus"></i></a>
              </p> -->
              <a href class="btn btn-sm btn-success " ng-click='showConnectBox()' ng-show="!connectionStatus && current_user.id != user.id">Connect</a>
              <a href class="btn btn-sm btn-success " ng-click="showMessageBox()" ng-show="connectionStatus == 2 && current_user.id != user.id">Message</a>

              <span ng-show="to_sent && connectionStatus == '1'"> Has sent you a request to connect.</span>
              <a href class="btn btn-sm btn-info " ng-click='responseConnect(2, connection.id)' ng-show="to_sent && connectionStatus == '1'">Accept</a>
              <a href class="btn btn-sm btn-warning " ng-click='responseConnect(3, connection.id)' ng-show="to_sent && connectionStatus == 1">Reject</a>

              <a href class="btn btn-sm btn-info "  ng-show="current_sent && connectionStatus == '1'">Awaiting Ruquest</a>
              <a href class="btn btn-sm btn-warning " ng-click='responseConnect(4, connection.id)' ng-show="current_sent && connectionStatus == 1">Cancel</a>

              <a href class="btn btn-sm btn-default " ng-show="current_user.id == user.id">Edit Profile</a>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="pull-right pull-none-xs text-center text-white">
              <a href class="m-b-md inline m">
                <span class="h3 block font-bold">{{average_rating}} <i class="fa fa-star"></i></span>
                <small>Based on {{ratings.length}} reviews</small>
              </a>
              <a href class="m-b-md inline m">
                <span class="h3 block font-bold">{{connections.length}}</span>
                <small>Connections</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <tabset class="tab-container bg-white-only">
    <ul class="nav nav-tabs">
      <li class="active"><a href data-toggle="tab" data-target="#tab_1">Profile </a></li>
      <li><a href data-toggle="tab" data-target="#tab_2">Tasks <span class="badge bg-danger badge-sm m-l-xs">{{my_tasks.length}}</span></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_1">
         <h3> Place </h3>
         <div id='user_learn'>
           <button class="btn m-b-xs btn-md btn-info btn-addon"><i class="fa fa-map-marker"></i>{{primary_place}}</button>
         </div>

         <h3> Skills </h3>
         <div id='user_skills'>
           <span class="btn btn-default m-r" ng-repeat="skill in skills">{{skill.tag}}</span>
           <div ng-show="skills.length == 0">No skills added.</div> 
         </div>

         <h3> Wants to learn </h3>
         <div id='user_learn'>
           <span class="btn btn-default m-r" ng-repeat="learn in learns">{{learn.tag}}</span> 
           <div ng-show="learns.length == 0">No skills added.</div>
         </div>

         <h3> Reviews </h3>
         <div id='user_reviews'>
              <!-- .review-list -->
              <div class="m-b b-l m-l-md streamline" ng-repeat="rating in ratings">
                <div>
                  <a class="pull-left thumb-sm avatar m-l-n-md">
                    <img ng-src="{{rating.reviewed_by.image_url}}" class="img-circle" alt="...">
                  </a>
                  <div class="m-l-lg panel b-a">
                    <div class="panel-heading pos-rlt b-b b-light">
                      <span class="arrow left"></span>
                      <span class="m-r">{{rating.reviewed_by.name}}</span>
                      <rating ng-model="rating.rating" max="5" readonly="isReadonly"></rating>
                      <span class="text-muted m-l-sm pull-right">
                        <i class="fa fa-clock-o"></i>
                        {{rating.created_at}}
                      </span>
                    </div>
                    <div class="panel-body">
                      <div>{{rating.comment}}</div>
                      
                    </div>
                  </div>
                </div>

              </div>

              <span ng-show='ratings.length === 0'>
                No Reviews yet.
              </span>
              <div class="clearfix m-b-lg" ng-show="current_user.id != user.id && current_user_reviewed == false && connectionStatus == 2">
                <a class="pull-left thumb-sm avatar"><img ng-src="{{current_user.image_url}}" alt="..."></a>
                <div class="m-l-xxl">
                <span class="m hbox">
                  <rating ng-init='new_rate = 5' ng-model="new_rate" max="5" ></rating>
                </span>
                  <form class="m-b-none">
                    <div>
                      <textarea class="form-control input-lg" ng-model='comment' placeholder="Add your review"></textarea>
                    </div>
                    <span class="input-group-btn">
                      <button class="m btn btn-info btn-md  pull-right" ng-click="addReview(new_rate, comment)" type="button">Add</button>
                    </span>
                  </form>
                </div>
              </div>

         </div>
        
      </div>
      <div class="tab-pane" id="tab_2">
        <div ng-show="my_tasks.length == 0">Not added any Tasks.</div>
        <ul class="list-group no-borders list-group-alt pull-in m-b-none">
          <li class="list-group-item" ng-repeat="task in my_tasks">
            <a href="#" class="h4 text-primary m-b-sm m-t-sm block">{{task.title}} </a>
            <p ng-bind-html="task.summary"></p>
            <p><span class="label bg-primary pos-rlt m-r inline wrapper-sm"><i class="arrow right arrow-primary"></i> Skills:</span> <a href class="btn btn-default btn-sm m-r-sm" ng-repeat='skill in task.skills'>{{skill.tag}}</a> 
            </p>
          </li>
        </ul>
      </div>
      
    </div>
  </tabset>

  </div>
  <div class="col w-lg bg-light lter b-l bg-auto">
    <div class="wrapper">
      <div class="">
        <h4 class="m-t-xs m-b-xs">Similar Members</h4>
        <ul class="list-group no-bg no-borders pull-in">
          <li class="list-group-item clearfix" ng-repeat="member in members_nearby">
            <a ng-href='#/app/user/{{member.username}}' class="pull-left thumb-sm m-r">
              <img ng-src="{{member.image_url}}" alt="..." >

            </a>
            <div class="clear">
              <div><a href>{{member.name}}</a></div>
              <small class="text-muted">{{member.skill_set}}</small>
            </div>
          </li>
        </ul>
      </div>
     
      
    </div>
  </div>
</div>


<!-- Custom TEmplate Scripts -->
<script type="text/ng-template" id="template_connect">
    <div ng-show="!user_data.connectionStatus" class="m-md">
      Get connected with {{user_data.user.first_name}} to get updates, ask for support and more.
      <form class="form-horizontal" id="connect_form" role="form" method="POST">
          <div class="form-group">
              <div class="col-md-12">
                  <textarea class="form-control" autofocus autocomplete="off" placeholder="An optional message" ng-model="connect_message">I'd like to get connected</textarea>
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-12" style="padding-left: 40px;">
                  <label class="radio">
                      <input type="radio" ng-model="connect_purpose" ng-init="connect_purpose=true" ng-checked='true' ng-value="'friend'"> Friend
                  </label>
                  <label class="radio">
                      <input type="radio" ng-model="connect_purpose" ng-value="'support'"> Support
                  </label>
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-12">
                  <button type="submit" class="btn  btn-info" ng-click="postConnect(connect_message, connect_purpose)">
                      Send request
                  </button>
              </div>
          </div>
      </form>
    </div>
</script>


<script type="text/ng-template" id="template_message">
      <form class="form-horizontal m-md" id="message_form" role="form" method="POST">
          <div class="form-group">
              <div class="col-md-12">
                  <textarea id="send_message" class="form-control" autofocus autocomplete="off" placeholder="Message" ng-model="message" required></textarea>
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-12">
                  <button type="submit" ng-click="postMessage(message)" class="btn btn-info">
                      Send message
                  </button>
              </div>
          </div>
      </form>
</script>