<!-- toaster directive -->
  <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->
<div class="container w-xxl w-auto-xs" ng-controller="emailController" >
  <a href class="navbar-brand block m-t">Update your Subscription</a>
  <div class="m-b-lg">

    <form name="form" class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-date-disabled">
      <div class="text-danger wrapper" ng-show="authError">
          {{authError}}
      </div>
        <div class="form-group">
        <label class="col-sm-6 control-label">Weekly Newsletter</label>
        <div class="col-sm-6">
          <label class="i-switch m-t-xs m-r">
            <input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model='weekly_newsletter'>
            <i></i>
          </label>
        </div>

        <label class="col-sm-6 control-label">New Message</label>
        <div class="col-sm-6">
          <label class="i-switch m-t-xs m-r">
            <input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model='new_message'>
            <i></i>
          </label>
        </div>

        <label class="col-sm-6 control-label">Task Comments</label>
        <div class="col-sm-6">
          <label class="i-switch m-t-xs m-r">
            <input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model='task_comment'>
            <i></i>
          </label>
        </div>

        <label class="col-sm-6 control-label">Task Handle Request</label>
        <div class="col-sm-6">
          <label class="i-switch m-t-xs m-r">
            <input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model='task_handle_request'>
            <i></i>
          </label>
        </div>

        <label class="col-sm-6 control-label">Connection Request</label>
        <div class="col-sm-6">
          <label class="i-switch m-t-xs m-r">
            <input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model='profile_connection'>
            <i></i>
          </label>
        </div>

        <label class="col-sm-6 control-label">Rating</label>
        <div class="col-sm-6">
          <label class="i-switch m-t-xs m-r">
            <input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model='profile_rating'>
            <i></i>
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-sm btn-primary btn-block" ng-click="updateSubscribtion()">Update</button>
    </form>
  </div>
  <div class="text-center" ng-include="'tpl/blocks/page_footer.html'">
    {% include 'blocks/page_footer.html' %}
  </div>
</div>