
  <div class="panel panel-default hidden-xs" ng-init='dashboardSearch();' >
    <div class="panel-body">
      <form class="form" role="form" style="font-size: 20px;">
        <div class="col-md-3">
          <label class="sr-only" for="search_task_text">Tasks</label>
          <input type="text" class="form-control" ng-model="search_text" placeholder="Tasks">
        </div>
        <label for="search_task_text" style="float: left;">within</label>
        <div class="col-md-2">

          <ui-select ng-model="distance.selected" theme="bootstrap" id='search_distance' >
            <ui-select-match placeholder="1 mile" >{{$select.selected.text}}</ui-select-match>
            <ui-select-choices repeat="item in available_distance | filter: $select.search">
             <small ng-bind-html="item.text | highlight: $select.search"></small>
            </ui-select-choices>
          </ui-select>
        </div>
        <label for="search_task_text" style="float: left;">of</label>
        <div class="col-md-4" >
          <ui-select ng-model="address.selected"
                       theme="bootstrap"
                       ng-disabled="disabled"
                       reset-search-input="false"
                       ng-change="dashboardSearch()">
              <ui-select-match placeholder="Enter an address...">{{$select.selected.formatted_address}}</ui-select-match>
              <ui-select-choices repeat="address in addresses track by $index"
                       refresh="refreshAddresses($select.search)"
                       refresh-delay="0">
                <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-2" >
          <button type="submit" class="btn btn-default" style="font-size: 14px;" ng-click="dashboardSearch();">Search</button>
        </div>
      </form>
    </div>
  </div>
  <p class="m-b-md"><strong>{{tasks.length}}</strong> Tasks & <strong>{{users.length}}</strong> Users from <strong>{{address.selected.formatted_address}}</strong></p>
  <tabset class="tab-container">
    <ul class="nav nav-tabs">
      <li class="active"><a href data-toggle="tab" data-target="#tab_1">Tasks <span class="badge badge-sm m-l-xs">{{tasks.length}}</span></a></li>
      <li><a href data-toggle="tab" data-target="#tab_2">Users <span class="badge badge-sm m-l-xs">{{users.length}}</span></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_1">
        <ul class="list-group list-group-alt no-borders pull-in m-b-none">
          <li class="list-group-item" ng-repeat="task in tasks">
            <a ng-href="#/app/task/{{task.slug}}" class="h4 text-primary m-b-sm m-t-sm block">{{task.title}} </a>
            <p ng-bind-html="task.summary"></p>
            <p> <a href class="btn btn-default btn-sm m-r-sm" ng-repeat='skill in task.skills'>{{skill.tag}}</a> 
            </p>
          </li>
          
        </ul>
      </div>
      <div class="tab-pane" id="tab_2">
        <ul class="list-group list-group-alt list-group-lg no-borders pull-in m-b-none">
          <li class="list-group-item" ng-repeat="user in users">
            <a href="#" class="pull-left thumb-md m-r">
              <img ng-src="{{user.image}}" alt="..." >
            </a>
            <div class="clear">
              <a ng-href="#/app/user/{{user.username}}" class="h4 text-primary m-b-sm block">{{user.name}}</a>
              <div >
                <p><a href class="btn btn-default btn-sm m-r-sm" ng-repeat='skill in user.skills'>{{skill.tag}}</a> </p>
              </div>
              <div ng-show="user.learns.length > 0">
                <p> <a href class="btn btn-danger btn-sm m-r-sm" ng-repeat='learn in user.learns'>{{learn.tag}}</a> </p>
              </div>
            </div>
          </li>
          
        </ul>
      </div>
      
    </div>
  </tabset>
