<div id="myid" class="page page-id-7 page-template page-template-template-members page-template-template-members-php logged-in admin-bar no-customize-support  Members_list st_classic menustyle_classic headstyle_classic transparentmenu_no head_stickyonscroll_no footerstyle_light subheaderbg_undermenu page-members page-projects">
  <div ng-include="'views/templates/header.html'" ng-controller="AuthController"></div>

    <div  data-h="555" class="heading_blog parallax-window"  data-image="http://freelance.vioo.ru/wp-content/uploads/2015/11/points_cubes_background_light_91691_1920x10801.jpg">
      <div class="bg_fon ">
        <div class="container">
          <div class="row">
            <div class="col-md-12 clearfix">

              <div class="nav_a_l">
                <a href="index.html">
                  Search:
                </a>
                <a href="projects.html" class="active">Near Me</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="search_block" >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form method="get" class="search_container  ">
              <div class="row sc_f padding_bottom_0">
                <div class="col-sm-12 col-md-4">
                    <md-input-container class='full_width' >
                      <label>For</label>
                      <md-icon class='fa fa-user'></md-icon>
                      <md-select ng-model='search.selected_for'>
                        <md-option value="users"> Users </md-option>
                        <md-option value="issues"> Issues </md-option>
                      </md-select>
                    </md-input-container>
                </div>
                
                <div class="col-sm-12 col-md-8">

                  <div class="submit_location">

                    <md-input-container class='full_width' >
                      <label>Nearby</label>
                      <md-icon class='fa fa-map-marker'></md-icon>
                      <md-select ng-model='search.selected_place'>
                        <md-option ng-repeat="place in search_data.places" ng-value="{{place.id}}">
                          {{place.address}}
                        </md-option>
                      </md-select>
                    </md-input-container>

                  </div>
                </div>

                <div class="col-sm-12 col-md-12 clear marg_b_20">
                  <span class='fa fa-tags map_marker_icon' ></span> 
                  <tags-input ng-model="search.skills" placeholder='Skills' ng-enter='postSearch()'></tags-input>
                </div>
              </div>

              <div class="row sc_s marg_off">
                <div class="col-xs-9 col-sm-5 col-md-5">
                    <md-slider-container>
                      <span> Distance</span>
                      <md-slider flex min="1" max="10" ng-model="search.distance" aria-label="red" id="red-slider">
                      </md-slider>
                    </md-slider-container>
                </div>
                <div class="col-xs-3 col-sm-5 col-md-5">
                    <md-slider-container>
                      <md-input-container>
                        <input flex type="number" ng-model="search.distance" aria-label="red" aria-controls="red-slider">
                      </md-input-container>
                    </md-slider-container>
                </div>

                <div class="mob_search_bg">
                  <div class="col-sm-2 col-md-2 col-lg-2 pull-right">
                    <button name="search" value="1" class="search" ng-click='postSearch()'>Search</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="middle_content full-page">
      <div class="container">
        <div class="row">
          
          <div class="col-md-12">
            <div class="similar-projects">

              <div ng-show='search_result.users'>
                  <!-- members_inline -->
                    <div class="members_inline members_inline_aj" ng-repeat='user in search_result.users'>

                        <div class="members_inline_wrap clearfix">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="members-inline-left pull-left full_width">
                                <div class="members_inline_item clearfix full_width">
                                    
                                  <div class="row hidden-xs">
                                    <div class="col-xs-4 col-sm-4 col-md-3">
                                      <div class="memb_img">
                                        <a ng-href="#/user/{{user.username}}">
                                          <img  ng-src="{{user.image_url}}" alt="" />
                                        </a>
                                      </div>
                                      
                                      <a href="#/user/{{user.username}}">
                                        <p class="">{{user.first_name}}</p>
                                      </a>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-9">
                                      <ul class="user_inf full_width">
                                        <li  class="search_skill_set">
                                          <span >{{user.skill_set}}</span>
                                        </li>
                                        <li class="search_address">
                                          <span >
                                            <span >
                                              <i class="fa fa-location-arrow"></i>
                                            </span>
                                            {{user.address}}
                                          </span>
                                        </li>

                                        <li class="search_distance">
                                          <span>
                                            <span>{{user.distance}} miles</span>
                                          </span>
                                        </li>

                                      </ul>
                                    </div>
                                  </div>

                                  <div class="col-xs-12 visible-xs">
                                    <table class="col-xs-12">
                                      <tr>
                                        <td style="width: 50px;padding-right: 10px;">
                                          <a ng-href="#/user/{{user.username}}"><img  ng-src="{{user.image_url}}" alt="" /></a>
                                        <td>
                                        <td>
                                          <table>
                                              <tr> <td><a ng-href="#/user/{{user.username}}">{{user.first_name}}</a><td></tr>
                                              <tr> <td>{{user.skill_set}}<td></tr>
                                              <tr> <td>{{user.address}}<td></tr>
                                              <tr> <td>{{user.distance}} Miles<td></tr>
                                          </table>
                                        <td>
                                      </tr>
                                    </table>
                                  </div>
                                
                                </div>
                              </div>
                            </div>

                          </div>

                        </div>
                    </div>
              </div>
              <div ng-show='search_result.issues'>
                  <!-- members_inline -->
                    <div class="members_inline members_inline_aj" ng-repeat='issue in search_result.issues'>

                        <div class="members_inline_wrap clearfix">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="members-inline-left pull-left full_width">
                                <div class="members_inline_item clearfix full_width">
                                    
                                  <div class="row hidden-xs">
                                      <div class="col-sm-4 col-md-3">
                                        <div class="memb_img">
                                          <a ng-href="#/issue/{{issue.slug}}">
                                            <img ng-src="{{issue.image_url}}" alt="" />
                                          </a>
                                        </div>
                                        
                                        <a href="#/issue/{{issue.slug}}">
                                          <p class="">{{issue.title}}</p>
                                        </a>
                                      </div>
                                      <div class="col-sm-6 col-md-9">
                                        <ul class="user_inf full_width">
                                          <li class="search_skill_set">
                                            <span >{{issue.skill_set}}</span>
                                          </li>
                                          <li class="search_address">
                                            <span >
                                              <span >
                                                <i class="fa fa-location-arrow"></i>
                                              </span>
                                              {{issue.address}}
                                            </span>
                                          </li>

                                          <li class="search_distance">
                                            <span>
                                              <span>{{issue.distance}} miles</span>
                                            </span>
                                          </li>

                                        </ul>
                                      </div>
                                  </div>

                                  <div class="col-xs-12 visible-xs">
                                    <table class="col-xs-12">
                                      <tr>
                                        <td style="width: 50px;padding-right: 10px;">
                                          <a ng-href="#/issue/{{issue.slug}}"><img  ng-src="{{issue.image_url}}" alt="" /></a>
                                        <td>
                                        <td>
                                          <table>
                                              <tr> <td><a ng-href="#/issue/{{issue.slug}}">{{issue.title}}</a><td></tr>
                                              <tr> <td>{{issue.skill_set}}<td></tr>
                                              <tr> <td>{{issue.address}}<td></tr>
                                              <tr> <td>{{issue.distance}} Miles<td></tr>
                                          </table>
                                        <td>
                                      </tr>
                                    </table>
                                  </div>
                                
                                </div>
                              </div>
                            </div>

                          </div>

                        </div>
                    </div>
              </div>
            <!-- <div class="row text-center">
              <div class="col-sm-12 col-md-12">
                <button class="btn-load">
                  <i class="fa fa-repeat"></i>
                  Load more projects
                </button>
              </div>
            </div> -->
          </div>
        </div>

        <!-- members_inline --> </div>
    </div>
  </div>

  <script type='text/javascript' src='js/common.js'></script>

</div>