
<div id="myid" class=" wall_page page-id-7 page-template page-template-template-members page-template-template-members-php logged-in admin-bar no-customize-support  single-post st_classic menustyle_classic headstyle_classic transparentmenu_no head_stickyonscroll_no footerstyle_light subheaderbg_undermenu">
  <div ng-include="'views/templates/header.html'" ng-controller="AuthController"></div>


  <!--  bg_fon -->

  <div class="middle_content">
    <div class="container">
      <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm">
          <div class="side_bar">
          
          <table class="user_image_name_holder">
            <tr>
              <td class='user_image'>
                   <img ng-src="{{home_data.user.image_url}}" alt="{{home_data.user.first_name}}" />
              </td>
              <td class="user_name">
                  {{ home_data.user.first_name + ' ' + home_data.user.last_name }}
              </td>
            <tr>
          </table>
          </div>
        </div>
        <!-- Left Content End -->


        <div class="col-md-6" in-view-container>
          <div class="row">
          
            <div class="col-md-12"  >
                <div class="feed_wall_container" style="po">
                  <div class="feed_wall_header">
                  <h3>What's new</h3>
                  </div>

                  <div class="feed_wall_content">


                      <div ng-repeat="feed in wall_data.feeds"  class="repeated-item" flex >

                        <!-- Program Card -->
                        <md-card ng-show="feed.root_type == 'workshop'">
                          <md-card-header>
                            <md-card-avatar>
                              <img ng-src="{{feed.thumbnail_url}}"/>
                            </md-card-avatar>
                            <md-card-header-text>
                              <span class="md-title" ng-bind-html='feed.top_text'>{{feed.top_text}}</span>
                              <span class="md-subhead">{{feed.date}}</span>
                            </md-card-header-text>
                          </md-card-header>
                          <md-card-title>
                            <md-card-title-text>
                              <a class="md-headline" ng-href="{{feed.slug}}">{{feed.title}}</a>
                            </md-card-title-text>
                          </md-card-title>
                          <md-card-content>
                            <p ng-bind-html="feed.summary">
                            </p>
                          </md-card-content>
                        </md-card>

                        <!-- User Card -->
                        <md-card ng-show="feed.root_type == 'user'">
                          <md-card-header>
                            <md-card-avatar>
                              <a ng-href='{{feed.slug}}'><img ng-src="{{feed.user_image}}"/></a>
                            </md-card-avatar>
                            <md-card-header-text>
                              <span class="md-title">{{feed.user_full_name}}</span>
                              <span class="md-subhead">{{feed.date}}</span>
                            </md-card-header-text>
                          </md-card-header>
                          <md-card-title>
                            <md-card-title-text>
                              <span class="md-headline" ng-bind-html="feed.top_text"></span>
                            </md-card-title-text>
                          </md-card-title>
                          <md-card-content ng-show="feed.skills-learn">
                            <p>
                              {{feed.skills-learn}}
                            </p>
                          </md-card-content>
                        </md-card>

                        <!-- Issue Card -->
                        <md-card ng-show="feed.root_type == 'issue'">
                          <md-card-header>
                            <md-card-avatar>
                              <img ng-src="{{feed.user_image}}"/>
                            </md-card-avatar>
                            <md-card-header-text>
                              <span class="md-title" ng-bind-html="feed.top_text"></span>
                              <span class="md-subhead" >{{feed.date}}</span>
                            </md-card-header-text>
                          </md-card-header>
                          <md-card-title>
                            <md-card-title-text>
                              <a class="md-headline" ng-href="{{feed.slug}}">{{feed.title}}</a>
                            </md-card-title-text>
                          </md-card-title>
                          <md-card-content>
                            <p ng-bind-html="feed.summary">
                            </p>
                          </md-card-content>
                        </md-card>

                      </div>


                  </div>
                  <div class="feed_wall_footer">
                  </div>
                </div>
            </div>
          </div>

          <div class="row text-center" ng-show="!wall_data.no_feed">
            <div class="col-sm-12 col-md-12 " layout-align="space-around">
              <md-progress-circular md-diameter="96" in-view="$inview&&loadWall()" class='margin_center'></md-progress-circular>
            </div>
          </div>
        </div>
        <!-- Center Content END -->

        <div class="col-md-3 hidden-xs hidden-sm">
          <div class="side_bar">
          <h5>Members nearby</h5>
          <table >
            <tr  class="member_holder" ng-repeat="member in home_data.members_nearby">
              <td class='member_image'>
                   <img ng-src="{{member.image_url}}" alt="{{member.first_name}}" />
              </td>
              <td class="member_name">
                  <a ng-href='#user/{{member.username}}'>{{ member.first_name + ' ' + member.last_name }}</a>
                  <span class="block_content">{{member.skill_set}}</span>
              </td>
            </tr>
          </table>

          <span ng-show='home_data.notifications'>
          <h5>Notifications</h5>
            <md-list-item class="md-2-line marg_b_20" ng-repeat='notification in home_data.notifications' >
              <div class="">
                <span ng-href='{{notification.target_url}}' ng-bind-html="notification.content"></span>
              </div>
            </md-list-item>
           </span>
          </div>
        </div>
        <!-- Right Content END -->

      </div>
    </div>
  </div>
  

  <script type='text/javascript' src='js/jquery/jquery.js'></script>
  <script type='text/javascript' src='js/ion.rangeSlider.js'></script>
  <script type='text/javascript' src='js/bootstrap.min.js'></script>
  <script type='text/javascript' src='js/bootstrap-tagsinput.min.js'></script>
  <script type='text/javascript' src='js/jquery.masonry.js'></script>
  <script type='text/javascript' src='js/ladda.min.js'></script>
  <script type='text/javascript' src='js/owl.carousel.min.js'></script>
  <script type='text/javascript' src='js/bootstrap-select.js'></script>
  <script type='text/javascript' src='js/bootstrap-tokenfield.min.js'></script>
  <script type='text/javascript' src='js/common.js'></script>

</body>
</html>