<div id="myid" class=" public-issue  page page-id-7 page-template page-template-template-members page-template-template-members-php logged-in admin-bar no-customize-support  Members_list st_classic menustyle_classic headstyle_classic transparentmenu_no head_stickyonscroll_no footerstyle_light subheaderbg_undermenu ">
  <div ng-include="'views/templates/header.html'" ng-controller="AuthController"></div>

    <div  data-h="555" class="heading_blog parallax-window"  data-image="http://freelance.vioo.ru/wp-content/uploads/2015/11/points_cubes_background_light_91691_1920x10801.jpg">
      <div class="bg_fon ">
        <div class="container">
          <div class="row">
            <div class="col-xs-6 col-sm-8 col-md-8">

              <div class="nav_a_l">
                <a href="#/notifications" class="active">
                Messages
                </a>
              </div>

            </div>

            <div class="col-xs-6 col-sm-4 col-md-4  user_btn user_head " ng-show="message_data.connections.length > 0" >
              <md-button ng-click="showSearchMessageBox()" class="md-fab md-primary" aria-label="New Message">
                <md-icon md-svg-src="img/messages/new_message.svg"></md-icon>
              </md-button>

              <md-button ng-click="showNewMessageBox()" class="md-fab md-success" aria-label="Search Message">
                <md-icon md-svg-src="img/messages/search_threads.svg"></md-icon>
              </md-button>
            </div>

          </div>


        </div>

      </div>

    </div>

    <div class="middle_content full-page">
      <div class="container">
        <div class="row">
          
          <div class="col-md-4 hidden-sm hidden-xs"> 

            <input type="text"  placeholder='Search' class='text_field marg_b_20' ng-model="search" ng-show="message_data.threads.length > 0"/>
              <div class="message_thread_list" ng-show="message_data.threads.length > 0">
                <table>
                <tr  class="chat_member_holder"  ng-click='selectThread(thread.user)'  ng-repeat="thread in message_data.threads | filter:search">
                  <td class='member_image'>
                       <img ng-src="{{thread.user.image_url}}" alt="{{thread.user.first_name}}" />
                  </td>
                  <td class="member_name">
                      <span>{{ thread.user.first_name + ' ' + thread.user.last_name }}</span>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="col-md-6"> 
            <h4 class="messages_selected_user_header">{{selected_user.first_name + ' ' + selected_user.last_name }}</h4>
            <div class="message_container" ng-show="message_data.threads.length > 0">
              <div class="message_header"></div>

              <div class="message_center" schroll-bottom="message_data.messages">
                <table class="message_table" ng-repeat="message in message_data.messages | toArray | filter:search">
                  <tr class="chat_member_holder">
                    <td class="left_user_image" ng-show="message.sender == '0'"> <img ng-src="{{message.message_from.image_url}}" /></td>
                    <td class="left_user_content" ng-show="message.sender == '0'"> {{message.message}}</td>
                    <td class="right_user_content" ng-show="message.sender == '1'"> {{message.message}}</td>
                    <td class="right_user_image" ng-show="message.sender == '1'"> <img  ng-src="{{message.message_from.image_url}}" /></td>
                  </tr>
                </table>
              </div>

              <div class="message_footer">
                
                <table style="width: 100%;"><tr>
                  <td class="message_text_field"><input type="text"  placeholder='Message'  ng-enter='postMessage()'  class='text_field ' ng-model='new_message'/></td><td class="message_send_button_holder"> <md-button ng-click='postMessage()' style='border-radius: 0;' class="md-primary md-raised message_send_button full_height">Send</md-button></td>
                </tr></table>
              </div>
            </div>

            <span ng-show="message_data.connections.length == 0">
                <p>  You do not have any connections yet. You can get connected to users near you using the <a href='#/near-me'> Search feature </a>.</p>

                <p>
                <img src='img/messages/no_message.svg'>
                </p>
            </span>

          </div>  
        </div>
    </div>
  </div>


  <script type="text/ng-template" id="template_new_message">
    <input type="text"  placeholder='Search' class='text_field marg_b_20' ng-model="new_search" />
      <div class="message_new_member_list">
        <table>
          <tr class="chat_member_holder"  ng-click='newThread(user)'  ng-repeat="user in message_data.connections | toArray | filter:new_search">
            <td class='member_image'>
                 <img ng-src="{{user.image_url}}" alt="{{user.first_name}}" />
            </td>
            <td class="member_name">
                <span>{{ user.first_name + ' ' + user.last_name }}</span>
            </td>
          </tr>
      </table>
    </div>

  </script>

  <script type="text/ng-template" id="template_select_thread">
    <input type="text"  placeholder='Search' class='text_field marg_b_20' ng-model="search" ng-show="message_data.threads.length > 0"/>
        <div class="message_thread_list" ng-show="message_data.threads.length > 0">
          <table>
          <tr  class="chat_member_holder"  ng-click='selectThread(thread.user)'  ng-repeat="thread in message_data.threads | filter:search">
            <td class='member_image'>
                 <img ng-src="{{thread.user.image_url}}" alt="{{thread.user.first_name}}" />
            </td>
            <td class="member_name">
                <span>{{ thread.user.first_name + ' ' + thread.user.last_name }}</span>
            </td>
          </tr>
        </table>
      </div>

  </script>

  <script type='text/javascript' src='js/common.js'></script>

</div>