<div id="myid" class=" public-issue  page page-id-7 page-template page-template-template-members page-template-template-members-php logged-in admin-bar no-customize-support  Members_list st_classic menustyle_classic headstyle_classic transparentmenu_no head_stickyonscroll_no footerstyle_light subheaderbg_undermenu ">
  <div ng-include="'views/templates/header.html'" ng-controller="AuthController"></div>

    <div  data-h="555" class="heading_blog parallax-window"  data-image="http://freelance.vioo.ru/wp-content/uploads/2015/11/points_cubes_background_light_91691_1920x10801.jpg">
      <div class="bg_fon ">
        <div class="container">
          <div class="row">
            <div class="col-md-12 clearfix">

              <div class="nav_a_l">
                <a href="#/notifications">
                  Notifications
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="middle_content full-page">
      <div class="container">
        <div class="row">
          
          <div class="col-md-12"> 
            <md-list-item ng-click="navigateTo(notification.target_url)" ng-repeat="notification in notification_data.notifications">
              <md-icon class="fa fa-bell"></md-icon>
              <p ng-bind-html="notification.content"></p>
            </md-list-item>
          </div>

            <div class="col-md-6 col-md-offset-3" ng-show="notification_data.notifications.length == 0">
                <p> You do not have any notifications yet. We will keep you informed once you receive any. </p>
                <p>
                <img src='img/notifications/no_notification.svg'>
                </p>
            </div>
        </div>
    </div>
  </div>

  <script type='text/javascript' src='js/common.js'></script>

</div>