<div id="edit_issue" class="edit_issue open-project page-id-7 page-template page-template-template-members page-template-template-members-php logged-in admin-bar no-customize-support  single-post st_classic menustyle_classic headstyle_classic transparentmenu_no head_stickyonscroll_no footerstyle_light subheaderbg_undermenu ">
  <div ng-include="'views/templates/header.html'" ng-controller="AuthController"></div>

<div  data-h="555" class="heading_blog parallax-window"  data-image="http://freelance.vioo.ru/wp-content/uploads/2015/11/points_cubes_background_light_91691_1920x10801.jpg">
  <div class="bg_fon ">
    <div class="container">
      <div class="row">
        <div class="col-md-12 clearfix">

          <div class="nav_a_l">
            <a ng-href="#/profile">
              New:
            </a>
            <a class="active">Issue</a>
          </div>
          
        </div>

      </div>

    </div>

  </div>

</div>

<!--  bg_fon -->

<div class="shop_head open_items_block full-page">

  

  <div class="middle_content user_latest">
    <div class="container">
      <div class="row">
          
          <div class="col-md-12 marg_b_20">
            <div class="row">
              <div class="col-lg-12">
                <h3 class='edited issues_solutions'>Create Issue</h3>
              </div>
              <div class="search_block" >
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                          
                          <div class="col-sm-12 col-md-12 marg_b_20">
                            <label class='edited' id='edited_skills'>Title</label>  <span ng-show='errors.title' class="help-block pomo">{{ errors.title[0] }}</span>
                            
                            <input type="text"  class='text_field' ng-model='new_issue.title' required/>

                          </div>
                          <div class="col-sm-12 col-md-12 marg_b_20">

                            <div class="submit_location">
                              <label class='edited' for='edited_labelalocation'>Summary</label> <span ng-show='errors.title' class="help-block pomo">{{ errors.summary[0] }}</span>
                              <textarea class="e-mail_in issue_edit_summary" cols="50" id="summary" name="summary" ng-model='new_issue.summary' required></textarea>

                              <!-- Help -->
                              <div class="submit_add_message animated">
                                <p></p>
                              </div>
                              <!-- / Help --> </div>

                          </div>
                          <div class="col-sm-12 col-md-12 marg_b_20">
                            <label class='edited' id='edited_skills'>Place</label> <span ng-show='errors.place' class="help-block pomo">{{ errors.place[0] }}</span>
                            
                            <input type="text"  class='text_field' ng-model='new_issue.place' />

                          </div>
  
                        </div>
                          
                          <div class="col-sm-12 col-md-6 marg_b_20">
                              <label class='edited' for='edited_labelalocation'>Would you like someone to assist personally?</label>
                              <span class="feature_value">
                              
                                <div class="switch_rating">
                                  <input type="checkbox" class="checkbox" ng-model="new_issue.assistance" value="1" id="checkbox">
                                  <label for="checkbox"></label>
                                </div>
                              </span>
                          </div>
                        </div>
                        <div class="col-md-12 text-right">
                          <button class="btn btn-success min_width_150" id='save_button' ng-click="createIssue()">Create</button>
                          <br>
                          <span ng-show='errors' class="help-block pomo">Please correct the errors.</span>
                        </div>
                        <div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>

<script type='text/javascript' src='js/jquery/jquery.js'></script>
<script type='text/javascript' src='js/ion.rangeSlider.js'></script>
<script type='text/javascript' src='js/bootstrap.min.js'></script>
<script type='text/javascript' src='js/bootstrap-tagsinput.min.js'></script>
<script type='text/javascript' src='js/jquery.masonry.js'></script>
<script type='text/javascript' src='js/ladda.min.js'></script>
<script type='text/javascript' src='js/owl.carousel.min.js'></script>
<script type='text/javascript' src='js/bootstrap-select.js'></script>
<script type='text/javascript' src='js/bootstrap-tokenfield.min.js'></script>
<script type='text/javascript' src='js/common.js'></script>

</div>