<div id="myid" class="Profile public-issue open-project page-id-7 page-template page-template-template-members page-template-template-members-php logged-in admin-bar no-customize-support  single-post st_classic menustyle_classic headstyle_classic transparentmenu_no head_stickyonscroll_no footerstyle_light subheaderbg_undermenu ">
  <div ng-include="'views/templates/header.html'" ng-controller="AuthController"></div>

<div  data-h="555" class="heading_blog parallax-window hidden-xs"  data-image="http://freelance.vioo.ru/wp-content/uploads/2015/11/points_cubes_background_light_91691_1920x10801.jpg">
  <div class="bg_fon ">
    <div class="container">
      <div class="row">
        <div class="col-md-12 clearfix">

          <div class="nav_a_l">
            <a ng-href="#/profile">
              Home
              <i class="fa fa-angle-right"></i>
            </a>
            <a class="active">Issue</a>
          </div>
          <div class="user_btn pull-right user_head min_width_150" ng-show="user_data.currentUid == user_data.uid">
            <a ng-href="#/issue/edit/{{issue_data.issue.slug}}" data-style="zoom-out" data-name="follow" class="btn btn-add_friends ladda btn-follow ladda-button ladda-primary edited" id="edited_addopr454">
              <span class="ladda-label">Edit Issue</span>
              <span class="ladda-spinner"></span>
            </a>
          </div>
          
        </div>

      </div>

    </div>

  </div>

</div>

<!--  bg_fon -->

<div class="shop_head open_items_block full-page">

  <div class="single-item-container container">
    <div class="row">
      <div class="open_item_container clearfix">
        <div class="col-md-12">
          <div class="row">
            <!-- <div class="col-xs-2 col-sm-1 col-md-1">

              <div class="open-leaf  pull-left"></div>

            </div> -->
            <div class="col-xs-12 col-sm-12 col-md-12">
              <h3>
                {{issue_data.issue.title}}
              </h3>
            </div>
          </div>
          <div class="row beats-relative">
            <div class="col-sm-12 col-md-12 col-lg-12 ">
              <div class="open-pr-descr" ng-bind-html="issue_data.issue.summary">
                
              </div>
            </div>
          </div>
          <div class="attach-answer row">
            <div class="col-xs-12 col-sm-11 col-md-11 ">

              <div class="attach-files pull-left">
                <div class="attach-list-item" ng-repeat="issue in issue_data.places">
                  
                  <span class="map_icon">
                    <i class="fa fa-map-marker"></i>
                  </span>

                  <span>{{issue.address}}</span>

                </div>
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-11 col-md-11 ">
              <ul class="open-category-list">
                <li ng-repeat='skill in issue_data.skills'>{{skill.tag}}</li>
                
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="middle_content user_latest">
    <div class="container">
      <div class="row">
          <div class="col-md-4">
              <div class="row">

                <div class="col-lg-12">
                  <h3 class='edited issues_solutions'>Info:</h3>
                </div>
                <div class="col-md-12">
                  <div class=" clearfix marg_b_20">
                    <div class="open-answer-date clearfix">
                      <img  ng-src="{{issue_data.user.image_url}}" width="55" height="55" alt="" />
                      <div class="open-answer-date-inf">
                        <a ng-href="#/user/{{issue_data.user.username}}">{{issue_data.user.first_name + ' ' + issue_data.user.last_name}}</a>
                        <p>October 26, 2015</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12" ng-show="issue_data.issue.assistance && issue_data.issue.status == 'unresolved' && issue_data.uid && issue_data.uid != issue_data.issue.user_id">

                  <span ng-show='issue_data.handle_approved === true'>
                          <a href="" class="btn btn-sm btn-success ">Currently handling&nbsp;&nbsp;<span class="fa fa-thumbs-up"></span></a>
                          <a ng-click="show_cancel_handle_form = !show_cancel_handle_form" class="btn btn-sm btn-warning ">Cancel</a>
                          <form class="form-horizontal marg_t_20" id="cancel_handle_form" ng-show='show_cancel_handle_form' role="form"
                                method="POST" >
                              <div class="form-group">
                                  <div class="col-md-12">
                                      <textarea class="form-control" ng-model="issue_handle_cancel_message" ></textarea>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-md-12">
                                      <button type="submit" ng-click='cancelIssueHandling()' class="btn btn-success btn-block">
                                          Send
                                      </button>
                                  </div>
                              </div>
                          </form>
                  </span>       

                  <span ng-show='issue_data.awating_approval === true'>
                          <a class="btn btn-sm btn-default">Awaiting approval</a>
                          <a ng-click="cancelAwaitingApproval()" class="btn btn-sm btn-warning">Cancel</a>
                  </span>

                  <span ng-show="issue_data.handle_cancelled">
                          Your previous handle has been cancelled.
                  </span>
                  <span ng-show="!issue_data.awating_approval && !issue_data.handle_approved && !issue_data.handle_cancelled">
                          <a href="" ng-click="show_accept_handle_form = !show_accept_handle_form" class="btn btn-sm btn-default marg_b_20">Handle this issue&nbsp;&nbsp;<span class="fa fa-thumbs-up"></span></a>
                          <form class="form-horizontal" id="handle_form" ng-show='show_accept_handle_form' role="form"
                                method="POST" >
                              <div class="form-group">
                                  <div class="col-md-12">
                                      <textarea class="form-control" ng-model="issue_handle_message" >I would like to help you with this issue</textarea>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-md-12">
                                      <button type="submit" ng-click='sendHandleRequest(issue_handle_message)' class="btn btn-success btn-block">
                                          Send
                                      </button>
                                  </div>
                              </div>
                          </form>
                  </span>
                </div>

                <div class="col-md-12" ng-show="issue_data.issue.status == 'resolved'">
                Solved by {{issue_data.solved_by.first_name + ' ' + issue_data.solved_by.last_name}}
                </div>


                <div class="col-md-12" ng-show="issue_data.uid == issue_data.issue.user_id && issue_data.issue.assistance && issue_data.issue.status == 'unresolved'">
                    <div class="col-me-12" ng-show='issue_data.handle_requests.length > 0'>
                      <h3> Handle Requests</h3>
                    </div>
                    <div class="col-md-12 grey-bottom" ng-repeat="hr in issue_data.handle_requests" ng-if="!(hr.status > 1)">
                        <div class="col-md-2 handle_request_0_padding" >
                            <img ng-src="{{hr.user.image_url}}" >
                        </div>
                        <div class="col-md-10 handle_request_0_padding" >
                            <h5 class="handle_request_0_margin">{{hr.user.first_name + ' ' + hr.user.last_name}}</h5>
                            <span ng-bind-html="hr.message"> </span>
                            <div class="col-md-12 handle_request_0_padding">
                                  <span ng-show='!hr.status'>
                                    <a ng-click="acceptHandleRequest(hr.id)" class="btn btn-xs btn-success">Accept</a>
                                    <a ng-click="rejectHandleRequest(hr.id)" class="btn btn-xs btn-danger">Reject</a>
                                  </span>

                                  <span ng-show='hr.status == 1'>
                                    <a href="/issue/owner-cancel-handle/{{hr.id}}" class="btn btn-xs btn-warning">Cancel</a>
                                  </span>
                            </div>
                        </div>

                    </div>
                  <div class='col-md-12' ng-show="issue_data.uid == issue_data.issue.user_id && issue_data.issue.assistance && handle_requests.length == 0">
                    Waiting for response
                  </div>
                </div>

                <div class='col-md-12' ng-show="issue_data.uid != issue_data.issue.user_id && !issue_data.issue.assistance">
                  Personal assistance not required
                </div>
                </div>
          </div>
        


          <div class="col-md-8">
            <div class="row">
              <div class="col-lg-12">
                <h3 class='edited issues_solutions'>Solutions:</h3>
              </div>
              <div class="proposals-list" >
              <div class='col-md-12' ng-show='issue_data.comments.length == 0'>No solutions yet.</div>
                <div class="user_message clearfix" ng-repeat="comment in issue_data.comments">
                  <div class="col-lg-12">
                    <div class="clearfix">
                      <div class="open-answer-date pull-left">
                        <a ng-href="#/user/{{comment.user.username}}">
                          <img  ng-src="{{comment.user.image_url}}"  alt="" />
                        </a>
                        <div class="open-answer-date-inf">
                          <a ng-href="#/user/{{comment.user.username}}">{{coment.user.first_name + ' ' + comment.user.last_name}}</a>
                          <p>{{comment.created_at}}</p>
                        </div>
                      </div>
                      <ul class="user_message_options pull-right">
                        <li>
                          <a href='' ng-click="showReplyBox(comment.id)">
                            <i class="fa fa-reply vista"></i>
                            
                          </a>
                        </li>
                        <li ng-show="comment.user_id == issue_data.uid">
                          <a href="" ng-click="showEditCommentBox(comment.comment, comment.id)">
                            <i class="fa fa-edit sin"></i>
                            
                          </a>
                        </li>
                        <li ng-show="comment.user_id == issue_data.uid">
                          <a href="" ng-click="removeComment(comment.id)">
                            <i class="fa fa-minus-circle pomo"></i>
                            
                          </a>
                        </li>
                        
                        <li>
                          <a ng-show='comment.user_id != issue_data.uid && !comment.current_user_set_helpful && issue_data.uid'  class="btn btn-info btn-xs" ng-click='markHelpful(comment.id)'><span class="fa fa-thumbs-up" aria-hidden="true"></span>&nbsp;Say Thanks</a>
                          <span ng-show='comment.current_user_set_helpful && comment.helpful_count == 1 && issue_data.uid' class="pull-right">You have marked this as helpful</span>
                          <span ng-show='comment.current_user_set_helpful && comment.helpful_count == 2 && issue_data.uid' class="pull-right">You and {{comment.helpful_count}} other person found this comment helpful</span>
                          <span ng-show='comment.current_user_set_helpful && comment.helpful_count > 2 && issue_data.uid' class="pull-right">You and {{comment.helpful_count}} others found this comment helpful</span>
                          <span ng-show='!comment.current_user_set_helpful && comment.helpful_count == 1' class="pull-right">One person found this comment helpful</span>
                          <span ng-show='!comment.current_user_set_helpful && comment.helpful_count > 1' class="pull-right">{{comment.helpful_count}} people found this comment helpful</span>
                          
                        </li>
                      </ul>
                    </div>
                    <div class="us_line"></div>
                    <div class="us_content">
                      <p ng-bind-html="comment.comment"></p>
                    </div>
                  </div>
                  <!-- Replies -->
                  <div class="col-md-10 col-md-offset-2 col-sm-11 col-sm-offset-1">
                    <div class="user_message grey_comment clearfix" ng-repeat="reply in comment.replies">
                      <div class="col-lg-12">
                        <div class="clearfix">
                          <div class="open-answer-date pull-left">
                            <a href="#">
                              <img ng-src="{{reply.user.image_url}}"  alt="" />
                            </a>
                            <div class="open-answer-date-inf">
                              <a ng-href="#/user/{{reply.user.username}}">{{reply.user.first_name + ' ' + reply.user.last_name}}</a>
                              <p>{{reply.created_at}}</p>
                            </div>
                          </div>
                          <ul class="user_message_options pull-right">
                            <li>
                              <a  href='' ng-click="showReplyBox(comment.id)">
                                <i class="fa fa-reply vista"></i>
                                
                              </a>
                            </li>
                            <li ng-show='reply.user.id == issue_data.uid'>
                              <a href="" ng-click="showEditReplyBox(reply.comment, reply.id)">
                                <i class="fa fa-edit sin"></i>
                                
                              </a>
                            </li>
                            <li ng-show='reply.user.id == issue_data.uid'>
                              <a href="" ng-click="removeReply(reply.id)">
                                <i class="fa fa-minus-circle pomo"></i>
                                
                              </a>
                            </li>
                          </ul>
                        </div>
                        <div class="us_line"></div>
                        <div class="us_content">
                          <p ng-bind-html="reply.comment">
                            
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="write-your-answer clearfix">
                <form id="newcomment" method="post">

                  <div class="col-lg-12">

                    <h3 class='edited' id='edited_single-Write-your-answer'>Write your answer</h3>
                  </div>

                  <div class="col-md-12 write-input">
                    <textarea class="e-mail_in" ng-model="new_comment"></textarea>
                  </div>
                </form>

                <div class=" col-md-12">
                    <a ng-click="addComment(new_comment)" data-style="zoom-out" data-name="follow" class="btn btn-success btn-add_friends ladda btn-follow ladda-button ladda-primary edited" id="review_button">
                      <span class="ladda-label">Add</span>
                      <span class="ladda-spinner"></span>
                    </a>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>

</div>


<script type="text/ng-template" id="template_reply">
      <form class="form-horizontal marg_t_20" id="message_form" role="form" method="POST">
          <div class="form-group">
              <div class="col-md-12">
                  <textarea class="form-control" autofocus autocomplete="off" placeholder="Write your Comment" ng-model="new_reply" required></textarea>
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-12">
                  <button type="submit" ng-click="postReply(new_reply, reply_comment_id)" class="btn btn-success">
                      Reply
                  </button>
              </div>
          </div>
      </form>
</script>

<script type="text/ng-template" id="template_edit_reply">
      <form class="form-horizontal marg_t_20" id="message_form" role="form" method="POST">
          <div class="form-group">
              <div class="col-md-12">
                  <textarea class="form-control" autofocus autocomplete="off" placeholder="Write your Comment" ng-model="current_edit_reply" required>{{current_edit_reply}}</textarea>
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-12">
                  <button type="submit" ng-click="postEditReply(current_edit_reply, current_reply_id)" class="btn btn-info">
                      Update
                  </button>
              </div>
          </div>
      </form>
</script>

<script type="text/ng-template" id="template_edit_comment">
      <form class="form-horizontal marg_t_20" id="message_form" role="form" method="POST">
          <div class="form-group">
              <div class="col-md-12">
                  <textarea class="form-control" autofocus autocomplete="off" placeholder="Write your Comment" ng-model="current_edit_comment" required>{{current_edit_comment}}</textarea>
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-12">
                  <button type="submit" ng-click="postEditComment(current_edit_comment, current_comment_id)" class="btn btn-info">
                      Update
                  </button>
              </div>
          </div>
      </form>
</script>


<script type='text/javascript' src='js/jquery/jquery.js'></script>
<script type='text/javascript' src='js/ion.rangeSlider.js'></script>
<script type='text/javascript' src='js/bootstrap.min.js'></script>
<script type='text/javascript' src='js/bootstrap-tagsinput.min.js'></script>
<script type='text/javascript' src='js/jquery.masonry.js'></script>
<script type='text/javascript' src='js/ladda.min.js'></script>
<script type='text/javascript' src='js/owl.carousel.min.js'></script>
<script type='text/javascript' src='js/bootstrap-select.js'></script>
<script type='text/javascript' src='js/bootstrap-tokenfield.min.js'></script>
<script type='text/javascript' src='js/common.js'></script>

</div>