    
      <!-- navbar header -->
      <div class="navbar-header {{app.settings.navbarHeaderColor}}">
        <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
          <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll-to="app">
          <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- brand -->
        <a href="#/" class="navbar-brand text-lt">
          <i class="fa fa-rub"></i>
          <img src="images/logo-main.jpg" alt="." class="hide">
          <span class="hidden-folded m-l-xs">Placerange</span>
        </a>
        <!-- / brand -->
      </div>
      <!-- / navbar header -->

      <!-- toaster directive -->
      <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
      <!-- / toaster directive -->

      <!-- navbar collapse -->
      <div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
        <!-- link and dropdown -->
        <ul class="nav navbar-nav hidden-sm">
          
          <li class="dropdown" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              <i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
              <span translate="header.navbar.new.NEW">New</span> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a ui-sref="app.new-task">
                  <span translate="header.navbar.new.TASK">Task</span>
                </a>
              </li>
              
            </ul>
          </li>
        </ul>
        <!-- / link and dropdown -->

        <!-- search form -->
        <form class="navbar-form navbar-form-sm navbar-left shift" ui-shift="prependTo" target=".navbar-collapse" role="search">
          <div class="form-group">
            <div class="input-group">              
              <input type="text" typeahead-loading="loadingLocations" typeahead-no-results="noResults" ng-model="search_string" placeholder="Search" typeahead="state as state.title for state in states | filter:$viewValue" ng-keyup="headerSearch(search_string)" class="form-control input-sm bg-light no-border padder">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-sm bg-light"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </form>

        <!-- / search form -->

        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              <i class="icon-bell fa-fw"></i>
              <span class="visible-xs-inline">Notifications</span>
              <span class="badge badge-sm up bg-danger pull-right-xs" ng-class="{'hidden' : new_notifications == 0}">{{new_notifications}}</span>
            </a>
            <!-- dropdown -->
            <div class="dropdown-menu w-xl animated fadeIn">
              <div class="panel bg-white">
                <div class="panel-heading">
                  <strong>Notifications</strong>
                </div>

                <div ui-scroll-viewport style="height:400px;overflow-y: auto;" >
                  <div class="list-group">
                    <a ng-href='#/app/notification.target_url' style='min-height:60px;' class="list-group-item smooth" ng-class="{'bg-light' : notification.read != 1}" ng-mouseenter="markNotificationRead(notification);" ng-repeat="notification in notifications">
                      <span class="pull-left m-r thumb-sm">
                        <img ng-src="{{notification.receiver.image_url}}" alt="..." class="img-circle">
                      </span>
                      <span class="clear block m-b-none">
                        <span ng-bind-html="notification.content"></span><br>
                        <small class="text-muted">{{notification.crated_at}}</small>
                      </span>
                    </a>
                  </div>
                </div>

                <div class="panel-footer text-sm">
                  <a href class="pull-right"><i class="fa fa-cog"></i></a>
                  <a ng-href="#/app/notifications" data-toggle="class:show animated fadeInRight">See all the notifications</a>
                </div>
              </div>
            </div>
            <!-- / dropdown -->
          </li>
          <li class="dropdown" dropdown>
            <a href class="dropdown-toggle clear" dropdown-toggle>
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img ng-src="{{current_user.image_url}}" alt="">
              </span>
              <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
              <li>
                <a ui-sref="app.home.profile">Profile</a>
              </li>
               <li>
                <a ng-href='#/app/home/edit-profile'>
                  <span>Edit Profile</span>
                </a>
              </li>
              <li>
                <a ui-sref="app.feedback">
                  Give Feedback
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a ui-sref="access.signin">Logout</a>
              </li>
            </ul>
            <!-- / dropdown -->
          </li>
        </ul>
        <!-- / navbar right -->

      </div>
      <!-- / navbar collapse -->

      