<!-- list -->
<ul class="nav" style="width:100%;">
  
  <li>
    <a ui-sref="app.dashboard" class="auto">      
      <span class="pull-right text-muted">
      </span>
      <i class="fa fa-tachometer icon text-light-lter"></i>
      <span translate="aside.nav.DASHBOARD">Dashboard</span>
    </a>
  </li>

  <li>
    <a ui-sref="app.search" class="auto">      
      <span class="pull-right text-muted">
      </span>
      <i class="fa fa-search icon text-light-lter"></i>
      <span>Search</span>
    </a>
  </li>

  <li class="line dk"></li>

  <li>
    <a ui-sref="app.home.profile">
      <i class="icon-user icon text-light-lter"></i>
      <span translate="aside.nav.your_stuff.PROFILE">Profile</span>
    </a>
  </li>

  <li ui-sref-active="active" class="hidden-xs">
    <a ui-sref="app.messages" ui-sref-opts="{reload: true}">
      <!-- <b class="badge bg-dark pull-right">9</b> -->
      <i class="icon-bubbles icon text-light-lter"></i>
      <span>Messages</span>
    </a>
  </li>

  <li ui-sref-active="active" class="visible-xs">
    <a ui-sref="app.messages-xs" ui-sref-opts="{reload: true}">
      <b class="badge bg-dark pull-right">9</b>
      <i class="icon-bubbles icon text-light-lter"></i>
      <span >Messages</span>
    </a>
  </li>

  <li class="line dk"></li>

  <li>
    <a ui-sref="app.tasks">
      <i class="icon-settings icon text-light-lter"></i>
      <span>Tasks</span>
    </a>
  </li>

  <li>
    <a ui-sref="app.new-task">
      <i class="icon-plus icon text-light-lter"></i>
      <span>New Task</span>
    </a>
  </li>

  <li class="line dk"></li>

  <li>
    <a ui-sref="app.groups">
      <i class="icon-users icon text-light-lter"></i>
      <span>Groups</span>
    </a>
  </li>

  <li class="line dk"></li>
  
  <li >
    <a ui-sref="app.feedback">
      <i class="icon-loop icon text-success-lter"></i>
      <span>Give us a Feedback</span>
    </a>
  </li>
  <li>
    <a ui-sref="app.invite">
      <i class="icon-users icon text-success-lter"></i>
      <span>Invite Friends</span>
    </a>
  </li>

</ul>
<!-- / list -->
