
<div class="home page page-id-7 page-template page-template-template-members page-template-template-members-php logged-in admin-bar no-customize-support  single-post st_classic menustyle_classic headstyle_classic transparentmenu_no head_stickyonscroll_no footerstyle_light subheaderbg_undermenu  page-members">

  
  <!-- header -->
  <div class="heading-opacity"></div>
  <header>
    <div class="overlay">
      <a href="#">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 clearfix map_header">
          <a href="#" class="menu_xs">
            <i class="fa fa-bars"></i>
          </a>
          <a href="/" class="logo">
            <img src="img/logo-main.jpg">
            
            <span class="dating">Placerange</span>

          </a>

          
        </div>
      </div>
    </div>
  </header>


          <!--  bg_fon -->
          


          <div class="auth_container">
            <div class="container">
              <div class="row">
                <div class="hidden-sm col-sm-5 col-md-7">
                  <div class="auth_descr hidden-xs">
                    <a href="#" class="menu_xs hidden-md hidden-sm hidden-lg">
                      <i class="fa fa-bars fa-2x"></i>
                    </a>

                    <h2>
                      <strong>
                        New Here?
                      </strong>
                        <span>:</span>
                        <span class="yellow"> 
                        </span>
                      </h2>

                      <p><a href='#/register' style="color:#fff;">Sign up now!</a></p>
                     </div>
                   </div>
                   <div class="col-md-5">
                    <div class="reg_image_container">
                      <div class="reg_block">
                        <div class="btn-hack">
                          
                              <div class="btn-front">
                                <div class="authorization" style="float: none;">
                                  <div class="authorization_head clearfix">
                                    <p class='edited auth_p pull-left' id='edited_Autorization1'>
                                      Login                                            </p>
                                      <a href="#/register" id="register_link">
                                        <i class="fa fa-user-plus fa-2x pull-right"></i>
                                      </a>
                                    </div>
                                    <div class="authorization_form">
                                      <div class="auth_input clearfix">
                                        <div class="icon">
                                          <i class="fa fa-envelope fa-2x"></i>
                                        </div>
                                        <label
                                        class="enter_label">   Email:</label>
                                        <input type="text" ng-enter="auth.login()"  ng-model='auth.email'class="form-control e-mail_in" id='login' placeholder="Your email"/>
                                      </div>
                                      <div class="auth_input clearfix">
                                        <div class="icon">
                                          <i class="fa fa-key fa-2x"></i>
                                        </div>
                                        <label
                                        class="enter_label">   Password:</label>
                                        <input type="password" ng-enter="auth.login()"  ng-model='auth.password' class="form-control e-mail_in" id='pass'
                                        placeholder="*******"/>
                                      </div>
                                    </div>
                                    <div class="auth_login">
                                      <button class="ladda-button ladda-primary btn btn-primary" id="try_login" data-color="red"  ng-click="auth.login()"  data-style="zoom-out">Log in</button>
                                      <div class='' id='loginresult'>
                                        <span ng-show='has_error' class="help-block pomo">{{error_message}}</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
<script type='text/javascript' src='js/common.js'></script>

                </div>