
<div class="home page page-id-7 page-template page-template-template-members page-template-template-members-php logged-in admin-bar no-customize-support  single-post st_classic menustyle_classic headstyle_classic transparentmenu_no head_stickyonscroll_no footerstyle_light subheaderbg_undermenu  page-members">

  
  <!-- header -->
  <div class="heading-opacity"></div>
  <header>
    <div class="overlay">
      <a href="#">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 clearfix map_header">
          <a href="#" class="menu_xs">
            <i class="fa fa-bars"></i>
          </a>
          <a href="#" class="logo">
            <img src="img/logo-main.jpg">
            
            <span class="dating">Placerange</span>

          </a>

          
        </div>
      </div>
    </div>
  </header>


          <!--  bg_fon -->
          


          <div class="auth_container">
            <div class="container">
              <div class="row">
                   <div class="col-md-8 col-md-offset-2">
                    <div class="reg_image_container">
                      <div class="reg_block">
                        <div class="btn-hack">
                          
                              <div class="btn-front">
                                <div class="authorization">


                                  <div class="authorization_head clearfix">
                                    <p class='edited auth_p pull-left' id='edited_Autorization1'> Register</p>
                                      <a href="#/auth" id="register_link">
                                        <i class="fa fa-user fa-2x pull-right"></i>
                                      </a>
                                    </div>

                                    <div class="authorization_form col-md-6">
                                      
                                      <div class="auth_input clearfix">
                                        <div class="icon">
                                          <i class="fa fa-envelope fa-2x"></i>
                                        </div>
                                        <label class="enter_label">   First Name:</label> 
                                        <input type="text" ng-model='register.first_name' class="form-control e-mail_in" id='' placeholder="First Name" required/>
                                        <span ng-show='errors.first_name' class="help-block pomo">{{ errors.first_name[0] }}</span>
                                      </div>

                                    </div>


                                    <div class="authorization_form col-md-6">
                                      
                                      <div class="auth_input clearfix">
                                        <div class="icon">
                                          <i class="fa fa-user fa-2x"></i>
                                        </div>
                                        <label class="enter_label">   Last Name:</label>
                                        <input type="text"  ng-model='register.last_name' class="form-control e-mail_in" id='' placeholder="Last Name" required/>
                                        <span ng-show='errors.last_name' class="help-block pomo">{{ errors.last_name[0] }}</span>
                                      </div>

                                    </div>


                                    <div class="authorization_form col-md-12">

                                      <div class="auth_input clearfix">
                                        <div class="icon">
                                          <i class="fa fa-user fa-2x"></i>
                                        </div>
                                        <label class="enter_label">   Email:</label>
                                        <input type="text"  ng-model='register.email' class="form-control e-mail_in" id='login' placeholder="Your email" required/>
                                        <span ng-show='errors.email' class="help-block pomo">{{ errors.email[0] }}</span>
                                      </div>

                                    </div>

                                    <div class="authorization_form col-md-12">
                                      <div class="auth_input clearfix">
                                        <div class="icon">
                                          <i class="fa fa-map-marker fa-2x"></i>
                                        </div>
                                        <label class="enter_label"> Place:</label>
                                        <input type="text" ng-model='register.place' class="form-control e-mail_in" id='login' placeholder="Your area, postcode, street or city" required/>
                                        <span ng-show='errors.place' class="help-block pomo">{{ errors.place[0] }}</span>
                                      </div>
                                    </div>

                                    <div class="authorization_form col-md-6">
                                      <div class="auth_input clearfix">
                                        <div class="icon">
                                          <i class="fa fa-key fa-2x"></i>
                                        </div>
                                        <label class="enter_label"> Password:</label>
                                        <input type="password" ng-enter="registerUser()"  ng-model='register.password' class="form-control e-mail_in" id='pass' placeholder="*******" required/>
                                        <span ng-show='errors.password' class="help-block pomo">{{ errors.password[0] }}</span>
                                      </div>
                                    </div>

                                    <div class="authorization_form col-md-6">
                                      <div class="auth_input clearfix">
                                        <div class="icon">
                                          <i class="fa fa-key fa-2x"></i>
                                        </div>
                                        <label class="enter_label">  Confirm Password:</label>
                                        <input type="password" ng-enter="registerUser()"  ng-model='register.password_confirmation' class="form-control e-mail_in" id='pass' placeholder="*******" required/>
                                        <span ng-show='errors.password_confirmation' class="help-block pomo">{{ errors.password_confirmation[0] }}</span>
                                      </div>
                                    </div>

                                    <div class="authorization_form col-md-12">
                                      <div class="auth_login">
                                        <span ng-show='errors' class="help-block pomo"> Please correct the errors.</span>
                                        <button class="ladda-button ladda-primary btn btn-primary" id="try_login" data-color="red"  ng-click="registerUser()"  data-style="zoom-out">Register</button>
                                      </div>
                                    </div>

                                  </div>


                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
<script type='text/javascript' src='js/common.js'></script>

                </div>