<div class="home page page-id-701 page-template page-template-index-4column page-template-index-4column-php  menustyle_classic headstyle_classic transparentmenu_no head_stickyonscroll_no footerstyle_light subheaderbg_undermenu page-front-page" ng-controller='indexController'>
  <!-- header -->

  <div class="heading-opacity"></div>
  <header>
    <div class="overlay">
      <a href="#">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 clearfix map_header">
          <a href="#" class="menu_xs">
            <i class="fa fa-bars"></i>
          </a>
          <a href="/" class="logo">
            <img src="img/logo-main.jpg">
            
            <span class="dating">Placerange</span>

          </a>

          <div class="menu-header-container">
            <nav>
              <ul id="menu-header" class="navigate head_nav navigate">
                <li id="nav-menu-item-1807" class="menu-item menu-item-type-post_type menu-item-object-page">
                  <a href="#/auth" >Login</a>
                </li>

                <li id="nav-menu-item-1807" class="menu-item menu-item-type-post_type menu-item-object-page">
                  <a href="#/register" >Sign Up</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!--  bg_fon -->

  <div class="full-page">
    <!-- Page start -->
    <div class="heading-block parallax-window nice-woman" data-parallax="scroll" data-image-src="">
      <div class="heading-block-popup"></div>
      <div class="heading-block-s"></div>
      <div class="heading-block-info">
        
        <ul class="i-2">
          <li class="front-paint">
            <span class='edited' id='edited_pfa'>
              <i class="fa fa-users"></i>
            </span>
          </li>
          <li class='edited' id='edited_pcount'> {{ index_page_data.total_users}}</li>
          <li class='edited' id='edited_p'>Because everyone knows something.</li>

          <li class="front-circle">
            <i class="fa fa-circle-o"></i>
          </li>
        </ul>
        <div class="heading-block-href text-center">
          <h1 >
            There is
            <span class='edited' id='edited_writers'>someone near you :</span>
            <a href="#" class='edited' id='edited_projects'>who knows what you want to learn.</a>

          </h1>
        </div>
      </div>
    </div>

    <!-- our_features -->
    <div class="our_features our_f">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="edited">What is Placerange?</h3>
            <div class="line_y"></div>
            <p class="our_features_p edited">
              A wed platform, working as a hub for people within a place to come together to post their problems, solutions, and everything in between. While these conversations can, of course, be over our secure forums, the best part about Placerange is the ability to find someone nearby to help you. Whether you’re looking for quick solutions, want to organize or attend a local workshop or meet-up, or get connected with nearby users, Placerange is the only place to find trusted professionals with expert skillsets, right in your own backyard! 
            </p>
          </div>
          <div class="our_features_items">

            <div class="col-md-6 col-sm-6 our_f_item clearfix">
              <div class="feature-icon">
                <i class="fa fa-support"></i>
              </div>
              <div class="feature-info">
                <h4 class="our_features_items_h edited" >Post, search or provide a solution to the problems posted by users near you.</h4>
                <p class="our_features_items_p edited ">
                  If you are good at problem solving, utilize your skills to resolve the problems posted by another user near you. On the other hand, if you are facing a technical issue, you can raise an issue and get some support from subject-matter experts.
                </p>
                <img  class="featurette-image img-responsive center-block f_image1" src="img/home/placerange_issues.png" alt="Issues">
              </div>
            </div>

            <div class="col-md-6 col-sm-6 our_f_item clearfix">
              <div class="feature-icon">
                <i class="fa fa-street-view"></i>
              </div>
              <div class="feature-info">
                <h4 class="our_features_items_h edited" >Search for users based on skills near you</h4>
                <p class="our_features_items_p edited ">
                  When you use our search function and search something like "Who can teach PHP near me", it will get you a result consisting of users near you matching particular skills. It will also show how far they are from your location.
                </p>
                <img class="featurette-image img-responsive center-block f_image1 " src="img/home/placerange_search.png" alt="Search">
              </div>
            </div>
            <div class="clearfix"></div>
            
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- steps-1 -->

  <div class="our_features steps">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          
          <h3 class="edited">3 Steps to get a solution for your problem</h3>
          <div class="line_y"></div>

          <p class="our_features_p edited">
            We may not know an expert for all the technical problems we face. Problems could like your computer not working as expected or you may find it hard to understand your subjects. Sometimes, there could be someone living next door who can fix it. Do you not need a way to find that person?
          </p>
        </div>
      </div>
    </div>

  </div>
  <!-- steps-2 -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li class="clearfix">
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="images/v1.jpg" height="470" width="450" alt=""></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading">Post what your problem is</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    All you need to do in this step is to explain your problem in a few words, add some tags and submit your request.
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted clearfix">
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="images/v2.jpg" height="470" width="450" alt=""></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading">Receieve Handle Requests</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    Once you have posted your problem, users with relevant skillset living near you would get to look at your problem and be able to send you handling request.
                  </p>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="images/v3.jpg" height="470" width="450" alt=""></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading">Find the right person and get it fixed.</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    Once you receive a request from a user, you can view their profile and then decide wether to accept their request. Once you accept a request, the user will come up with a solution for your problem.
                  </p>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- statistic   -->
  <div class="static parallax-window" data-parallax="scroll" data-image-src="http://freelance.vioo.ru/wp-content/themes/frame_fl/images/manypeople.jpg">

    <div class="container">
      <div class="row text-center static_members">
        <div class="col-sm-4 col-md-4">
          <h1>
            <span class="left"></span>
            <span class='edited' id='edited_subm1024'>{{index_page_data.total_users + 567}}</span>
            <span class="right"></span>
          </h1>
          <p class='static_one edited' id='edited_sm1'>Users</p>
          <p class='static_two edited' id='edited_speople'>Get connected, message, colloborate and more.</p>
        </div>
        <div class="col-sm-4 col-md-4">
          <h1>
            <span class="left"></span>
            <span class='edited' id='edited_subm500'>{{index_page_data.total_issues + 230}}</span>
            <span class="right"></span>
          </h1>
          <p class='static_one edited' id='edited_sm5'>Issues</p>
          <p class='static_two edited' id='edited_speople'>You are welcome to give a hand.</p>
        </div>
        <div class="col-sm-4 col-md-4">
          <h1>
            <span class="left"></span>
            <span class='edited' id='edited_subm40'>{{index_page_data.total_skills + 580}}</span>
            <span class="right"></span>
          </h1>
          <p class='static_one edited' id='edited_sfamous'>Skills</p>
          <p class='static_two edited' id='edited_speople'>Thats belongs to users, programs or issues.</p>
        </div>
      </div>
    </div>
    <div class="yellow_block">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12">

            <div class="circle_tw">
              <i class="fa fa-twitter"></i>
            </div>
            <p>
              Like to support us? How about a tweet?
            </p>
            <div class="dashed_line"></div>
            <div class="col-md-12">
              <div class="date_author">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.placerange.com" data-via="PlaceRange" data-size="large">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="home_slider_wrapper"></div>
</div>
<!-- user_map -->
<div class="user_map our_features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class='edited' id='edited_indexContrarytLatestprojectsf'>On the map</h3>
        <div class="line_y"></div>
        <p class="our_features_p edited" id='edited_indexContrarytLatestprojectsfpp'>
          User having skills belongs to a palce. Programs that help you learn a skill happens in a place. Issues raised by users who live in a place. 
          <br>And we, put them all together within Placerange.

        </p>
      </div>
    </div>
  </div>

  <div id="map"></div>

</div>


</div>
<script type='text/javascript' src='js/map.js'></script>
<script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCsbzuJDUEOoq-jS1HO-LUXW4qo0gW9FNs&#038;libraries=places&#038;callback=initialize_map&#038;ver=4.3.1'></script>
