<div class="megamenu hidden-xs">
    <div class="megamenu_content">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-2">
            <ul class="megamenu_content_list clearfix">
              <li>
                <a href="#"> <i class="fa fa-home"></i>
                  Home
                </a>
              </li>

              <li>
                <a href="#"> <i class="fa fa-pencil-square-o"></i>
                  Blog
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-users"></i>
                  Members
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-flag"></i>
                  Search
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-life-ring"></i>
                  Help Center
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-file-text-o"></i>
                  Terms of use
                </a>
              </li>
            </ul>
          </div>
          
          <div class="col-sm-4 col-md-3">
            <div class="happy_item">
              <div class="h_img">
                <img src="images/happy_img1.jpg" class="img-responsive"  alt="">
                <a href="#" class="happy_like">
                  <i class="fa fa-thumbs-up"></i>
                  12393
                </a>

              </div>
              <h4>
                <a href="#">Alexandr and Mary</a>
              </h4>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- header -->

  <div class="heading-opacity"></div>
  <header>
    <div class="overlay">
      <a href="#">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 clearfix map_header">
          <a class="menu_xs">
            <i class="fa fa-bars"></i>
          </a>
          <a href="#" class="logo">
            <img src="img/logo-main.jpg">
            
            <span class="">Placerange</span>

          </a>

          <div class="menu-header-container">
            <nav>
              <ul id="menu-header" class="navigate head_nav navigate" ng-show="authenticated">
                <li id="nav-menu-item-1823" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                  <a href="#/near-me"><span class="glyphicon glyphicon-map-marker pomo"></span> Near Me</a>
                
                </li>
                <li  class="menu-item menu-item-type-post_type menu-item-object-page">
                  <a  href="#/messages"><span class="glyphicon glyphicon-comment sin"></span> Messages</a>
                </li>
                
                <li id="nav-menu-item-1826" class="menu-item menu-item-type-post_type menu-item-object-page">
                  <a   href="#/notifications"><span class="glyphicon glyphicon-th-list c_cal"></span> Notifications</a>
                </li>
                <li id="nav-menu-item-1807" class="menu-item menu-item-type-post_type menu-item-object-page">
                  <a   href="#/profile"><span class="glyphicon glyphicon-th-large "></span> Dashboard</a>
                </li>
                <li id="nav-menu-item-1855" class="menu-item menu-item-type-post_type menu-item-object-page">
                  <a   href="#/home"><span class="glyphicon glyphicon-home vista"></span> Home </a>
                </li>
                <li id="nav-menu-item-1823" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                  <a><img ng-src="{{currentUser.image_url}}" class="menu_image"> <i class="fa fa-angle-down"></i></a>
                  <ul class="sub-menu menu-odd  menu-depth-1">
                    <li  class="menu-item menu-item-type-post_type menu-item-object-page">
                      <a   href="#/profile">Edit Profile</a>
                    </li>
                    <li  class="menu-item menu-item-type-post_type menu-item-object-page">
                      <a href="#/logout">Log out</a>
                    </li>
                  </ul>
                </li>
              </ul>

              <ul id="menu-header" class="navigate head_nav navigate" ng-show="!authenticated">
                <li id="nav-menu-item-1823" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                  <a href="#/auth"> Login</a>
                
                </li>
                 <li id="nav-menu-item-1823" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                  <a href="#/register"> Register</a>
                
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>