
<div id="myid" class="Profile page-id-7 page-template page-template-template-members page-template-template-members-php logged-in admin-bar no-customize-support  single-post st_classic menustyle_classic headstyle_classic transparentmenu_no head_stickyonscroll_no footerstyle_light subheaderbg_undermenu page-members page-profile">
  <div ng-include="'views/templates/header.html'" ng-controller="AuthController"></div>

  <div  data-h="555" class="heading_blog parallax-window"  data-image="http://freelance.vioo.ru/wp-content/uploads/2015/11/points_cubes_background_light_91691_1920x10801.jpg">
    <div class="bg_fon ">
      <div class="container">
        <div class="row">
          <div class="col-md-12 clearfix">

            <div class="nav_a_l">
              <a href="index.html">
                Welcome,
              </a>
              <a href="profile.html" class="active">{{ user_homepage_data.user.first_name}}!</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  bg_fon -->

  <div class="user_wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="user_container">
            <div class="user_head">
              <div class="col-sm-3 col-md-3">
                <div class="user_avatar">

                  <form class="col-md-4" method="post" enctype="multipart/form-data">
                    <div class="input-file-row-1">
                      <div class="my-button2"></div>
                      <div class="upload-file-container">
                        <img id="image" ng-src="{{user_homepage_data.user.image_url}}"  alt="">
                        <div class="upload-file-container-text">
                          <input type="file" ng-model='new_user_image' ngf-select="uploadUserImage($file)" accept="image/*"  class="photo" id="imgInput">
                        </div>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                <div class="user_information">
                  <p>
                    <span class="edited" >{{user_homepage_data.average_rating}} <i class="fa fa-star"></i></span>
                  </p>
                  <p class="user_loc">
                    <span class="edited" id="editer_profileglobe">
                      <i class="fa fa-globe"></i>
                    </span>
                    {{user_homepage_data.primary_place}}
                  </p>
                </div>
              </div>

              <div class="col-sm-2 col-md-2 col-sm-offset-2 col-md-offset-2">
                <!-- <button class="write">View profile</button> -->
              </div>

              <div class="col-sm-2 col-md-2">
                <div class="user_btn">
                  <a ng-href="#/user/{{user_homepage_data.user.username}}" data-style="zoom-out" data-name="follow" class="btn btn-success btn-add_friends ladda btn-follow ladda-button ladda-primary edited" id="edited_addopr454">
                    <span class="ladda-label">View public profile</span>
                    <span class="ladda-spinner"></span>
                  </a>
                </div>
              </div>

            </div>
            <div class="hidden-xs col-sm-9 col-md-9 сol-md-offset-2">

              <div class="user_status">
                <p editable-text="user_homepage_data.user.status" onaftersave="updateUser()">
                  {{user_homepage_data.user.status || 'If you get a chance to say something to the entire world, what would it be?'}}
                </p>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="user_photo "></div>
  <div class="user_properties">
    <div class="container">
      <div class="row">
        <div class="col-md-3">

          <div class="user_friends">
            <h3>
              Skills
              <span class="small text-muted pointer_cursor" ng-click="show_add_skill_form = !show_add_skill_form"> Add +</span>
            </h3>
            <div class="row">
              <div class="col-md-12 ">
                  <div class="marg_b_20" ng-show="show_add_skill_form" id="add_skill_form">
                    <div class="input-group add-on">
                      <input type="text" class="form-control" placeholder="Skill" ng-model='new_skill'>
                      <div class="input-group-btn">
                        <button class="btn btn-default" ng-click="addSkill()" type="submit"><i class="fa fa-plus"></i></button>
                      </div>
                    </div>
                    <select ng-options="level.value as level.text for level in skill_levels" class="full_width" ng-model="new_skill_level">
                      
                    </select>
                 </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 friend-item" ng-repeat='skill in user_homepage_data.skills'>
                  {{skill.tag}} <a class="small remove_cross" ng-click="removeSkill(skill.id, skill.tag_type);">&times;</a>
                  <a class="small pull-right" href="#" editable-select="skill.level" onaftersave="updateSkill(skill.id, skill.level)" e-ng-options="s.value as s.text for s in skill_levels">
                    {{ showSkillLevel(skill.level) }}
                  </a>
              </div>
              <span class="col-md-12" ng-show="user_homepage_data.skills.length == 0">
                  <p>
                    <img src='img/user_page/no_skills.svg' height="100">
                  </p>
                  <p> You haven't added any skills. Please add some skills so that people near you can find you when they search for your skills.</p>
                  
              </span>
              
            </div>

          </div>

          <div class="user_friends ">
            <h3>
              To Learn
              <span class="small text-muted pointer_cursor" ng-click="show_add_learn_form = !show_add_learn_form"> Add +</span>
            </h3>

            <div class="row">
              <div class="col-md-12 ">
                  <div class="marg_b_20" ng-show="show_add_learn_form" id="add_learn_form">
                    <div class="input-group add-on">
                      <input type="text" class="form-control" placeholder="Skill" ng-model='new_learn'>
                      <div class="input-group-btn">
                        <button class="btn btn-default" ng-click="addLearn()" type="submit"><i class="fa fa-plus"></i></button>
                      </div>
                    </div>
                    <select  ng-options="level.value as level.text for level in learn_levels" class="full_width" ng-model="new_learn_level">
                    </select>
                 </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 friend-item" ng-repeat='learn in user_homepage_data.learn'>
                  {{learn.tag}} <a class="small remove_cross" ng-click="removeSkill(learn.id, learn.tag_type);">&times;</a>

                  <a  class="small pull-right" href="#" editable-select="learn.level" onaftersave="updateSkill(learn.id, learn.level)" e-ng-options="s.value as s.text for s in learn_levels">
                    {{ showLearnLevel(learn.level) }}
                  </a>
              </div>

              <span class="col-md-12" ng-show="user_homepage_data.learn.length == 0">
                  <p>
                    <img src='img/user_page/no_skills.svg' height="100">
                  </p>
                  <p> You haven't added what you want to learn. Please add some tags so that we can help you find someone near you who can teach you.</p>
                  
              </span>
              
            </div>

          </div>

          <div class="user_friends marg_b_20">
            <h3>
              Connections
              <span>({{user_homepage_data.connections.length}})</span>
            </h3>
            <div class="row">
              <div class="col-xs-3 col-sm-1 col-md-4 friend-item" ng-repeat='friend in user_homepage_data.connections'>
                <a ng-href="#/user/{{friend.username}}">

                  <img ng-src="{{friend.image_url}}" class="" height="65" width="65" alt=""></a>
              </div>
              <span class="col-md-12" ng-show="user_homepage_data.connections.length == 0">
                  <p>
                    <img src='img/user_page/no_connections.svg' height="100">
                  </p>
                  <p>  You do not have any connections yet. You can get connected to users near you using the <a href='#/near-me'> Search feature </a>.</p>
                  
              </span>
              
            </div>

          </div>

        </div>
        <div class="col-md-9">
          <div class="user_question">
            <h3>Places <span class="small text-muted pointer_cursor" ng-click="show_add_place_form = !show_add_place_form"> Add +</span></h3>
              <div class="row">
                <div class="marg_b_20 col-md-12" ng-show="show_add_place_form" id="add_place_form">
                    <div class="input-group add-on">
                      <input type="text" class="form-control" placeholder="Place" ng-model='new_place'>
                      <div class="input-group-btn">
                        <button class="btn btn-default" ng-click="addPlace()" type="submit"><i class="fa fa-map-marker"></i></button>
                      </div>
                    </div>
                 </div>

                <div class="col-md-12" ng-repeat="p in user_homepage_data.places">
                <span class="place_holder">
                  <span class="map_icon">
                    <i class="fa fa-map-marker"></i>
                  </span>
                  <span class="place_address" editable-text="p.address" onaftersave="updatePlace(p.id, p.address)">{{p.address}}</span> <a ng-show="!p.primary" class="small remove_cross" ng-click="removePlace(p.id);">&times;</a>
                </div>
              </div>
          </div>
          <div class="user_question">
            <h3 class="edited" id="edited_prtable">Stats </h3>

            <ul class="feature_table clearfix">
              <li class="clearfix">
                <span class="feature_name">
                  <i class="fa fa-envelope-o"></i>
                  E-mail:
                </span>
                <span class="feature_value">{{user_homepage_data.user.email}}</span>
              </li>
              <li class="clearfix">
                <span class="feature_name">Phone:</span>
                <span class="feature_value" editable-text='user_homepage_data.user.phone' onaftersave="updateUser()">{{user_homepage_data.user.phone}}</span>
              </li>
              <li class="clearfix">
                <span class="feature_name">Languages:</span>
                <span class="feature_value" ng-repeat='language in user_homepage_data.languages'>
                  <span editable-text='language.language' onaftersave="updateLanguage(language.id, language.language)">{{language.language}}</span>
                </span>
              </li>
              <li class="clearfix">
                <span class="feature_name">Сan meet:</span>
                <span class="feature_value">
                
                  <div class="switch_rating">
                    <input type="checkbox" class="checkbox" ng-model="user_homepage_data.user.available_to_meet" id="checkbox" ng-change="updateUser()">
                    <label for="checkbox"></label>
                  </div>
                </span>
              </li>
              <li class="clearfix">
                <span class="feature_name">Education</span>
                <span class="feature_value">Coming Soon</span>
              </li>
              <li class="clearfix">
                <span class="feature_name">Course</span>
                <span class="feature_value">Coming Soon</span>
              </li>
              <li class="clearfix">
                <span class="feature_name">Profession</span>
                <span class="feature_value">Coming Soon</span>
              </li>
              <li class="clearfix">
                <span class="feature_name">Role</span>
                <span class="feature_value">Coming Soon</span>
              </li>

            </ul>

          </div>
          <div class="user_latest marg_b_20">
            <h3 class="edited" id="edited_ltstre">Latest Reviews:</h3>
            <div class="row">
              <div class="col-sm-12 col-md-12 reviews_list">
              {{!user_homepage_data.ratings || 'No reviews yet'}}
                <div class="user_message" ng-class='{red_comment: rating.rating < 3 }'  ng-repeat='rating in user_homepage_data.ratings'>
                  <div class="row">
                    <div class="col-xs-3 col-sm-1 col-md-1">
                      <a href="#">
                        <img ng-src="{{rating.from_user.image_url}}" class="" height="55" width="55" alt=""></a>
                    </div>
                    <div class="col-xs-9 col-sm-3 col-md-3">
                      <a href="#" class="us_name">{{rating.from_user.first_name + ' ' + rating.from_user.last_name}}</a>
                      <p class="us_m_date">{{rating.created_at}}</p>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8">
                      <ul class="user_message_options pull-right">
                        <li>
                          <a href="#">
                            Say Thank you! <i class="fa fa-thumbs-up"></i>
                          </a>
                        </li>
                      </ul>

                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                      <div class="us_line"></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                      <div class="us_content">
                        <p>
                          {{rating.comment}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            
          </div>
        </div>
      </div>
    </div>
  </div>

<script type='text/javascript' src='js/lightcase.js'></script>
<script type='text/javascript' src='js/common.js'></script>
<script type='text/javascript' src='js/ion.rangeSlider.js'></script>
<script type='text/javascript' src='js/bootstrap.min.js'></script>
<script type='text/javascript' src='js/bootstrap-tagsinput.min.js'></script>
<script type='text/javascript' src='js/jquery.masonry.js'></script>
<script type='text/javascript' src='js/ladda.min.js'></script>
<script type='text/javascript' src='js/owl.carousel.min.js'></script>
<script type='text/javascript' src='js/bootstrap-select.js'></script>
<script type='text/javascript' src='js/bootstrap-tokenfield.min.js'></script>
<script type='text/javascript' src='js/common.js'></script>
  <script type="text/javascript">
	jQuery(document).ready(function($) {
		if( typeof  window.lightcase == "object") { 
            $('a[data-rel^=lightcase]').lightcase
            ({
                transition: 'scrollHorizontal',
                showSequenceInfo: false,
                showTitle: true,
                swipe: true
            });

        }
	});
  </script>
</div>
