<link href="js/plugins/rateit/rateit.css" media="all" rel="stylesheet" type="text/css" />

<div id="myid" class="Profile page-id-7 page-template page-template-template-members page-template-template-members-php logged-in admin-bar no-customize-support  single-post st_classic menustyle_classic headstyle_classic transparentmenu_no head_stickyonscroll_no footerstyle_light subheaderbg_undermenu page-members page-profile">
  <div ng-include="'views/templates/header.html'" ng-controller="AuthController"></div>

  <div  data-h="555" class="heading_blog parallax-window"  data-image="http://freelance.vioo.ru/wp-content/uploads/2015/11/points_cubes_background_light_91691_1920x10801.jpg">
    <div class="bg_fon ">
      <div class="container">
        <div class="row">
          <div class="col-md-12 clearfix">

            <div class="nav_a_l">
              <a class="active">{{ user_data.user.first_name + ' ' + user_data.user.last_name}}</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  bg_fon -->

  <div class="user_wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="user_container">
            <div class="user_head">
              <div class="col-sm-3 col-md-3">
                <div class="user_avatar">

                  <form class="col-md-4" method="post" enctype="multipart/form-data">
                    <div class="input-file-row-1">
                      <div class="my-button2"></div>
                      <div class="upload-file-container">
                        <img id="image" ng-src="{{user_data.user.image_url}}"  alt="">
                      </div>
                    </div>
                  </form>

                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                <div class="user_information">
                  <p>
                    <span class="edited" >{{user_data.average_rating}} <i class="fa fa-star"></i> (Based on {{user_data.ratings.length}} reviews)</span>
                  </p>
                  <p class="user_loc">
                    <span class="edited" id="editer_profileglobe">
                      <i class="fa fa-globe"></i>
                    </span>
                    {{user_data.primary_place}}
                  </p>
                </div>
              </div>

              <div class="col-sm-2 col-md-2 col-sm-offset-2 col-md-offset-2">
                <!-- <button class="write">View profile</button> -->
              </div>

            
              <div class="col-sm-2 col-md-2">
                <div class="user_btn" ng-show="user_data.user.id != user_data.currentUid && user_data.connectionStatus != 2 && !user_data.to_sent && !user_data.current_sent">
                  <a ng-click="showConnectBox()" data-style="zoom-out" data-name="follow" class="btn btn-success btn-add_friends ladda btn-follow ladda-button ladda-primary edited" id="connect_button">
                    <span class="ladda-label">Connect</span>
                    <span class="ladda-spinner"></span>
                  </a>
                </div>
                
                <div class="user_btn" ng-show="user_data.currentUid == user_data.uid">
                  <a ng-href="#/profile" data-style="zoom-out" data-name="follow" class="btn btn-add_friends ladda btn-follow ladda-button ladda-primary edited" id="edited_addopr454">
                    <span class="ladda-label">Edit Profile</span>
                    <span class="ladda-spinner"></span>
                  </a>
                </div>

                <div class="user_btn" ng-show="user_data.currentUid != user_data.uid && user_data.connectionStatus == 2">
                  <a ng-click="showMessageBox()" data-style="zoom-out" data-name="follow" class="btn btn-add_friends ladda btn-follow ladda-button ladda-primary edited" id="edited_addopr454">
                    <span class="ladda-label">Message</span>
                    <span class="ladda-spinner"></span>
                  </a>
                </div>


              </div>

              <div ng-show="user_data.connectionStatus == 1" class="col-sm-5 col-md-5">
                <a href="" ng-show="user.to_sent" class="btn btn-block btn-warning ladda-label">Request sent</a>
                  <span ng-show="!user.to_sent" style="display: block;" class='well '>
                      <span style="display:block;margin-bottom:10px;"> {{user_data.user.first_name}} has sent you a connection request.</span>
                      <a ng-click="responseConnect(2,user_data.connection.id);" class="btn btn-md btn-warning" >Accept</a>
                      <a ng-click="responseConnect(3,user_data.connection.id);" class="btn btn-md btn-danger" >Reject</a>
                  </span>
              </div>

            </div>
            <div class="hidden-xs col-sm-9 col-md-9 сol-md-offset-2">

              <div class="user_status" ng-show="user_data.user.status">
                <p>
                  {{user_data.user.status}}
                </p>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="user_photo "></div>
  <div class="user_properties">
    <div class="container">
      <div class="row">
        <div class="col-md-3">

          <div class="user_friends">
            <h3>
              Skills
            </h3>
            <div class="row">
              <div class="col-md-12" ng-show="user_data.skills.length == 0">
                No Skills added.
                <p>
                  <img src='img/user_page/no_skills.svg' height="100">
                </p>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 friend-item" ng-repeat='skill in user_data.skills'>
                  {{skill.tag}} 
                  <a class="small pull-right" href="" >
                    {{ showSkillLevel(skill.level) }}
                  </a>
              </div>
              
            </div>

          </div>

          <div class="user_friends ">
            <h3>
              To Learn
            </h3>

            <div class="row">
              <div class="col-md-12" ng-show="user_data.learn.length == 0">
                No Skills added.
                <p>
                    <img src='img/user_page/no_skills.svg' height="100">
                  </p>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 friend-item" ng-repeat='learn in user_data.learn'>
                  {{learn.tag}}

                  <a  class="small pull-right" href="" >
                    {{ showLearnLevel(learn.level) }}
                  </a>
              </div>
              
            </div>

          </div>

          <div class="user_friends marg_b_20">
            <h3>
              Connections
            </h3>
            <div class="row">
              <div class="col-xs-3 col-sm-1 col-md-4 friend-item" ng-repeat='friend in user_data.connections'>
                <a ng-href="#/user/{{friend.username}}">

                  <img ng-src="{{friend.image_url}}" class="" height="65" width="65" alt=""></a>
              </div>
              <div class="col-md-12" ng-show="user_data.connections.length == 0"> 
              No Connections yet.
                  <p>
                    <img src='img/user_page/no_connections.svg' height="100">
                  </p>
              </div>
            </div>

          </div>

        </div> <!-- End of col-3 -->
        <div class="col-md-9">
          <div class="user_question">
            <h3>Places </h3>
              <div class="row">
                <div class="marg_b_20 col-md-12" ng-show="show_add_place_form" id="add_place_form">
                    <div class="input-group add-on">
                      <input type="text" class="form-control" placeholder="Place" ng-model='new_place'>
                      <div class="input-group-btn">
                        <button class="btn btn-default" ng-click="addPlace()" type="submit"><i class="fa fa-map-marker"></i></button>
                      </div>
                    </div>
                 </div>

                <div class="col-md-12" ng-repeat="p in user_data.places">
                  <span class="place_holder">
                    <span class="map_icon">
                      <i class="fa fa-map-marker"></i>
                    </span>
                    <span class="place_address">{{p.address}}</span>
                  </span>
                </div>
            </div>
          </div> <!-- End Of Places Holder -->
          <div class="user_question">
            <h3 class="edited" id="edited_prtable">Stats </h3>

            <ul class="feature_table clearfix">

              <li class="clearfix">
                <span class="feature_name">
                  <span class="recent_contents_icon opacity_highlight" >
                      <img src="img/user_page/issues_raised.svg">
                  </span>
                  Raised Issues
                  </span>
                <span class="feature_value">{{user_data.my_issues.length}}</span>
              </li>
              <li class="clearfix">
                <span class="feature_name">
                <span class="recent_contents_icon opacity_highlight">
                    <img src="img/user_page/issues_handling.svg">
                </span>
                Handling Issues</span>
                <span class="feature_value">{{user_data.handling_issues.length}}</span>
              </li>
              <li class="clearfix">
                <span class="feature_name">
                <span class="recent_contents_icon opacity_highlight">
                    <img src="img/user_page/issues_fixing.svg">
                </span>
                Solved Issues</span>
                <span class="feature_value">{{user_data.resolved_issues.length}}</span>
              </li>

            </ul>
          </div> <!-- End of Stats -->
          <div class="user_latest similar-projects clearfix">
            <div class="row">
              <div class="col-lg-12">
                <h3 class="edited" id="edited_Similarprojects" >Issues:</h3>
              </div>

                <div class="col-md-12 user_page_recents">

                    <span class="recent_activities_icon opacity_highlight" >
                        <img src="img/user_page/issues_raised.svg" >
                    </span>
                    <div class="row">
                        <span class="recent_contents">
                            <div class="col-md-12">
                                <div class="list-group">
                                    <div class="list-group" ng-repeat="issue in user_data.my_issues">
                                        <a ng-href="#/issue/{{issue.slug}}" class="list-group-item list-group-item-danger">
                                            <h4 class="list-group-item-heading"><strong>{{issue.title}}</strong></h4>
                                            <div class="list-group-item-text" ng-bind-html='issue.summary'></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" ng-show="!user_data.my_issues.length">
                                Haven't raised any issues.
                            </div>
                        </span>
                    </div>
                </div>
                <div class="col-md-12 user_page_recents">
                    <span class="recent_activities_icon opacity_highlight">
                        <img src="img/user_page/issues_handling.svg">
                    </span>
                    <div class="row">
                        <span class="recent_contents">
                            <div class="col-md-12">
                                <div class="list-group">
                                    <div class="list-group" ng-repeat="issue in user_data.handling_issues">
                                        <a ng-href="#/issue/{{issue.slug}}" class="list-group-item list-group-item-info">
                                            <h4 class="list-group-item-heading"><strong>{{issue.title}}</strong></h4>
                                            <div class="list-group-item-text" ng-bind-html='issue.summary'></div>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12" ng-show="!user_data.handling_issues.length">
                                Not handling any issues.
                            </div>
                        </span>
                    </div>
                </div>
                <div class="col-md-12 user_page_recents">
                    <span class="recent_activities_icon opacity_highlight">
                        <img src="img/user_page/issues_fixing.svg" >
                    </span>
                    <div class="row">
                        <span class="recent_contents">
                            <div class="col-md-12">
                                <div class="list-group">
                                    <div class="list-group" ng-repeat="issue in user_data.resolved_issues">
                                        <a ng-href="#/issue/{{issue.slug}}" class="list-group-item list-group-item-success">
                                            <h4 class="list-group-item-heading"><strong>{{issue.title}}</strong></h4>
                                            <div class="list-group-item-text"  ng-bind-html='issue.summary'></div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" ng-show="!user_data.resolved_issues.length">
                                Haven't solved any issues.
                            </div>
                        </span>
                    </div>
                </div>
            </div>
          </div> <!-- End Of Issues -->


          <div class="user_latest marg_b_20">
            <h3 class="edited" id="edited_ltstre">Latest Reviews:</h3>
            <div class="row marg_b_20">
              <div class="col-sm-12 col-md-12 reviews_list">
                <span ng-show="user_data.ratings.length == 0">
                  No reviews yet
                </span>
                <div class="user_message" ng-class='{red_comment: rating.rating < 3 }'  ng-repeat='rating in user_data.ratings'>
                  <div class="row">
                    <div class="col-xs-3 col-sm-1 col-md-1">
                      <a href="#">
                        <img ng-src="{{rating.reviewed_by.image_url}}" class="" height="55" width="55" alt=""></a>
                    </div>
                    <div class="col-xs-9 col-sm-3 col-md-3">
                      <a href="#" class="us_name">{{rating.reviewed_by.first_name + ' ' + rating.reviewed_by.last_name}}</a>
                      <p class="us_m_date">{{rating.created_at}}</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                      <div class="us_line"></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                      <div class="us_content">
                        <p>
                          {{rating.comment}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 

            <div class="row" ng-show="user_data.user.id != user_data.currentUid && user_data.current_user_reviewed != true">
              <div class="col-md-12">
                <form id="F_reviews"  method="post">
                  <label class="enter_label edited" id="edited_ltstreghjkgh">
                    <span class="edited" id="edited_wrnewentr">Write new review:</span>
                  </label>

                  <input type='text' ng-model='rating' id= 'rating' value='1'>
                  <div style=" margin:10px 0;" id="user_rating_star" type="text" class="rateit" data-rateit-backingfld="#rating" data-rateit-resetable="false"></div>

                  <textarea placeholder="Write your review here" class="e-mail_in" style="resize: none; overflow-y: hidden; position: absolute; top: 0px; left: -9999px; height: 80px; width: 848px; line-height: 25.7143px; text-decoration: none; letter-spacing: 0px;" tabindex="-1"></textarea>
                  <textarea ng-model="comment" placeholder="Press Enter for send" id="send_reviews" class="e-mail_in" style="resize: none; overflow-y: hidden;"></textarea>
                  <div id="fountainG">
                    <div id="fountainG_1" class="fountainG"></div>
                    <div id="fountainG_2" class="fountainG"></div>
                    <div id="fountainG_3" class="fountainG"></div>
                    <div id="fountainG_4" class="fountainG"></div>
                    <div id="fountainG_5" class="fountainG"></div>
                    <div id="fountainG_6" class="fountainG"></div>
                    <div id="fountainG_7" class="fountainG"></div>
                    <div id="fountainG_8" class="fountainG"></div>
                  </div>
                </form>
                <div class="pull-right">
                  <a ng-click="addReview(rating, comment)" data-style="zoom-out" data-name="follow" class="btn btn-success btn-add_friends ladda btn-follow ladda-button ladda-primary edited" id="review_button">
                    <span class="ladda-label">Add Review</span>
                    <span class="ladda-spinner"></span>
                  </a>
                </div>

              </div>
            </div>

          </div> <!-- End of Ratings -->

        </div> <!-- End of Col-9 -->

      </div>
    </div>
  </div> <!-- End of User Properties -->

<!-- Custom TEmplate Scripts -->
<script type="text/ng-template" id="template_connect">
    <div ng-show="!user_data.connectionStatus">
      Get connected with {{user_data.user.first_name}} to get updates, ask for support and more.
      <form class="form-horizontal" id="connect_form" role="form" method="POST">
          <div class="form-group">
              <div class="col-md-12">
                  <textarea class="form-control" autofocus autocomplete="off" placeholder="An optional message" ng-model="connect_message">I'd like to get connected</textarea>
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-12" style="padding-left: 40px;">
                  <label class="radio">
                      <input type="radio" ng-model="connect_purpose" ng-checked='true' ng-value="'friend'"> Friend
                  </label>
                  <label class="radio">
                      <input type="radio" ng-model="connect_purpose" ng-value="'support'"> Support
                  </label>
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-12">
                  <button type="submit" class="btn  btn-info" ng-click="postConnect(connect_message, connect_purpose)">
                      Send request
                  </button>
              </div>
          </div>
      </form>
    </div>
</script>

<script type="text/ng-template" id="template_message">
      <form class="form-horizontal marg_t_20" id="message_form" role="form" method="POST">
          <div class="form-group">
              <div class="col-md-12">
                  <textarea id="send_message" class="form-control" autofocus autocomplete="off" placeholder="Message" ng-model="message" required></textarea>
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-12">
                  <button type="submit" ng-click="postMessage(message)" class="btn btn-info">
                      Send message
                  </button>
              </div>
          </div>
      </form>
</script>

<!-- Templates end -->
<script type='text/javascript' src='js/lightcase.js'></script>
<script type='text/javascript' src='js/common.js'></script>
<script type='text/javascript' src='js/ion.rangeSlider.js'></script>
<script type='text/javascript' src='js/bootstrap.min.js'></script>
<script type='text/javascript' src='js/bootstrap-tagsinput.min.js'></script>
<script type='text/javascript' src='js/jquery.masonry.js'></script>
<script type='text/javascript' src='js/ladda.min.js'></script>
<script type='text/javascript' src='js/owl.carousel.min.js'></script>
<script type='text/javascript' src='js/bootstrap-select.js'></script>
<script type='text/javascript' src='js/bootstrap-tokenfield.min.js'></script>
<script type='text/javascript' src='js/common.js'></script>

<script src="js/plugins/rateit/jquery.rateit.js" type="text/javascript"></script>

  <script type="text/javascript">
	jQuery(document).ready(function($) {
		if( typeof  window.lightcase == "object") { 
            $('a[data-rel^=lightcase]').lightcase
            ({
                transition: 'scrollHorizontal',
                showSequenceInfo: false,
                showTitle: true,
                swipe: true
            });

        }
	});
  </script>

  <script type="text/javascript">
      // User Star Rating initializer
      // initialize with defaults
      $("#user_rating_star").rateit();

      // with plugin options
      $("#user_rating_star").rateit({min:1, max:5, step:1, size:'l'});
  
  </script>
</div>
