<div class="hbox hbox-auto-xs hbox-auto-sm" >
  <!-- main -->
  <div class="col">
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">Howdy, {{current_user.name}}!</h1>
        </div>

      </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-xs bg-light lter">

        <div ui-scroll-viewport class="row" style="height:100vh;overflow-y: auto;margin:0;" minIndex='0'>
          <div ui-scroll="item in feeds_source">
            <div class="wrapper-xs">
          
                
                <div class="panel m-b-xs" >
                  <div class="panel-heading pos-rlt ">
                    <a class="thumb-sm m-r-sm ">
                      <img ng-src="{{item.user_image}}" alt="...">
                    </a>
                    <span ng-bind-html="item.top_text"></span>
                    <!-- <label class="label bg-info m-l-xs">Editor</label>  -->
                    <span class="text-muted m-l-sm pull-right">
                      <i class="fa fa-clock-o"></i>
                      {{item.date}}
                    </span>
                  </div>
                  <div class="panel-body">
                    <div>
                      <div ng-show="item['skills-teach'].length > 0">
                        <p><a href class="btn btn-default btn-sm m-r-sm" ng-repeat="skill in item['skills-teach'].split(',')">{{skill}}</a> </p>
                      </div>
                      <div ng-show="item['skills-learn'].length > 0">
                        <p> <a href class="btn btn-danger btn-sm m-r-sm" ng-repeat="learn in item['skills-learn'].split(',')">{{learn}}</a> </p>
                      </div>
                    </div>
                    
                  </div>
                </div>

            </div>
          </div>
        </div>

    </div>
  </div>
  <!-- / main -->
  <!-- right col -->
  <div class="col w-md bg-white-only b-l bg-auto no-border-xs">
    <div class="nav-tabs-alt" >
      <ul class="nav nav-tabs" role="tablist">
        <li class="active">
          <a data-target="#tab-1" role="tab" data-toggle="tab">
            <i class="fa fa-group text-md text-muted wrapper-sm"></i>
          </a>
        </li>
        <!-- 
        <li>
          <a data-target="#tab-2" role="tab" data-toggle="tab">
            <i class="glyphicon glyphicon-comment text-md text-muted wrapper-sm"></i>
          </a>
        </li> -->

      </ul>
    </div>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tab-1">
        <div class="wrapper-md">
          <div class="m-b-sm text-md">Groups</div>
            <p>
            Groups are automatically created based on your skills and the location you have added to your profile.
            </p>
          <ul class="list-group no-bg no-borders pull-in">
            <li class="list-group-item clear" ng-repeat='skill in skills'>
              <div class="clear">
                <a ng-href='#/app/group/{{user_address.id}}-{{skill.id}}'>
                  <div>{{skill.tag}}</div>
                  <small class="text-muted">{{user_address.address}}</small>
                </a>
              </div>
            </li>
          </ul>
          
          <a href class="btn btn-xs btn-dark padder-md m-b">More Groups</a>
          
        </div>
      </div>
      <div role="tabpanel" class="tab-pane tab-2" id="tab-2">
        <div class="wrapper-md">
          <div class="m-b-sm text-md">Chat</div>
          <ul class="list-group no-borders pull-in auto">
            <li class="list-group-item">
              <span class="pull-left thumb-sm m-r"><img src="img/a1.jpg" alt="..." class="img-circle"></span>
              <a href="#" class="text-muted" ui-toggle-class="show" target=".app-aside-right"><i class="fa fa-comment-o pull-right m-t-sm text-sm"></i></a>
              <div class="clear">
                <div><a href="">Chris Fox</a></div>
                <small class="text-muted">about 2 minutes ago</small>
              </div>
            </li>
            <li class="list-group-item">
              <span class="pull-left thumb-sm m-r"><img src="img/a2.jpg" alt="..." class="img-circle"></span>
              <a href="#" class="text-muted" ui-toggle-class="show" target=".app-aside-right"><i class="fa fa-comment-o pull-right m-t-sm text-sm"></i></a>
              <div class="clear">
                <div><a href="">Amanda Conlan</a></div>
                <small class="text-muted">about 2 hours ago</small>
              </div>
            </li>
            <li class="list-group-item">
              <span class="pull-left thumb-sm m-r"><img src="img/a3.jpg" alt="..." class="img-circle"></span>
              <a href class="text-muted" ui-toggle-class="show" target=".app-aside-right"><i class="fa fa-comment-o pull-right m-t-sm text-sm"></i></a>
              <div class="clear">
                <div><a href="">Dan Doorack</a></div>
                <small class="text-muted">3 days ago</small>
              </div>
            </li>
            <li class="list-group-item">
              <span class="pull-left thumb-sm m-r"><img src="img/a4.jpg" alt="..." class="img-circle"></span>
              <a href class="text-muted" ui-toggle-class="show" target=".app-aside-right"><i class="fa fa-comment-o pull-right m-t-sm text-sm"></i></a>
              <div class="clear">
                <div><a href="">Lauren Taylor</a></div>
                <small class="text-muted">about 2 minutes ago</small>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 
    <div class="padder-md">      
      
      <div class="m-b text-md">Recent Activity</div>
      <div class="streamline b-l m-b">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">5 minutes ago</div>
            <p><a href class="text-info">Jessi</a> commented your post.</p>
          </div>
        </div>
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">11:30</div>
            <p>Join comference</p>
          </div>
        </div>
        <div class="sl-item b-success b-l">
          <div class="m-l">
            <div class="text-muted">10:30</div>
            <p>Call to customer <a href class="text-info">Jacob</a> and discuss the detail.</p>
          </div>
        </div>
        <div class="bg-info wrapper-sm m-l-n m-r-n m-b r r-2x">
          Create tasks for the team
        </div>
        <div class="sl-item b-primary b-l">
          <div class="m-l">
            <div class="text-muted">Wed, 25 Mar</div>
            <p>Finished task <a href class="text-info">Testing</a>.</p>
          </div>
        </div>
        <div class="sl-item b-warning b-l">
          <div class="m-l">
            <div class="text-muted">Thu, 10 Mar</div>
            <p>Trip to the moon</p>
          </div>
        </div>
        <div class="sl-item b-info b-l">
          <div class="m-l">
            <div class="text-muted">Sat, 5 Mar</div>
            <p>Prepare for presentation</p>
          </div>
        </div>
        <div class="sl-item b-l">
          <div class="m-l">
            <div class="text-muted">Sun, 11 Feb</div>
            <p><a href class="text-info">Jessi</a> assign you a task <a href class="text-info">Mockup Design</a>.</p>
          </div>
        </div>
        <div class="sl-item b-l">
          <div class="m-l">
            <div class="text-muted">Thu, 17 Jan</div>
            <p>Follow up to close deal</p>
          </div>
        </div>
      </div>

    </div>
     -->
  </div>
  <!-- / right col -->
</div>
