<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Report Issues / Give Feedback</h1>
</div>
<div class="wrapper-md bg-white-only">
  <div class="row">

    <div class="col-md-12">
        <h3> What would you like us to know?</h3>

        <div class="form-group">

          <div lazy-load="textAngular">
            <div text-angular ng-model="feedback" required placeholder='Write your feedback...' class="btn-groups"></div>
          </div>

        </div>

        <span class="btn btn-default" ng-click="sendFeedback();">Send </span>


    </div>
  
  </div>
</div>