<div class="container w-xl w-auto-xs" ng-controller="SigninFormController" ng-init="app.settings.container = false;">
  <a href class="navbar-brand block m-t">{{app.name}}</a>
  <div class="m-b-lg">
    <div class="wrapper text-center">
      <strong>Input your email to reset your password</strong>
    </div>
    <form name="reset" ng-init="linkSent=true; emailError=true">
      <div class="list-group list-group-sm">
        <div class="list-group-item">
          <input type="email" placeholder="Email" ng-model="reset_email" class="form-control no-border" required>
        </div>
      </div>
      <button type="submit" ng-disabled="reset.$invalid" class="btn btn-lg btn-primary btn-block" ng-click="sendResetLink()" >Send</button>
    </form>
    <div collapse="linkSent" class="m-t">
      <div class="alert alert-success">
        <p>A reset link has been sent to your email address.</p>
      </div>
    </div>

    <div collapse="emailError" class="m-t">
      <div class="alert alert-error">
        <p>Invalid details entered.</p>
      </div>
    </div>
  </div>
  <div class="text-center" ng-include="'tpl/blocks/page_footer.html'">
    {% include 'blocks/page_footer.html' %}
  </div>
</div>