<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Invite to Placerange</h1>
</div>
<div class="wrapper-md bg-white-only">
  <div class="row">

    <div class="col-md-12">

        <div class="form-group">

          <input type="text" ng-model='email' class="form-control" placeholder="Type the Email ID to send an invitation">

          <span class="btn btn-default m-t" ng-click="sendInvite();">Send Invite</span>
        </div>


    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h3> Pending Invitations</h3>
          <div class="clearfix">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="invite in pending_invites">
                <i class="icon-check text-success m-r-xs"></i> {{invite.email_id}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>