<div ng-controller="messageCtrl">
<div class="bg-light lter b-b wrapper-md">
 
  <h1 class="m-n font-thin h3">Messages </h1>

</div>
<div class="wrapper-md">
  <div class="row">
    <div class="col-sm-3 hidden-xs">
        <div class="panel b-a" style="height: 70vh;">

          <div class="clearfix panel-footer">
            <div class="input-group">
              <input type="text" class="form-control input-sm btn-rounded" placeholder="Search conversations">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default btn-sm btn-rounded"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>


          <ul class="list-group list-group-lg no-bg auto">
            <li class="list-group-item clearfix bg-light ">
              <span class="pull-left thumb-sm avatar m-r">
                <img src="img/a4.jpg" alt="...">
                <i class="on b-white bottom"></i>
              </span>
              <span class="clear">
                <span>Chris Fox</span>
                <small class="text-muted clear text-ellipsis">What's up, buddy</small>
              </span>
            </li>
            <li class="list-group-item clearfix">
              <span class="pull-left thumb-sm avatar m-r">
                <img src="img/a5.jpg" alt="...">
                <i class="on b-white bottom"></i>
              </span>
              <span class="clear">
                <span>Amanda Conlan</span>
                <small class="text-muted clear text-ellipsis">Come online and we need talk about the plans that we have discussed</small>
              </span>
            </li>
            <li class="list-group-item clearfix">
              <span class="pull-left thumb-sm avatar m-r">
                <img src="img/a6.jpg" alt="...">
                <i class="busy b-white bottom"></i>
              </span>
              <span class="clear">
                <span>Dan Doorack</span>
                <small class="text-muted clear text-ellipsis">Hey, Some good news</small>
              </span>
            </li>
            <li class="list-group-item clearfix">
              <span class="pull-left thumb-sm avatar m-r">
                <img src="img/a7.jpg" alt="...">
                <i class="away b-white bottom"></i>
              </span>
              <span class="clear">
                <span>Lauren Taylor</span>
                <small class="text-muted clear text-ellipsis">Nice to talk with you.</small>
              </span>
            </li>
          </ul>
          
        </div>       
    </div>

     <div class="col-sm-6">

      <div class="panel panel-default" style="height: 70vh;">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-4">
              Siva Ganesh 
            </div>
            
            <div class="col-xs-4 visible-xs">
              <a class="small" ng-click="selectConversation()"> Change Conversation</a> 
            </div>
            <div class="col-xs-4 visible-xs text-right">
              <a class="small" ng-click="newMessage()"> + New Message</a> 
            </div>
            <div class="col-xs-8 hidden-xs text-right">
              <a class="small" ng-click="newMessage()"> + New Message</a> 
            </div>
          </div>
        </div>
        <div class="panel-body" style="height:100%;padding-bottom: 100px;margin-bottom: -100px;">
          <div class="m-b">
            <a href class="pull-left thumb-sm avatar"><img src="img/a2.jpg" alt="..."></a>
            <div class="m-l-xxl">
              <div class="pos-rlt wrapper b b-light r r-2x">
                <span class="arrow left pull-up"></span>
                <p class="m-b-none">Hi John, What's up...</p>
              </div>
              <small class="text-muted"><i class="fa fa-ok text-success"></i> 2 minutes ago</small>
            </div>
          </div>
          <div class="m-b">
            <a href class="pull-right thumb-sm avatar"><img src="img/a3.jpg" class="img-circle" alt="..."></a>
            <div class="m-r-xxl">
              <div class="pos-rlt wrapper bg-primary r r-2x">
                <span class="arrow right pull-up arrow-primary"></span>
                <p class="m-b-none">Hi my Love:)</p>
              </div>
              <small class="text-muted">1 minutes ago</small>
            </div>
          </div>                          
        </div>
        <footer class="panel-footer">
          <!-- chat form -->
          <div>
            <a class="pull-left thumb-xs avatar"><img src="img/a3.jpg" class="img-circle" alt="..."></a>
            <form class="m-b-none m-l-xl">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Say something">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">SEND</button>
                </span>
              </div>
            </form>
          </div>
        </footer>
      </div>

    </div>
  </div>
</div>

</div>
<!-- New message modal -->
<script type="text/ng-template" id="newMessageModal.html">

    <div class="panel b-a" style="height: 80vh; padding-bottom: 70px;margin-bottom: -70px;">

      <div class="clearfix panel-footer">
        <div class="input-group">
          <input type="text" class="form-control input-sm btn-rounded" placeholder="Search connections">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default btn-sm btn-rounded"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>

      <ul class="list-group list-group-lg no-bg auto">
        <li class="list-group-item clearfix">
          <span class="pull-left thumb-sm avatar m-r">
            <img src="img/a4.jpg" alt="...">
            <i class="on b-white bottom"></i>
          </span>
          <span class="clear">
            <span>Chris Fox</span>
          </span>
        </li>
        <li class="list-group-item clearfix">
          <span class="pull-left thumb-sm avatar m-r">
            <img src="img/a5.jpg" alt="...">
            <i class="on b-white bottom"></i>
          </span>
          <span class="clear">
            <span>Amanda Conlan</span>
          </span>
        </li>
        <li class="list-group-item clearfix">
          <span class="pull-left thumb-sm avatar m-r">
            <img src="img/a6.jpg" alt="...">
            <i class="busy b-white bottom"></i>
          </span>
          <span class="clear">
            <span>Dan Doorack</span>
          </span>
        </li>
        <li class="list-group-item clearfix">
          <span class="pull-left thumb-sm avatar m-r">
            <img src="img/a7.jpg" alt="...">
            <i class="away b-white bottom"></i>
          </span>
          <span class="clear">
            <span>Lauren Taylor</span>
          </span>
        </li>
      </ul>
      
    </div>       

    <div class="m">
      <span class="btn btn-default pull-right" ng-click="cancel();">Close</span>
    </div>

</script>



<!-- New message modal -->
<script type="text/ng-template" id="selectConversation.html">

    <div class="panel b-a" style="height: 70vh;padding-bottom: 70px;margin-bottom: -70px;">

          <div class="clearfix panel-footer">
            <div class="input-group">
              <input type="text" class="form-control input-sm btn-rounded" placeholder="Search conversations">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default btn-sm btn-rounded"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>


          <ul class="list-group list-group-lg no-bg auto">
            <li class="list-group-item clearfix">
              <span class="pull-left thumb-sm avatar m-r">
                <img src="img/a4.jpg" alt="...">
                <i class="on b-white bottom"></i>
              </span>
              <span class="clear">
                <span>Chris Fox</span>
                <small class="text-muted clear text-ellipsis">What's up, buddy</small>
              </span>
            </li>
            <li class="list-group-item clearfix">
              <span class="pull-left thumb-sm avatar m-r">
                <img src="img/a5.jpg" alt="...">
                <i class="on b-white bottom"></i>
              </span>
              <span class="clear">
                <span>Amanda Conlan</span>
                <small class="text-muted clear text-ellipsis">Come online and we need talk about the plans that we have discussed</small>
              </span>
            </li>
            <li class="list-group-item clearfix">
              <span class="pull-left thumb-sm avatar m-r">
                <img src="img/a6.jpg" alt="...">
                <i class="busy b-white bottom"></i>
              </span>
              <span class="clear">
                <span>Dan Doorack</span>
                <small class="text-muted clear text-ellipsis">Hey, Some good news</small>
              </span>
            </li>
            <li class="list-group-item clearfix">
              <span class="pull-left thumb-sm avatar m-r">
                <img src="img/a7.jpg" alt="...">
                <i class="away b-white bottom"></i>
              </span>
              <span class="clear">
                <span>Lauren Taylor</span>
                <small class="text-muted clear text-ellipsis">Nice to talk with you.</small>
              </span>
            </li>
          </ul>
          
        </div>         

    <div class="m">
      <span class="btn btn-default pull-right" ng-click="cancel();">Close</span>
    </div>

</script>

<!-- /modal -->