<div class="bg-light lter b-b wrapper-md">
 
  <h1 class="m-n font-thin h3">Notifications</h1>

</div>
<div class="wrapper-md" ng-controller="notificationCtrl">
  <div class="row">
    <div class="col-md-11">
      <ul class="list-group alt">
          <li class="list-group-item">
            <div class="media">
              <span class="pull-left thumb-sm"><img src="img/a1.jpg" alt="..." class="img-circle"></span>
              <div class="pull-right text-success m-t-sm">
                <i class="fa fa-circle"></i>
              </div>
              <div class="media-body">
                <div><a href>Chris Fox</a></div>
                <small class="text-muted">about 2 minutes ago</small>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="media">
              <span class="pull-left thumb-sm"><img src="img/a2.jpg" alt="..." class="img-circle"></span>
              <div class="pull-right text-muted m-t-sm">
                <i class="fa fa-circle"></i>
              </div>
              <div class="media-body">
                <div><a href>Amanda Conlan</a></div>
                <small class="text-muted">about 2 hours ago</small>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="media">
              <span class="pull-left thumb-sm"><img src="img/a3.jpg" alt="..." class="img-circle"></span>
              <div class="pull-right text-warning m-t-sm">
                <i class="fa fa-circle"></i>
              </div>
              <div class="media-body">
                <div><a href>Dan Doorack</a></div>
                <small class="text-muted">3 days ago</small>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="media">
              <span class="pull-left thumb-sm"><img src="img/a4.jpg" alt="..." class="img-circle"></span>
              <div class="pull-right text-danger m-t-sm">
                <i class="fa fa-circle"></i>
              </div>
              <div class="media-body">
                <div><a href>Lauren Taylor</a></div>
                <small class="text-muted">about 2 minutes ago</small>
              </div>
            </div>
          </li>
        </ul>
    </div>
  </div>
</div>
