
  <div class="panel panel-default">
    <div class="panel-heading font-bold">                  
      Inline form
    </div>
    <div class="panel-body">
      <form class="form-inline" role="form">
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail2">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInputPassword2">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
        </div>
        <div class="checkbox m-l m-r-xs">
          <label class="i-checks">
            <input type="checkbox"><i></i> Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-default">Sign in</button>
        <span ng-controller="ModalDemoCtrl">
          <script type="text/ng-template" id="myModalContent.html">
            <div ng-include="'tpl/modal.form.html'"></div>
          </script>
          <button class="btn btn-success" ng-click="open('lg')">Form in a modal</button>
        </span>
      </form>
    </div>
  </div>
  <p class="m-b-md"><strong>23</strong> Results found for: <strong>Keyword</strong></p>
  <tabset class="tab-container">
    <ul class="nav nav-tabs">
      <li class="active"><a href data-toggle="tab" data-target="#tab_1">All <span class="badge badge-sm m-l-xs">16</span></a></li>
      <li><a href data-toggle="tab" data-target="#tab_2">Users <span class="badge bg-danger badge-sm m-l-xs">6</span></a></li>
      <li><a href data-toggle="tab" data-target="#tab_3">Comments <span class="badge bg-primary badge-sm m-l-xs">9</span></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_1">
        <ul class="list-group no-borders pull-in m-b-none">
          <li class="list-group-item">
            <a href="#" class="h4 text-primary m-b-sm m-t-sm block">Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
            <p><span class="label bg-primary pos-rlt m-r inline wrapper-xs"><i class="arrow right arrow-primary"></i> Tags:</span> <a href class="m-r-sm">admin</a> <a href>app</a>
            </p>
          </li>
          <li class="list-group-item">
            <a href="#" class="h4 text-primary m-b-sm m-t-sm block">Vestibulum ullamcorper sodales nisi nec condimentum</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
            <p><span class="label bg-info pos-rlt m-r inline wrapper-xs"><i class="arrow right arrow-info"></i> Tags:</span> <a href class="m-r-sm">admin</a> <a href>app</a>
            </p>
          </li>
          <li class="list-group-item">
            <a href="#" class="h4 text-primary m-b-sm m-t-sm block">Mauris convallis mauris at pellentesque volutpat</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
            <p><span class="label bg-info pos-rlt m-r inline wrapper-xs"><i class="arrow right arrow-info"></i> Tags:</span> <a href class="m-r-sm">admin</a> <a href>app</a>
            </p>
          </li>
          <li class="list-group-item">
            <a href="#" class="h4 text-primary m-b-sm m-t-sm block">Phasellus at ultricies neque, quis malesuada augu</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
            <p><span class="label bg-info pos-rlt m-r inline wrapper-xs"><i class="arrow right arrow-info"></i> Tags:</span> <a href class="m-r-sm">admin</a> <a href>app</a>
            </p>
          </li>
          <li class="list-group-item">
            <a href="#" class="h4 text-primary m-b-sm m-t-sm block">Morbi nec nunc condimentum, egestas dui nec, fermentum diam</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
            <p><span class="label bg-info pos-rlt m-r inline wrapper-xs"><i class="arrow right arrow-info"></i> Tags:</span> <a href class="m-r-sm">admin</a> <a href>app</a>
            </p>
          </li>
          <li class="list-group-item">
            <a href="#" class="h4 text-primary m-b-sm m-t-sm block">Vestibulum ullamcorper sodales nisi nec condimentum Mauris convallis</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
            <p><span class="label bg-info pos-rlt m-r inline wrapper-xs"><i class="arrow right arrow-info"></i> Tags:</span> <a href class="m-r-sm">admin</a> <a href>app</a>
            </p>
          </li>
        </ul>
      </div>
      <div class="tab-pane" id="tab_2">
        <ul class="list-group list-group-alt list-group-lg no-borders pull-in m-b-none">
          <li class="list-group-item">
            <a href="#" class="pull-left thumb-md m-r">
              <img src="img/a0.jpg" alt="..." class="img-circle">
            </a>
            <div class="clear">
              <a href="#" class="h4 text-primary m-b-sm block">Jone Dosh <span class="label label-sm bg-info">Editor</span></a>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero</div>
            </div>
          </li>
          <li class="list-group-item">
            <a href="#" class="pull-left thumb-md m-r">
              <img src="img/a1.jpg" alt="..." class="img-circle">
            </a>
            <div class="clear">
              <a href="#" class="h4 text-primary m-b-sm block">Miya Soe <span class="label label-sm bg-danger">VIP</span></a>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero</div>
            </div>
          </li>
          <li class="list-group-item">
            <a href="#" class="pull-left thumb-md m-r">
              <img src="img/a2.jpg" alt="..." class="img-circle">
            </a>
            <div class="clear">
              <a href="#" class="h4 text-primary m-b-sm block">Jocob</a>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero</div>
            </div>
          </li>
          <li class="list-group-item">
            <a href="#" class="pull-left thumb-md m-r">
              <img src="img/a3.jpg" alt="..." class="img-circle">
            </a>
            <div class="clear">
              <a href="#" class="h4 text-primary m-b-sm block">Goal De</a>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero</div>
            </div>
          </li>
          <li class="list-group-item">
            <a href="#" class="pull-left thumb-md m-r">
              <img src="img/a4.jpg" alt="..." class="img-circle">
            </a>
            <div class="clear">
              <a href="#" class="h4 text-primary m-b-sm block">Miia Se</a>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero</div>
            </div>
          </li>
        </ul>
      </div>
      <div class="tab-pane" id="tab_3">
        <ul class="list-group list-group-lg no-borders pull-in m-b-none">
          <li class="list-group-item">
            <a href="#" class="h4 text-primary m-b-sm block">Mauris convallis mauris at pellentesque volutpat</a>
            <p class="b wrapper-md pos-rlt bg-light r r-2x"><span class="arrow top pull-left arrow-light"></span>Lorem ipsum dolor sit amet, fermentum diam. Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
          </li>
          <li class="list-group-item">
            <a href="#" class="h4 text-primary m-b-sm block">Phasellus at ultricies neque, quis malesuada augu</a>
            <p class="b wrapper-md pos-rlt"><span class="arrow top pull-left"></span>Fermentum diam. Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
          </li>
          <li class="list-group-item">
            <a href="#" class="h4 text-primary m-b-sm block">Morbi nec nunc condimentum, egestas dui nec, fermentum diam</a>
            <p class="b wrapper-md pos-rlt bg-info text-lt r r-2x"><span class="arrow top pull-left arrow-info"></span>Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
          </li>
          <li class="list-group-item">
            <a href="#" class="h4 text-primary m-b-sm block">Vestibulum ullamcorper sodales nisi nec condimentum Mauris convallis</a>
            <p class="b wrapper-md pos-rlt"><span class="arrow top pull-left"></span>Egestas dui nec, fermentum diam. Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
          </li>
        </ul>
      </div>
    </div>
  </tabset>
