    <div class="container w-xxl w-auto-xs" ng-controller="SignupFormController" >
      <a href class="navbar-brand block m-t">{{app.name}}</a>
      <div class="m-b-lg">

        <div class="list-group list-group-sm">
            <a class="btn btn-block btn-social btn-facebook" ng-click='signupSocial("facebook")'>
              <span class="fa fa-facebook"></span> Sign up with Facebook
            </a>

            <a class="btn btn-block btn-social btn-google" ng-click='signupSocial("google")'>
              <span class="fa fa-google" ></span> Sign up with Google
            </a>


            <!-- <a class="btn btn-block btn-social btn-twitter" ng-click='signupSocial("twitter")'>
              <span class="fa fa-twitter" ></span> Sign up with Twitter
            </a> -->

        </div>
        <div class="wrapper text-center">
          <strong>Sign up with email</strong>
        </div>
        <form name="form" class="form-validation">
          <div class="text-danger wrapper text-center" ng-show="authError">
              {{authError}}
          </div>
          <div class="list-group list-group-sm ">

            <div class="list-group-item">
              <input placeholder="Name" class="form-control no-border" ng-model="user.name" required autofocus="autofocus">
            </div>
            <div class="list-group-item">
              <input type="email" placeholder="Email" class="form-control no-border" ng-model="user.email" required>
            </div>
            <div class="list-group-item">
               <input type="password" placeholder="Password" class="form-control no-border" ng-model="user.password" required>
            </div>
          </div>
          <div class="checkbox m-b-md m-t-sm pull-left">
            <label class="i-checks">
              <input type="checkbox" ng-model="agree" required><i></i> Agree the <a href>terms and policy</a>
            </label>
          </div>
          <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="signup()" ng-disabled='form.$invalid'>Sign up</button>
          <div class="line line-dashed"></div>
          <p class="text-center"><small>Already have an account?</small></p>
          <a ui-sref="access.signin" class="btn btn-lg btn-default btn-block">Sign in</a>
        </form>
      </div>
      <div class="text-center" ng-include="'tpl/blocks/page_footer.html'">
        {% include 'blocks/page_footer.html' %}
      </div>
    </div>