<div class="hbox hbox-auto-xs hbox-auto-sm" >
  <!-- main -->
  <div class="col">
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">Search</h1>
        </div>

      </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md bg-white-only">
      <!-- menu -->
      <div data-ng-include=" 'tpl/search/search.html' " >
      </div>
      <!-- / menu -->
    </div>
  </div>
  <!-- / main -->
 
</div>
