  <div class="col-md-6 col-md-offset-3">
    <div class="container w-full w-auto-sm" ng-controller="SignupFormController" ng-init="app.settings.container = false;">
      <h2 class="text-center">We would like to know a little more</h2>
      <div class="m-b-lg">
        <div id='step_1'>
          <div class="wrapper text-center">
            <h3>What are you good at?</h3>
          </div>

          <div class="list-group list-group-sm">
              <tags-input ng-model="skills" placeholder="Enter a skill" on-tag-removed='checkSteps();'  on-tag-added='checkSteps();' >
                <auto-complete source="loadSkills($query)"></auto-complete>
              </tags-input>
            <div class="line line-dashed"></div>
          </div>
        </div>

        <div id='step_2' ng-show="show_step_2">
          <div class="wrapper text-center">
            <h3>What would you like to learn?</h3>
          </div>
          <div class="list-group list-group-sm">
              <tags-input ng-model="learn" placeholder="Enter a skill" on-tag-removed='checkSteps();' on-tag-added='checkSteps();' >
                <auto-complete source="loadSkills($query)"></auto-complete>
              </tags-input>
            <div class="line line-dashed"></div>
          </div>
        </div>

        <div id='step_3' ng-show="show_step_3">
          <div class="wrapper text-center">
            <h3>All the tasks & profiles will be associated to a place. <br>Please add a place so that we can connect you to the users & tasks near you.</h3>
          </div>
          <div class="list-group list-group-sm">
              <ui-select ng-model="address.selected"
                     theme="bootstrap"
                     ng-disabled="disabled"
                     reset-search-input="false"
                     style="width: 100%;">
            <ui-select-match placeholder="Enter an address...">{{$select.selected.formatted_address}}</ui-select-match>
            <ui-select-choices repeat="address in addresses track by $index"
                     refresh="refreshAddresses($select.search)"
                     refresh-delay="0">
              <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
            <div class="line line-dashed"></div>
          </div>
        </div>

        <div id='done' class='text-center' ng-show="show_done">
        <button class="btn m-b-xs w-xs btn-default btn-lg  btn-rounded" ng-click='checkDone();'>Done</button>
        </div>

        

        <div id='next_1' class='text-center' ng-show="show_final_done">
          <div class="wrapper text-center">
            <h3>That's all we need to know.</h3>
          </div>
            <button class="btn btn-success btn-rounded btn-lg btn-block" ng-click='signup2();'>Let's go!</button>
        </div>

        
      
    </div>
  </div>