
  <!-- header -->
  <header id="header" class="navbar navbar-fixed-top bg-white-only padder-v"  data-spy="affix" data-offset-top="1" >
    <div class="container">
      <div class="navbar-header" style="width:auto;">
        <button class="btn btn-link visible-xs pull-right m-r" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <a href="#" class="navbar-brand m-r-lg"><img src="images/logo-main.png" class="m-r-sm hide"><span class="h3 font-bold">Placerange</span></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div class="m-t-sm">
              <a href="#/access/signin" class="btn btn-link btn-sm">Sign in</a> or 
              <a href="#/access/signup" class="btn btn-sm btn-success btn-rounded m-l"><strong>Sign up</strong></a>
            </div>
          </li>
        </ul>     
      </div>
    </div>
  </header>
  <!-- / header -->
  <div id="content" class="bg-white-only">
    
    <div class="bg-white-only">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="m-t-xxl m-b-xxl padder-v">
              <h1 class="font-bold l-h-1x m-t-xxl text-black padder-v animated fadeInDown">
                Help someone near you with what you know
                <br>Or<br>
                Get help from someone near you
              </h1>
              <h3 class="text-muted m-t-xl l-h-1x">There will be someone near you <span class="b-b b-2x"> who knows what you want to learn.</span></h3>
            </div>
            <p class="text-center m-b-xxl wrapper">
              <a href="#/access/signup" class="btn b-2x btn-lg b-black btn-default btn-rounded text-lg font-bold m-b-xxl animated fadeInUpBig">Sign me up!</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <div id="why" class="bg-white-only col-md-10 col-md-offset-1" ng-controller="landingCtrl">
      <div data-ng-include=" 'tpl/landing/search.html' " >
      </div>
      
    </div>
    
    <!-- <div class="bg-white-only">
      <div class="container">
        <div class="row m-t-xl m-b-xxl">
          <div class="col-sm-6" data-ride="animated" data-animation="fadeInLeft" data-delay="300">
            <div class="m-t-xxl text-center">
              <p>
              <a href="http://themeforest.net/user/Flatfull/portfolio?ref=flatfull" target="_blank" class="text-sm btn btn-lg btn-rounded btn-default m-sm">
                <i class="fa fa-apple fa-3x pull-left m-l-sm"></i>
                <span class="block clear m-t-xs text-left m-r m-l">Available on the <b class="text-lg block font-bold">App Store</b>
                </span>
              </a>
              </p>
              <p>
              <a href="index.html" target="_blank" class="text-sm btn btn-lg btn-rounded btn-default m-sm">
                <i class="fa fa-android fa-3x pull-left m-l-sm"></i>
                <span class="block clear m-t-xs text-left m-r m-l">Get it on <b class="text-lg block font-bold">Google Play</b>
                </span>
              </a>
              </p>
            </div>
          </div>
          <div class="col-sm-6 wrapper-xl">
            <h3 class="text-black font-bold m-b-lg">Find someone near you wherever you are</h3>
            <p class="h4 l-h-1x">You can use our app to find people with particular skill near you travel toa different place.</p>
          </div>
        </div>
      </div>
    </div> -->

  </div>
  <!-- footer -->
  <footer id="footer">
    <div class="bg-white">
      <div class="container">
        <div class="row m-t-xl m-b-xl">
          <div class="col-sm-3">
            <h4 class="text-u-c m-b font-thin"><span class="b-b b-dark font-bold">Latest</span> updates</h4>
            <ul class="list-unstyled">
              <li><i class="fa fa-angle-right m-r-sm"></i>Users can now be reviewed</li>
              <li><i class="fa fa-angle-right m-r-sm"></i>New Notifications tab</li>
              <li><i class="fa fa-angle-right m-r-sm"></i>New Calender feature</li>
              <li><i class="fa fa-angle-right m-r-sm"></i>Task user recommendation</li>
            </ul>
            <p class="m-b-xl">More coming...</p>
          </div>
          <div class="col-sm-3">
            <h4 class="text-u-c m-b font-thin"><span class="b-b b-dark font-bold">Find</span> Us</h4>
            <p class="text-sm">2A Cranmer Street <br>
              LE3 0QA — UNITED KINGDOM <br>
              +44 7482 188 910
             </p>
             <p>Sale: <a href="mailto:hello@placerange.com">hello@placerange.com</a></p>
             <p class="m-b-xl">Job: <a href="mailto:job@placerange.com">job@placerange.com</a></p>
          </div>
          <div class="col-sm-3">
            <h4 class="text-u-c m-b-xl font-thin"><span class="b-b b-dark font-bold">Follow</span> Us</h4>
            <div class="m-b-xl">
              <a href="http://www.facebook.com/placerange" class="btn btn-icon btn-rounded btn-dark"><i class="fa fa-facebook"></i></a>
              <a href="http://www.twitter.com/placerange" class="btn btn-icon btn-rounded btn-dark"><i class="fa fa-twitter"></i></a>
              <a href="https://plus.google.com/112907531198763800126/about" class="btn btn-icon btn-rounded btn-dark"><i class="fa fa-google-plus"></i></a>
              <a href="http://www.linkedin.com/placerange" class="btn btn-icon btn-rounded btn-dark"><i class="fa fa-linkedin"></i></a>
              <!-- <a href="#" class="btn btn-icon btn-rounded btn-dark"><i class="fa fa-pinterest"></i></a> -->
            </div>
          </div>
          <div class="col-sm-3">
            <h4 class="text-u-c m-b font-thin"><span class="b-b b-dark font-bold">News</span> Letter</h4>
            <p>Do not want to miss anything? Subscribe to our newsletter box</p>
            <form class="form-inline m-t m-b text-center m-b-xl">
              <div class="aside-xl inline">
                <div class="input-group">
                    <input type="text" id="address" name="address" class="form-control btn-rounded" placeholder="Your email">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-rounded" type="submit">Subscribe</button>
                    </span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-light dk">
      <div class="container">
        <div class="row padder-v m-t">
          <div class="col-xs-8">
            <ul class="list-inline">
              <li><a href="#">Sales</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">API</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Job</a></li>
            </ul> 
          </div>
          <div class="col-xs-4 text-right">
            Angulr &copy; 2015
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- / footer -->

  <script src="js/libs/jquery/jquery/dist/jquery.js"></script>
  <script src="js/libs/jquery/bootstrap/dist/js/bootstrap.js"></script>
  <script src="js/libs/jquery/jquery_appear/jquery.appear.js"></script>
  <script src="js/landing.js"></script>

